<div class="editor">
<fieldset class="x-fieldset x-form-label-left">
    <% form_remote_tag(:url => { :controller => 'admin/interpretation', :action => 'update', :id => interpretation.id }) do %>  
      <%= extjs_form_item("min. стен") do
        "<input type='text' name='interpretation[sten_from]' value='#{interpretation.sten_from}' class='text tiny  x-form-field x-form-text'>"
      end %>
     <%= extjs_form_item("max. стен") do
        "<input type='text' name='interpretation[sten_to]' value='#{interpretation.sten_to}' class='text tiny  x-form-field x-form-text'>"
      end %> 
      
      <%= extjs_form_item("Интерпретация") do
         "<textarea name='interpretation[content]' class='text small-plain-editor  x-form-field '>#{h(interpretation.content)}</textarea>"
       end %>
      
      <br>
      <div id="save-status">
        <%= flash[:message_saved] %>
      </div>
      <div class="object-control">
        <%= extjs_button( 'Сохранить', :method => :submit ) %>
      </div>
      <div class="object-control">  
        <%= link_to 'Удалить', {:controller => 'admin/interpretation', :action => 'destroy', :id => interpretation.id}, :remote => true,
         :class => 'destroy', :confirm => 'Удалить интерпретацию?'  %>
      </div>
    <% end %>  
  </fieldset>
</div>
