<ul>
<% Interpretation.find(:all, :conditions => { :factor_id => factor.id, :report_id => report.id }).each do |i| %>
  <li id='interpretation-<%= i.id %>'>
    <%= render :partial => 'admin/interpretation/editor', :locals => { :interpretation => i }%>
  </li>
<% end %>
</ul>
