.well.form
	.row
		.span2= f.label :sten_from,  "min стен"
		.span4= f.text_field :sten_from, :class => "span4"
	.row
		.span2= f.label :sten_to,  "max стен"
		.span4= f.text_field :sten_to, :class => "span4"
	.row
		.span2= f.label :content,  "Интерпретация"
		.span6= f.text_area :content, :class => "span6", :rows => "7"
	.row
		.span3			
			= link_to_remove_fields "Удалить", f, ".well", class: "btn btn-danger"