<div class="fields">
  <%= link_to image_tag("questions/edit.gif", :title => "редактировать в окне"), "#", :class => "belbin_edit_image"%>
  <%= f.text_field :instruction, :class => "belbin_edit_textfield" %>
  <%= f.select :factor_ids, factors%>
  <%= f.check_box :_destroy, :style=>'display:none'%>
  <%= link_to_function 'Удалить', 'remove_fields(this)'%>
</div>
