<tr>
  <td class="label">Обязательный?</td>
  <td><%= f.check_box :required %>
</tr>
<tr>
  <td class="label">Анкетный?</td>
  <td><%= f.check_box :profile %>
</tr>
<tr>
  <td class="label">Ручной номер</td>
  <td><%= f.text_field :numeration %>
</tr>
<tr>
  <td class="label">Факторы</td>
  <td>
    <ul>
    <% question.quiz.factor_groups.each do |group| %>
      <li>
        <label><%= group.title %>:</label><br>
        <select name="question[factors_list][]" class="long">
          <option value=""></option>
          <%=options_for_select group.children.values_of(:title, :id), question.factor_ids & group.children.values_of(:id) %>
        </select>
      </li>
    <% end %>
    </ul>
  </td>
</tr>
