<div class="handle">
  <span class="trash">
    <%= link_to(raw('<img src="/images/questions/trash.gif">'), { :controller => '/questions', :action => 'destroy', :id => question.id }, :confirm => "Удалить вопрос?", :remote => true) %>
  </span>
  <span class="edit" >
    <%= link_to(raw('<img src="/images/questions/edit.gif">'), {  :controller => '/questions', :action => 'edit', :id => question.id }, :remote => true) %>
  </span>
  <span class="cursor">
    <img src="/images/questions/drag_handle.gif">
  </span>
</div>
