<div id="questions-editor">
  <% if editable %>
  <%= render 'questions/toolbar' %>
  <% end %>
  <ul id="questions-list">
    <% @questions.each do |question| %>
    <li id="question_<%=question.id%>" class="question">
      <% if editable %>
      <%= render :partial => 'questions/handle',   :locals => { :question => question }%>
      <% end %>
      <div id="question-view-<%=question.id%>" class="question-view">
        <%= render :partial => "#{question.path}/view", :locals => { :question => question }%>
      </div>
    </li>
    <% end %>
  </ul>
  <%= sortable_element 'questions-list',
      :url => { :controller => '/questions', :action => 'questions_sort', :id => quiz.id },
      :handle => 'cursor', :overlap => :vertical, :constraint => :vertical , :scroll => true %>
</div>

<% if quiz && quiz.belbin? %>
  <div id="belbin-item-edit-dialog" title="Редактирование">
  	<form>
  		<label for="belbin-item-instruction">Текст:</label><br/>
  		<textarea name="belbin-item-instruction" id="belbin-item-instruction" class="text ui-widget-content ui-corner-all"></textarea>
  	</form>
  </div>
<% end %>
