<div class="submit">
  <table><tr>
    <td><%= extjs_button 'Сохранить', :method => :submit %></td>
    <td>
      <%= link_to 'Отмена', { :controller => 'questions', :action => 'view', :id => question.id }, :remote => true%>
    </td>
  </tr></table>
</div>