<div class="questions-toolbar">
  <% quiz_questions(quiz).each do |klass|%>
    <%= link_to klass.model_name.human, { :controller => '/questions', :action => 'new', :id => quiz.id, :question_type => klass.to_s}, :remote => true %>
  <%end%>
</div>
