:javascript
	$(document).ready(function(){
		$("#add-quiz").modal({
			show: true
		});
	});
.modal.hide.fade#add-quiz
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "Новый опрос"
	= form_for @quiz, url: admin_quizzes_path, remote: true do |f|
		.modal-body		
			.row
				.span2= f.label :title, "Название"
				.span4= f.text_field :title, :class => "input-xlarge span4"
			.row
				.span2= f.label :kind, "Тип"
				.span4= f.select :kind, Quiz.kinds_for_select, { include_blank: false }, :class => "input-xlarge span4"
		.modal-footer
			%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Отмена"
			%button.btn.btn-primary{ :type => "submit" }= "Сохранить"