:javascript
	$(document).ready(function(){
		$('div.btn-group[data-toggle-name=*]').each(function(){
			var group   = $(this);
			var form    = group.parents('form').eq(0);
			var name    = group.attr('data-toggle-name');
			var hidden  = $('input[name="' + name + '"]', form);
			$('button', group).each(function(){
			  var button = $(this);
			  button.live('click', function(){	      	
			    hidden.val($(this).val());
			  });
			  if(button.val() == hidden.val()) {
			    button.addClass('active');
			  }
			});
		});

		$('textarea').redactor({ 
			autoresize: false,
			buttons: ['html', '|', 'formatting', '|', 'bold', 'italic', 'deleted', '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent', '|', 'table', 'link', '|', 'fontcolor', 'backcolor', '|', 'alignleft', 'aligncenter', 'alignright', 'justify', '|', 'horizontalrule'],
			lang: 'ru'
		});

	});

:javascript
		function confirmation(form_id){
			var new_kind = $("#quiz_kind").attr('value');
			var old_kind = $("#quiz_kind").attr('data-old');

			if (new_kind == 'belbin' && old_kind != 'belbin' || old_kind == 'belbin' && new_kind != 'belbin'){
				var confirms = confirm("'Психометрический тест (ранг = фактор)' несовместим с другими типами опросов! Данные изменения могут привести к потере данных. Вы уверены, что хотите продолжить?");
				if (confirms){ 
					$("#edit_quiz_"+form_id).submit();
				} else { 
					$("#edit_quiz_"+form_id).submit(false); 
				}
			} else {$("#edit_quiz_"+form_id).submit();}
			return false;
		}

.center-pane.quiz
	= form_for @quiz, url: admin_quiz_path(@quiz), remote: true do |f|
		.row
			.span3= f.label :title, "Заголовок"
			.span4= f.text_field :title, :class => "span4"
		.row
			.span3= f.label :fixed_values, "Зафиксировать статистику?"
			.span4
				.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "quiz[fixed_values]" }
					%button.btn{ :type => "button", value: "1" }= "Да"
					%button.btn{ :type => "button", value: "0" }= "Нет"
				= f.hidden_field :fixed_values
		.row
			.span3= f.label :mark_required, "Выделение"
			.span4= f.select :mark_required, { "Выделять необязательное" => true, "Выделять обязательное" => false},{ :include_blank => false }, :class => "span4"
		/ .row
		/ 	.span3= f.label :escape_anons, "Пропустить инструкцию?"
		/ 	.span4
		/ 		.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "quiz[escape_anons]" }
		/ 			%button.btn{ :type => "button", value: "1" }= "Да"
		/ 			%button.btn{ :type => "button", value: "0" }= "Нет"
		/ 		= f.hidden_field :escape_anons
		.row
			.span3= f.label :announce, "Анонс"		
		.row
			.span8= f.text_area :announce, :class => "span8", :style => "width: 200px"
		.row{ :style => "margin-top: 10px;" }
			.span3= f.label :instruction, "Инструкция"		
		.row
			.span8= f.text_area :instruction, :class => "span8", :style => "width: 200px"
		.row{ :style => "margin-top: 10px;" }
			.span3= f.label :forward, "Только вперед?"
			.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "quiz[forward]" }
				%button.btn{ :type => "button", value: "1" }= "Да"
				%button.btn{ :type => "button", value: "0" }= "Нет"
			= f.hidden_field :forward
		.row
			.span3= f.label :kind, "Тип опроса"
			.span4= f.select :kind, Quiz.kinds_for_select,{ :include_blank => false }, :class => "span4", data: {old: "#{@quiz.kind}"} 
		.row
			.span3= f.label :custom_numeration, "Ручная нумерация?"
			.span4
				.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "quiz[custom_numeration]" }
					%button.btn{ :type => "button", value: "1" }= "Да"
					%button.btn{ :type => "button", value: "0" }= "Нет"
				= f.hidden_field :custom_numeration
		.row{ :style => "margin-top: 10px;" }
			.span3= f.label :epilog, "Текст по окончании теста"
		.row
			.span8= f.text_area :epilog, :class => "span8", :style => "width: 200px"
		.row{ :style => "margin-top: 10px;" }
			.span3= f.label :custom_paging, "Разбиение вопросов по страницам"
			.span4
				= f.radio_button :custom_paging, false
				вручную
		.row
			.span3 &nbsp;
			.span4.input-append
				= f.radio_button :custom_paging, false
				= f.text_field :page_size, :class => "span2"
				%span.add-on вопросов на страницу
		.row
			.span3= f.label :limit, "Время ответа"
			.span4= f.text_field :limit, :class => "span2"	
		.form-actions
			= link_to "Сохранить", "#", onclick: "confirmation(#{@quiz.id})", class: " btn btn-primary"
			/ %button.btn.btn-primary{ onclick: "qwerty()" } Сохранить
			= link_to "Удалить", admin_quiz_path(@quiz), method: :delete, confirm: "Вы уверены?", class: "btn btn-danger"