<div class="editor">
  <fieldset class="x-fieldset x-form-label-left">
    <legend class="x-fieldset-header">Страница</legend>
    <div class="form-content x-fieldset-body">
    <% form_remote_tag(:url     => { :action => 'update', :id => @page.id },  :before => 'getEditorsData();') do  %>
      <%= extjs_form_item("Заголовок")  { text_field   'page', 'title',
        :class => 'text long x-form-field x-form-text' } %>
      <%= extjs_form_item("Текст")  { text_area   'page', 'content',
        :class => 'plain-editor wysiwyg x-form-field x-form-text' } %>
      <div id="save-status">
       <%= flash[:message_saved] %>
     </div>
      <div class="object-control">
        <%= extjs_button( 'Сохранить', :method => :submit ) %>
      </div>
    <%end%>
  </fieldset>  
</div>

