= javascript_include_tag 'redactor', 'redactor.ru'
= stylesheet_link_tag 'redactor'

:javascript
  $(document).ready(function(){
    $('textarea').redactor({ 
      autoresize: false,
      buttons: ['html', '|', 'formatting', '|', 'bold', 'italic', 'deleted', '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent', '|', 'table', 'link', '|', 'fontcolor', 'backcolor', '|', 'alignleft', 'aligncenter', 'alignright', 'justify', '|', 'horizontalrule'],
      lang: 'ru'
    });
  });

.full-pane
  .tabbable.tabs-left
    %ul.nav.nav-tabs
      - @pages.each do |p|
        %li{ class: @aId == p.id ? "active" : "" }
          %a{ :href => "#page_#{p.id}", "data-toggle" => "tab", id: "p_title_#{p.id}" }= p.title
    .tab-content
      - @pages.each do |p|
        .tab-pane{ id: "page_#{p.id}", class: @aId == p.id ? "active" : "", style: "padding-left: 280px;" }
          = form_for [:admin, p], method: :put, remote: true do |f|
            .row{ style: "height: 50px;" }
              .span2= f.label :title, "Заголовок"
              .span4= f.text_field :title, class: :span4
            .row
              .span2= f.label :content, "Текст"
              .span8= f.text_area :content, class: :span8, style: "height: 400px;"
            .row{ style: "margin-top: 15px;" }
              .span2 &nbsp;
              .span4= f.submit "Сохранить", class: "btn btn-primary"