:javascript
	$(document).ready(function(){
		$("#add-factor").modal({
			show: true
		});

	});
.modal.hide.fade#add-factor
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "Новый фактор"
	= form_for @factor, :url => admin_quiz_factors_path(@quiz) do |f|
		.modal-body		
			.row
				.span2= f.label :title, "Название"
				.span4= f.text_field :title, :class => "input-xlarge span4"
		.modal-footer
			%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Отмена"
			%button.btn.btn-primary#add-factor-btn{ :type => "submit" }= "Сохранить"