:javascript
	$(document).ready(function(){
		$("#add-project-dlg").modal({
			show: true
		});
	});
.modal.hide.fade#add-project-dlg
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "Новый проект"
	= form_for @project, :url => admin_projects_path, remote: true do |f|
		.modal-body		
			.row
				.span2= f.label :title, "Название"
				.span4= f.text_field :title, :class => "input-xlarge span4"
		.modal-footer
			%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Отмена"			
			%button.btn.btn-primary#add-project-btn{ :type => "submit" }= "Сохранить"