:javascript
	$(document).ready(function(){
		$("#answers-dlg").modal({
			show: true
		});
	});
.modal.hide.fade#answers-dlg
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "Ответы"	
	.modal-body		
		%table.table.table-striped.table-bordered.table-condensed.tablesorter
			%thead
				%tr
					%th= "Вопрос"
					%th= "Ответ"
					%th= "Балл"
			%tbody
				- @quiz.answerable_questions.each  do |q|
					- answer = q.answer_for(@user)
					%tr
						%td= "#{q.number + 1}. #{q.instruction}"
						/ - binding.pry
						- unless answer.blank?
							- begin
								/ %td= q.value_title(answer.raw).force_encoding("utf-8")
								%td= answer.view
							- rescue
								/ - binding.pry
								%td= "n/a"								
							%td= answer.value
						- else
							%td= "N/A"
	.modal-footer
		%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Закрыть"		