:javascript
	$(document).ready(function(){
		$("#move-to-project").modal({
			show: true
		});
	});
.modal.hide.fade#move-to-project
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "Переместить в проект"
	= form_for :user, :url => apply_move_users_admin_project_path(@project), :class => "form-horizontal", :remote => true do |f|
		- @ids.each do |id|
			= f.hidden_field "usr[#{id}]", value: id
		.modal-body		
			.row
				.span2= f.label :project_id, "Выберите проект:"
				.span4= f.collection_select :project_id, Project.all, :id, :title, { :include_blank => false }, :class => "input-xlarge span4"
		.modal-footer
			%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Отмена"
			%button.btn.btn-primary#apply-move-btn{ :type => "submit" }= "Переместить"