:javascript
	$(document).ready(function(){		
		$("#paste-code-dlg").modal({
			show: true
		});

		$('#paste-code-dlg').on('shown', function () {
			$('a#copy-code').zclip({
			  path:'/assets/ZeroClipboard.swf',
			  copy:$('#project_links_code').val()
			});

			$('a#copy-code-reg').zclip({
			  path:'/assets/ZeroClipboard.swf',
			  copy:$('#project_links_code_reg').val()
			});

			$('a#copy-link').zclip({
			  path:'/assets/ZeroClipboard.swf',
			  copy:$('#project_links_reg_link').val()
			});
		});		

	});
.modal.hide.fade#paste-code-dlg
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "Код для вставки"
	.modal-body
		= form_for :project_links, url: "#", class: "form-horizontal" do |f|
			.row
				.span5= f.label :code, "Код для вставки"
				.span5
					.input-append
						= f.text_field :code, class: "input-xlarge span6", value: "#{"<iframe src='http://#{request.host_with_port}/remote?project_id="+@project.id.to_s+"' width='800' height='1200'></iframe>".html_safe}"
						%a.btn#copy-code						
							%i.icon-share
			.row
				.span5= f.label :code, "Код для вставки (сначала регистрация)"
				.span5
					.input-append
						= f.text_field :code_reg, class: "input-xlarge span6", value: "#{"<iframe src='http://#{request.host_with_port}/remote?project_id="+@project.id.to_s+"&type=register' width='800' height='1200'></iframe>".html_safe}"
						%a.btn#copy-code-reg				
							%i.icon-share
			.row
				.span5= f.label :reg_link, "Ссылка для регистрации"
				.span5
					.input-append
						= f.text_field :reg_link, class: "input-xlarge span6", value: "#{h("http://#{request.host_with_port}/auth/register?project_id="+@project.id.to_s)}"
						%a.btn#copy-link
							%i.icon-share
	.modal-footer
		%a.btn{ href: "#", data: { dismiss: "modal" } }= "Закрыть"			