:javascript
	$(document).ready(function(){		
		function getReports(element){
		    var quiz_id = $(element).attr("value");
		    var select_id = $(element).attr("data-type");
		    var selected_id = $(element).attr("data-value");
		    
		    var el = $("#r"+select_id);

		    $.get('#{params[:id]}/reports?quiz_id='+quiz_id+'&value='+selected_id, function(data){
		      $(el).empty();
		      $(el).append(data);
		    });
		};

		function getReports_withoudID(element){
			var quiz_id = $(element).attr("value");
			var selected_id = $(element).attr("data-value");

			var el = $(element).parent().next().find('select');

			$.get('#{params[:id]}/reports?quiz_id='+quiz_id+'&value='+selected_id, function(data){
				$(el).empty();
				$(el).append(data);
			});
		};

		$("#project-polls-dlg").modal({
			show: true
		});

		$('.select-quiz').each(function(){
			getReports(this);
		});

		$('.addEl').click(function(){
			var el = $('.select-quiz').last();
			console.log(el.html());
			getReports_withoudID(el);
		});

		RadioButtons = {
			refresh: function(){
				$('div.btn-group[data-toggle-name=*]').each(function(){
					var group   = $(this);
					var form    = group.parents('form').eq(0);
					var name    = group.attr('data-toggle-name');
					var hidden  = $(group).next();
					$('button', group).each(function(){
					  var button = $(this);
					  button.live('click', function(){	      	
					    hidden.val($(this).val());
					  });
					  if(button.val() == hidden.val()) {
					    button.addClass('active');
					  }
					});
				});
			}
		}
		RadioButtons.refresh();
	});

.modal.hide.fade#project-polls-dlg
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "Опросы проекта"

	= form_for @project, url: admin_project_path(@project), remote: true, :class => "form-horizontal" do |f|
		.modal-body			
			#quiz-container
				= f.fields_for :project_quizzes do |builder|
					= render "admin/projects/project_quiz_fields", f: builder
			= link_to_add_fields "Добавить опрос", f, :project_quizzes, "#quiz-container", "last", {class: "btn addEl"}
		.modal-footer
			%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Закрыть"
			%button.btn.btn-primary#save-project-btn{ :type => "submit" }= "Сохранить"