- unless UserQuiz.is_started?(user, quiz)
  %div{ style: "float: left; margin-right: 5px; line-height: 28px;", class: "quiz-date" }= user.created_at.strftime("%d.%m.%Y")
  %button.btn{type: "button", disabled: "disabled", style: "width: 52px;"}
    %i.icon-plus-sign
- else      
  - if UserQuiz.not_completed?(user, quiz)
    %div{ :style => "float: left; margin-right: 5px; line-height: 28px;", class: "quiz-date" }
      - unless UserQuiz.get(user, quiz).nil?
        = UserQuiz.get(user, quiz).created_at.strftime("%d.%m.%Y")
      - else
        = "null for (#{user.id}, #{quiz.id})"
    .btn-group
      = link_to '#', :class => "btn btn-warning dropdown-toggle", "data-toggle" => "dropdown" do    
        %i.icon-time
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to reset_admin_project_user_quiz_path(user.project, user, quiz), remote: true, confirm: "Вы уверены?" do
            %i.icon-remove
            = "Сбросить"
  - else
    %div{ :style => "float: left; margin-right: 5px; line-height: 28px;", class: "quiz-date" }
      = UserQuiz.get(user, quiz).updated_at.strftime("%d.%m.%Y")
    .btn-group
      = link_to '#', :class => "btn btn-success dropdown-toggle", "data-toggle" => "dropdown" do
        %i.icon-ok-circle        
        %span.caret
      %ul.dropdown-menu
        %li.dropdown-submenu        
          = link_to "Отчет", '#', tabindex: -1
          %ul.dropdown-menu
            %li.view-report
              = link_to show_report_admin_project_user_quiz_path(user.project, user, quiz), remote: true do
                %i.icon-eye-open
                = "Просмотр"
            %li
              = link_to export_report_admin_project_user_quiz_path(user.project, user, quiz, format: :html), target: :blank do
                %i.icon-share
                = "Версия для печати"
            %li
              = link_to export_report_admin_project_user_quiz_path(user.project, user, quiz, format: :pdf), target: :blank do
                %i.icon-share
                = "PDF версия"
            %li
              = link_to export_report_admin_project_user_quiz_path(user.project, user, quiz, anketa: true, format: :pdf), target: :blank do
                %i.icon-share
                = "PDF версия с анкетой"
        %li.divider
        %li.dropdown-submenu        
          = link_to "Ответы", '#', tabindex: -1
          %ul.dropdown-menu
            %li.view-answers
              = link_to show_answers_admin_project_user_quiz_path(user.project, user, quiz), remote: true do
                %i.icon-eye-open
                = "Просмотр"
            %li
              = link_to reset_admin_project_user_quiz_path(user.project, user, quiz), remote: true, confirm: "Вы уверены?" do
                %i.icon-remove
                = "Сбросить"
            %li          
              = link_to export_answers_admin_project_user_quiz_path(user.project, user, quiz, values: false, format: :html), target: :blank do
                %i.icon-share
                = "Версия для печати - только ответы"
            %li
              = link_to export_answers_admin_project_user_quiz_path(user.project, user, quiz, values: true, format: :html), target: :blank do
                %i.icon-share
                = "Версия для печати - ответы и баллы"
            %li
              = link_to export_answers_admin_project_user_quiz_path(user.project, user, quiz, values: false, format: :pdf), target: :blank do
                %i.icon-share
                = "PDF версия - только ответы"
            %li
              = link_to export_answers_admin_project_user_quiz_path(user.project, user, quiz, values: true, format: :pdf), target: :blank do
                %i.icon-share
                = "PDF версия - ответы и баллы"        
        %li.divider
        %li.dropdown-submenu
          = link_to "Статистика", '#', tabindex: -1
          %ul.dropdown-menu
            %li.view-stat
              = link_to show_statistics_admin_project_user_quiz_path(user.project, user, quiz), remote: true do
                %i.icon-eye-open
                = "Просмотр"