:javascript
	$(document).ready(function(){
		$("#answers-dlg").modal({
			show: true
		});
	});

:css
	.chartlist { 
	      border-top: 1px solid #EEE; 
	      display: block;
	      border-collapse: collapse;
	      margin: 25px;
	    }

	    .chartlist td.filled {
	      background: #F0F0F0;
	      border: 1px solid #909090;
	      width: 21px;
	    }

	    .chartlist td.empty {
	        background: #F0F0F0;
	        border: 1px solid #909090;
	        width: 21px;
	    }
	    
	    .chartlist td img {
	      display: block;
	      margin: 5px 0;
	    }


	    .chartlist .label { 
	    	font-size: 10px; text-align: center;
	    	margin: 0;
				background: none;
				color: black;
				display: table-cell;
	    }


	    .chartlist td.mark-left    { border-left:   2px solid black; }
	    .chartlist td.mark-right   { border-right: 2px solid black; }

	    .chartlist td.orange-right { border-right: 1px solid #eb711f;}
	    .chartlist td.orange-left  { border-left: 1px solid #eb711f;}


	    .chartlist td.factor-title {
	        width: 250px;
	        font-size: 12px;
	    }

	    .chartlist .sten { font-size: 11px; padding-right: 5px;}
.modal.hide.fade#answers-dlg
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "#{@quiz.title} / #{@user.title}"
	.modal-body		
		= render "shared/quiz_full_report"
	.modal-footer
		%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Закрыть"	