:javascript
	$(document).ready(function(){
		$("#notice-history-dlg").modal({
			show: true
		});

		$('#notice-history-dlg').on('hide', function () {
			$.noty.close(window.previewAlert);
		});

		var tableObj = $('#notice-list').dataTable({
			"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
			"sPaginationType": "bootstrap",
			"aoColumns":[{ "bSortable": false },null,null],
			"oLanguage": {
				"sProcessing":   "Подождите...",
				"sLengthMenu":   "Показать _MENU_ записей",
				"sZeroRecords":  "Записи отсутствуют.",
				"sInfo":         "Записи с _START_ до _END_ из _TOTAL_",
				"sInfoEmpty":    "Записи с 0 до 0 из 0",
				"sInfoFiltered": "(из _MAX_)",
				"sInfoPostFix":  "",
				"sSearch":       "Поиск:",
				"sUrl":          "",
				"oPaginate": {
					"sFirst": "<<",
					"sPrevious": "<",
					"sNext": ">",
					"sLast": ">>"
				}
			}
		});
		Service.refreshBootstrapRadio();
		$("a[rel='tooltip']").tooltip();
		$("#send_template").change(function(){
			base_url = "#{preview_admin_project_notices_path(@project)}"
			url = base_url + "?template_id=" + $(this).val();
			$("#preview-link").attr('href', url);
			return false;
		});
	});
.modal.hide.fade#notice-history-dlg{ style: "margin-top: 0px !important; top: 0px;" }
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "Отправить уведомление"	
	= form_for :send, url: process_send_admin_project_path(@project), remote: true do |f|
		.modal-body{style: "max-height: 600px;"}
			%fieldset
				%legend= "Шаблон:"
				.row
					.span4= f.label :template, "Шаблон"
					.span3
						.input-append
							= f.select :template, @templates.collect{|t|[t.title, t.id] } , :include_blank => false
							= link_to preview_admin_project_notices_path(@project, template_id: @templates.count > 0 ? @templates.first.id : ""), remote: true, class: :btn, :"data-original-title" => "Просмотр", rel: :tooltip, id: "preview-link" do
								%i.icon-eye-open
							= link_to new_admin_project_notice_path(@project, section: :projects), remote: true, class: :btn, :"data-original-title" => "Добавить новый", rel: :tooltip do
								%i.icon-plus						
				.row
					.span4= f.label :priority, "Приоритет"
					.span3
						.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "send[priority]" }
							%button.btn{ :type => "button", value: 0 }= "Низкий"
							%button.btn{ :type => "button", value: 1 }= "Средний"
							%button.btn{ :type => "button", value: 2 }= "Высокий"
						= f.hidden_field :priority
				.row{ style: "margin-top: 10px;" }
					.span4= f.label :send_copy, "Отправить копию на e-mail админа"
					.span3
						.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "send[send_copy]" }
							%button.btn{ :type => "button", value: 1 }= "Да"
							%button.btn{ :type => "button", value: 0 }= "Нет"
						= f.hidden_field :send_copy
				.row{ style: "margin-top: 10px;" }
					.span4= f.label :send_copy_2, "Отправить копию на следующие e-mail"
					.span3= f.text_field :admin_email, value: "", class: :span3
			%fieldset
				%legend= "Кому:"
				%table.table.table-striped.table-bordered.table-condensed#notice-list
					%thead
						%tr
							%th.center
							%th Имя Фамилия									
							%th E-mail						
					%tbody
						- @users.each do |user|
							%tr
								%td.center= check_box_tag "send[users][]", user.id, true
								%td= user.title
								%td= user.email
		.modal-footer
			%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Закрыть"
			%button.btn.btn-primary{ type: :submit }= "Отправить"