:javascript
	$(document).ready(function(){		
		$("#project-settings-dlg").modal({
			show: true
		});
		$('div.btn-group[data-toggle-name=*]').each(function(){
			var group   = $(this);
			var form    = group.parents('form').eq(0);
			var name    = group.attr('data-toggle-name');
			var hidden  = $('input[name="' + name + '"]', form);
			$('button', group).each(function(){
			  var button = $(this);
			  button.live('click', function(){	      	
			    hidden.val($(this).val());
			  });
			  if(button.val() == hidden.val()) {
			    button.addClass('active');
			  }
			});
		});
	});
.modal.hide.fade#project-settings-dlg
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "Параметры проекта"
	= form_for @project, :url => admin_project_path(@project), method: "PUT", remote: true, class: "form-horizontal" do |f|
		.modal-body			
			.row
				.span2= f.label :title, "Заголовок"
				.span5= f.text_field :title, :class => "input-xlarge span5"					
			.row
				.span2= f.label :style, "CSS проекта"
				.span5= f.text_area :style, :class => "input-xlarge span5", :rows => "6"
			.row.mt5
				.span2= f.label :allow_anonim, "Анонимная регистрация?"
				.span2
					.btn-group#radio{ :"data-toggle" => "buttons-radio", :"data-toggle-name" => "project[allow_anonim]" }
						%button.btn{ :type => "button", :value => 1 }= "Да"
						%button.btn{ :type => "button", :value => 0 }= "Нет"
					= f.hidden_field :allow_anonim
			.row.mt5
				.span2= f.label :default, "Проект по-умолчанию?"
				.span2
					.btn-group#radio{ :"data-toggle" => "buttons-radio", :"data-toggle-name" => "project[default]" }
						%button.btn{ :type => "button", :value => 1 }= "Да"
						%button.btn{ :type => "button", :value => 0 }= "Нет"
					= f.hidden_field :default
		.modal-footer
			%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Закрыть"			
			%button.btn.btn-primary#update-project-btn{ :type => "submit" }= "Сохранить"