:javascript
	$(document).ready(function(){
		$("#answers-dlg").modal({
			show: true
		});
	});
.modal.hide.fade#answers-dlg
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "#{@quiz.title} / #{@user.title}"
	.modal-body		
		%table.table.table-striped.table-bordered.table-condensed.tablesorter
			%thead
				%tr
					%th= "Фактор"
					%th= "Значение"
					%th= "Z-балл"
					%th= "Стен"
			%tbody
				- @quiz.factors.each do |factor|
					%tr
						%td= factor.title
						%td= factor.value(@user)
						%td= '%.02f' % factor.zvalue(@user)
						%td= factor.sten(@user).to_i				
	.modal-footer
		%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Закрыть"					