<div class="variant question-editor">
  <div class="editor">
    <%= form_for @question, :url => { :controller => 'questions', :action => 'update', :id => @question.id}, :as=>:question, :remote=>true do |f| %>
      <table>
        <tr>
          <td class="label">Текст вопроса</td>
          <td><%= text_area  'question', 'instruction', :id => "question-#{@question.id}-instruction" %></td>
        </tr>
        <tr>
          <td class="label">Варианты</td>
          <td>
            <%= f.text_area  :variants, :class => 'long-text', :value=>@question.real_variants %>
            <br/> <i class='info'>Используйте <%= AppConfig.weight_splitter %> для задания веса, например, "вариант1<%= AppConfig.weight_splitter %>23"</i>
          </td>
        </tr>
        <tr>
          <td class="label">&laquo;Инверсный&raquo; </td>
          <td><%= f.check_box :inverse%>
        </tr>
        <tr>
          <td class="label">Отображение</td>
          <td><%= f.select :view_type, Questions::Variant.view_types %></td>
        </tr>
        <%= render 'questions/edit_form', :f=>f, :question=>@question%>
      </table>
      <%= render 'questions/submit_block', :question=>@question%>
    <% end %>
  </div>
</div>
