.variant
  %form.observer{:action => "#", "data-url" => quiz_answer_path(quiz, question)}
    %table.variant-view
      %tr
        %td.instruction
          = show_numeration(quiz, question)
          = question.instruction
          / = question.inverse?
          = required_answer_for(question, project_quiz)
          / - question.list_variants.each_with_index do |variant, index|
          /   = variant.force_encoding('utf-8')
      %tr
        %td
          - if question.list?
            %select
              %option{:value => ""}
              - question.list_variants.each_with_index do |variant, index|
                %option{:value => index}= variant
          - elsif question.radio?
            %ul
              - question.list_variants.each_with_index do |variant, index|
                %li.variant
                  %label
                    %input{:name => "question#{question.id}", :type => "radio", :value => "#{index+1}"}/
                    %span= variant.force_encoding('utf-8')
