.variant
  %table.variant-view
    %tr
      %td.instruction
        = show_numeration(quiz, question)
        = question.instruction
    %tr
      %td
        - if question.list?
          %select
            = options_for_select question.list_variants
        - else
          %ul
            - question.list_variants.each do |variant|
              %li.variant
                %label
                  %input{:name => "question-#{question.id}", :type => "radio"}/
                  %span= variant