<div class="scale question-editor">
  <div class="editor">
  <%= form_for @question, :as=>:question, :remote=>true, :url => { :controller => 'questions', :action => 'update', :id => @question.id} do |f| %>
    <table>
    <tr>
      <td class="label">Тип шкалы</td>
      <td><%= select  'question', 'parity', 
        AppConfig.scale_parity.map{ |key, value| [value, key] }, 
          :id => "question-#{@question.id}[parity]" %></td>
    </tr>
    <tr>
      <td class="label">Размерность шкалы</td>
      <td><%= text_field  'question', 'length', :id => "question-#{@question.id}[length]", :class => 'small-text' %> баллов</td>
    </tr>
    <tr>
      <td class="label">Текст слева</td>
      <td><%= text_field  'question', 'left_instruction', :id => "question-#{@question.id}[left_instruction]", :class => 'long-text' %></td>  
    </tr><tr>
      <td class="label">Текст справа</td>
      <td><%= text_field 'question',  'right_instruction', :id => "question-#{@question.id}[left_instruction]", :class => 'long-text' %></td>
    </tr>
    <%= render '/questions/edit_form', :f=>f, :question=>@question%>
    </table>
    <%= render '/questions/submit_block', :question=>@question%>
  <% end %>
  </div>
</div>