<div class="scale">
  <table class="scale-view">
    <tr>
      <td class="left-instruction">
        <%= show_numeration(quiz, question) %>
        <%= question.left_instruction%></td>
      <td>
        <form class="observer" action="#" data-url="<%= quiz_answer_path(quiz, question) %>">
          <table class="variant-view">
            <tr>
              <% question.length.times.to_a.reverse.each do |value| %>
                <td>
                  <input type="radio" value="<%=-(value + 1)%>">
                  <div>-<%= value + 1%></div>
                </td>
              <% end %>
              <% if question.parity.odd? %>
                <td>
                  <input type="radio" value="0">
                  <div>0</div>
                </td>
              <% end %>
              <% question.length.times do |value| %>
                <td>
                  <input type="radio" value="<%=value + 1%>">
                  <div>+<%= value + 1 %></div>
                </td>
              <% end %>
            </tr>
          </table>
        </form>
      </td>
      <td class="right-instruction">
        <%= question.right_instruction%>
        <%= required_answer_for(question, project_quiz)%>
      </td>
    </tr>
  </table>
</div>