<div class="scale">
  <table class="scale-view"><tr>
    <td class="left-instruction">
      <%= show_numeration(quiz, question)  %>
      <%= question.left_instruction%>
    </td>
    <td>
      <table class="variants"><tr>
        <% question.length.times.to_a.reverse.each do |value| %>
          <td>
            <input type="radio" name="question-<%=question.id%>-variant">
            <div>-<%= value + 1%></div>
          </td>
        <% end %>
      <% if question.parity.odd? %>
        <td>
          <input type="radio" name="question-<%=question.id%>-variant">
          <div>0</div>
        </td>
      <% end %>
      <% question.length.times do |value| %>
        <td>
          <input type="radio" name="question-<%=question.id%>-variant">
          <div>+<%= value + 1 %>
        </td>
      <% end %>
      </tr></table>
    </td>
    <td class="right-instruction"><%= question.right_instruction%></td>
  </table>
</div>