:javascript
	$(document).ready(function(){
		$('.change-form').click(function(){
			var target = $(this).attr('data-form');
			$('form').toggleClass('hidden');

			return false;
		});
	});

#registration
	= form_for current_person, url: remote_auth_process_registration_path, html: { class: params[:remote_auth_type] == 'new_user' ? '' : 'hidden' } do |f|
		= render 'shared/profile_form', f: f
	= render 'shared/remote_login_form' if @remote_params[:remote] == true