:javascript
	$(document).ready(function(){
		$("#crud-notify-dlg").modal({
			show: true,
			backdrop: #{@is_project_section ? "false" : "true"}
		});
		$("#crud-notify-dlg").on('hidden', function(){
			#{@is_project_section ? "$('#add-project-dialog-container').css('visibility', '');" : ""}
		});
		$("#crud-notify-dlg").on('shown', function(){
			console.log('fired shown');
			prepareEditor();
		});
		function prepareEditor(){
			$('#notice_content').redactor({ 
				autoresize: false,
				buttons: ['html', '|', 'formatting', '|', 'bold', 'italic', 'deleted', '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent', '|', 'table', 'link', '|', 'fontcolor', 'backcolor', '|', 'alignleft', 'aligncenter', 'alignright', 'justify', '|', 'horizontalrule'],
				lang: 'ru'
			});
		}		
	});
.modal.hide.fade#crud-notify-dlg
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "Шаблон уведомления"
	= simple_form_for @notice, :url => admin_project_notices_path(@project, section: @is_project_section ? :projects : ""), remote: true do |f|
		.modal-body		
			= render "shared/notices/form", f: f
			= render "shared/notices/templater"	
		.modal-footer
			%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Отмена"			
			%button.btn.btn-primary{ :type => "submit" }= "Сохранить"