.row
	.span1= f.label :title, 'Название'
	.span3= f.text_field :title, class: "span7"
.row
	.span1= f.label :theme, "Тема"
	.span3= f.text_field :theme, class: "span7"
.row
	.span1= f.label :content, "Текст"
	.span7= f.input :content, as: :text, input_html: { value: "#{simple_format @notice.content}", style: "width: 600px; height: 250px;" }