:javascript
	$(document).ready(function(){
		$("#crud-notify-dlg").modal({
			show: true
		});
	});
.modal.hide.fade#crud-notify-dlg
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "Шаблон: #{@notice.notice.title}"
	.modal-body
		%b Тема:
		= "#{@notice.notice.theme}"
		%br
		%b Содержание:
		= raw @content
	.modal-footer
		%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Закрыть"

