:javascript
	$(document).ready(function(){
		$("#crud-notify-dlg").modal({
			show: true
		});
	});
.modal.hide.fade#crud-notify-dlg
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "Шаблон: #{@notice.title}"
	.modal-body
		.div
			%b Тема:
			= @notice.theme
		%b Сообщение:
		= simple_format(@notice.content)
	.modal-footer
		%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Закрыть"