.row
	.span1
	.span7
		%h5 Список ссылок-постановок:
.row
	.span1
	.span3
		%div{style: "margin-top: 10px;"} {{full_name}} - ФИО
		%div {{fore_middle_name}} - Имя, Отчество
		%div {{login}} - логин
		%div {{password}} - пароль		
	.span3
		%div {{created_at}} - дата регистрации пользователя
		%div {{project_name}} - название проекта пользователя
		%div {{# sign_in_link}}...{{/ sign_in_link}} - ссылка для входа на сайте