-# coding: utf-8
/ - binding.pry
%li{:"question-data" => question.id}
	.question-item	
		= render "shared/quizzes/questions/quiz_item_controls", question: question
		.q-view
			.q-title
				%span.numeration
				= question.instruction
				= required_answer_for(question, @quiz)
			.q-body				
				- question.belbin_items.each do |belbin_item|
					%div
						= belbin_item.instruction.force_encoding('utf-8')
		.q-edit