%li{:"question-data" => question.id}
	.question-item	
		= render "shared/quizzes/questions/quiz_item_controls", edit: false, question: question
		.q-view
			.q-title
				.divider
			.q-body			
		.q-edit