%li{:"question-data" => question.id}
	.question-item	
		= render "shared/quizzes/questions/quiz_item_controls", question: question
		.q-view
			.q-title
				= question.instruction.force_encoding("utf-8")
			.q-body			
		.q-edit