%li{:"question-data" => question.id}
	.question-item	
		= render "shared/quizzes/questions/quiz_item_controls", question: question
		.q-view
			.q-title
				%span.numeration
				= question.instruction.force_encoding("utf-8")
			.q-body			
				= text_area_tag :content
		.q-edit