%li{:"question-data" => question.id}
	.question-item	
		= render "shared/quizzes/questions/quiz_item_controls", edit: true, question: question
		.q-view
			.q-title
				%span.numeration
				= question.instruction.force_encoding("utf-8")
				= required_answer_for(question, @quiz)
			.q-body
				- question.variants.each do |variant|
					%div= variant.force_encoding("utf-8")
		.q-edit