%li{:"question-data" => question.id}
	.question-item	
		= render "shared/quizzes/questions/quiz_item_controls", question: question
		.q-view.scale
			.q-title
			.q-body
				%table.scale-table
					%tr
						%td
							%span.numeration
							&nbsp;
						%td.left= question.left_instruction.force_encoding("utf-8")
						%td.variants
							%table
								%tr
									- question.length.times.to_a.reverse.each do |value|
										%td.var
											= radio_button_tag :radio, false 
											%div= "-#{value+1}"
									- if question.parity.odd?
										%td.var
											= radio_button_tag :radio, false 
											%div= "0"
									- question.length.times.to_a.each do |value|
										%td.var
											= radio_button_tag :radio, false
											%div= "+#{value+1}"
						%td.right= question.right_instruction.force_encoding("utf-8")
		.q-edit