-# coding: utf-8
%li{:"question-data" => question.id}
	.question-item	
		= render "shared/quizzes/questions/quiz_item_controls", question: question
		.q-view
			.q-title
				%span.numeration
				= question.instruction
				= required_answer_for(question,@quiz)

			.q-body
				- if question.list?
					%select
						= options_for_select question.list_variants
				- else
					%ul
						- question.list_variants.each do |variant|
							%label
								%input{:name => "question-#{question.id}", :type => "radio"}/
								%span= variant.force_encoding('utf-8')
		.q-edit