<i>Копия письма</i>
<hr>
Здравствуйте, <%= @user.name%>
<div>
	<%= simple_format(@content)%>
</div>
<br>
<hr>
<div>
  Для входа в систему и начала тестирования 
  <a href="http://prof-career.ru/process/index/<%=@user.id%>?key=<%=@user.key%>">нажмите на ссылку</a>
  
  или зайдите на сайт www.prof-career.ru и введите логин и пароль
</div>
<br>
<div>
  Ваш логин: <%= @user.login %>
</div>
<div>
  Ваш пароль: <%= @user.password %>
</div>
