-# coding: utf-8
- items = { :clients => ['Show all', 'Add new'], :projects => ['First', 'Test project'], :Quizes => ['quiz1', 'quiz2'], :settings => ['All settings'] }
- last_fill = [['Name', 'Second name', 'First', 'some...', '24.02.2012'], ['Name', 'Second name', 'First', 'some...', '24.02.2012'], ['Name', 'Second name', 'First', 'some...', '24.02.2012'], ['Name', 'Second name', 'First', 'some...', '24.02.2012'], ['Name', 'Second name', 'First', 'some...', '24.02.2012'],['Name', 'Second name', 'First', 'some...', '24.02.2012']]
- last_projects = [['First', '23.01.2012', '2', '1'], ['First', '23.01.2012', '2', '1'],['First', '23.01.2012', '2', '1'], ['First', '23.01.2012', '2', '1'], ['First', '23.01.2012', '2', '1']]
- stat3 = [['Name Name', '12'], ['Name Name', '12'], ['Name Name', '12'], ['Name Name', '12'], ['Name Name', '12'], ['Name Name', '12']]
#users-dialog-container
.left-pane
	.dash-table
		.title
			Последние пройденные тесты
		%table.table.table-striped.table-bordered.table-condensed
			%thead
				%tr
					%th Фамилия
					%th Имя
					%th Проект
					%th Тест
					%th Окончен
					%th
			%tbody
				- @passes.each do |pass|
					%tr
						%td= pass.user.surname
						%td= pass.user.name
						%td= link_to pass.user.project.title, admin_project_path(pass.user.project)
						%td= link_to pass.quiz.title, admin_quiz_path(pass.quiz)
						%td= pass.updated_at.strftime("%k:%M:%S %d.%m.%Y")
						%td
							.btn-group
								= link_to '#', :class => "btn btn-success dropdown-toggle", "data-toggle" => "dropdown" do
									%i.icon-ok-circle        
									%span.caret
								%ul.dropdown-menu
									%li.dropdown-submenu        
										= link_to "Отчет", '#', tabindex: -1
										%ul.dropdown-menu
											%li.view-report
												= link_to show_report_admin_project_user_quiz_path(pass.user.project, pass.user, pass.quiz), remote: true do
													%i.icon-eye-open
													= "Просмотр"
											%li
												= link_to export_report_admin_project_user_quiz_path(pass.user.project, pass.user, pass.quiz, format: :html), target: :blank do
													%i.icon-share
													= "Версия для печати"
											%li
												= link_to export_report_admin_project_user_quiz_path(pass.user.project, pass.user, pass.quiz, format: :pdf), target: :blank do
													%i.icon-share
													= "PDF версия"
											%li
												= link_to export_report_admin_project_user_quiz_path(pass.user.project, pass.user, pass.quiz, anketa: true, format: :pdf), target: :blank do
													%i.icon-share
													= "PDF версия с анкетой"
									%li.divider
									%li.dropdown-submenu        
										= link_to "Ответы", '#', tabindex: -1
										%ul.dropdown-menu
											%li.view-answers
												= link_to show_answers_admin_project_user_quiz_path(pass.user.project, pass.user, pass.quiz), remote: true do
													%i.icon-eye-open
													= "Просмотр"
											%li
												= link_to reset_admin_project_user_quiz_path(pass.user.project, pass.user, pass.quiz), remote: true, confirm: "Вы уверены?" do
													%i.icon-remove
													= "Сбросить"
											%li          
												= link_to export_answers_admin_project_user_quiz_path(pass.user.project, pass.user, pass.quiz, values: false, format: :html), target: :blank do
													%i.icon-share
													= "Версия для печати - только ответы"
											%li
												= link_to export_answers_admin_project_user_quiz_path(pass.user.project, pass.user, pass.quiz, values: true, format: :html), target: :blank do
													%i.icon-share
													= "Версия для печати - ответы и баллы"
											%li
												= link_to export_answers_admin_project_user_quiz_path(pass.user.project, pass.user, pass.quiz, values: false, format: :pdf), target: :blank do
													%i.icon-share
													= "PDF версия - только ответы"
											%li
												= link_to export_answers_admin_project_user_quiz_path(pass.user.project, pass.user, pass.quiz, values: true, format: :pdf), target: :blank do
													%i.icon-share
													= "PDF версия - ответы и баллы"        
									%li.divider
									%li.dropdown-submenu
										= link_to "Статистика", '#', tabindex: -1
										%ul.dropdown-menu
											%li.view-stat
												= link_to show_statistics_admin_project_user_quiz_path(pass.user.project, pass.user, pass.quiz), remote: true do
													%i.icon-eye-open
													= "Просмотр"   

	.dash-table
		.title
			Последние добавленные проекты
		%table.table.table-striped.table-bordered.table-condensed
			%thead
				%tr
					%th Название
					%th Создан					
			%tbody
				- @projects.each do |project|
					%tr
						%td= link_to project.title, admin_project_path(project)
						%td= project.created_at.strftime("%k:%M:%S %d.%m.%Y")													
.right-pane
	.statistics-item
		.title Statistics 1
		.body
			= image_tag 'line_graph.png', :width => '90%'
	.statistics-item
		.title Statistics 2
		.body
			= image_tag 'line_graph.png', :width => '90%'
	.statistics-item
		.title Statistics 3
		.body
			%table.table.table-condensed				
				%tbody
					- stat3.each do |item|
						%tr
							%td= item[0]
							%td= item[1]