!!!
%html
	%head
		%title ProfCareer | Администрирование
		= stylesheet_link_tag  "application"
		= csrf_meta_tags
	%body
		#login
			#header
				#logo= image_tag 'logo.png'
				#welcome
					%span Добро пожаловать:
					%br
					%span.under ProfCareer Администрирование 
			#form
				#form-header 
					%h3 Вход в систему				
					%ul
						%li
							= link_to "Главная", root_path
						%li
							= link_to "Регистрация", auth_register_path
				#form-body
					= form_for :admin_user, :url => admin_user_session_path, :class => "form-horizontal" do |f|
						%fieldset
							.control-group
								= f.label :email, "Email:", :class => 'control-label'
								.controls
									= f.text_field :email, :class => "input-xlarge span4"
							.control-group
								= f.label :password, "Пароль:", :class => 'control-label'
								.controls
									= f.password_field :password, :class => "input-xlarge span4"
							/ .control-group
							/ 	= link_to "Forgot your password?", '#'
							.form-actions
								%button.btn.btn-primary{ :type => "submit" } Войти
								%label.checkbox.inline
									= f.check_box :remember_me
									Запомнить
			#footer
				%i.icon-question-sign
				= link_to "Email us for help", '#'