<% if @may_reset %>
  $("#add-project-dlg").modal('hide');
  Service.showNoty('Пароль успешно изменен!');
<% else %>
  <% case @reason %>
  <% when :old_invalid %>
    Service.showNoty('Введен неверный пароль!', 'error');
  <% when :new_incorrect %>
    Service.showNoty('Введенные пароли не совпадают!', 'error');
  <% when :new_blank %>
    Service.showNoty('Введен пустой пароль!', 'error');
  <% else %>
    Service.showNoty('Ошибка при изменении пароля!', 'error');
  <% end %>
<% end %>