<div class="editor">
  <fieldset class="x-fieldset x-form-label-left">
    <legend class="x-fieldset-header">Шаблон уведомления</legend>  

      <table><tr>
        <td>
          <%= select('notice', 'template', Notice.all.map{ |n| [n.title, n.id] }, :include_blank => 'Новый шаблон')  %>
        </td><td>
          <%= submit_tag('Загрузить', :onClick=>"$('notice-scope').value='load-template';") %>
        </td>
      </tr></table>
  </fieldset>  
  <fieldset class="x-fieldset x-form-label-left">
    <legend class="x-fieldset-header">Уведомление</legend>  

        
      <%= extjs_form_item("Заголовок") do
        text_field('notice', 'title', :class => 'text long  x-form-field x-form-text')
      end %> 

  
      <%= extjs_form_item("Cообщение") do
        text_area('notice', 'content', :class => 'plain-editor wysiwyg  x-form-field x-form-text', :style => 'width:400px;height:17em;')
      end %>


      <div id="save-status">
        <%= flash[:message_saved] %>
      </div>
      
      <div class="object-control">
        <%= submit_tag('Сохранить', :onClick=>"$('notice-scope').value='save-or-create';") %>
      </div>
      <% unless @notice.blank? || @notice.id.blank? %>
      <div class="object-control">  
        <%= link_to 'Удалить', {:controller => 'notice', :action => 'destroy', :id => @notice.id}, 
        	:confirm => 'Удалить шаблон?', :class => 'destroy', :remote => true%>
      </div>
      <% end %>

  </fieldset>
</div>
