<style type="text/css">
  #notifiers-list {
    height: 300px;
    width: 350px;
    overflow-y: auto;
    display: block;
    -ms-overflow-y: auto;
  }
  #notifiers-list .x-grid3-header {
    display: none;
  }
</style>
<% form_remote_tag(:url => { :controller => 'admin/notice', :action => 'process_window' }) do %>
	<input type="hidden" name="notice-scope" id="notice-scope">
<table><tr>
  <td id="notice-message-content">
    <%= render :partial => 'admin/notice/editor' %>
  </td>
  <td>
    <div class="editor">
      <fieldset class="x-fieldset x-form-label-left">
        <legend>Кому</legend>

        <label>Фильтр по проектам:</label>
        <%= select 'project', 'name',  @projects, :prompt => 'Все' %>
        <br/>
        <%= link_to_function 'Очистить',                  'Admin.NoticeWindow.clearAll()' %>
        <%= link_to_function 'Не завершившие',             'Admin.NoticeWindow.selectIncomplete()' %>
        <%= link_to_function 'Выбрать всех',              'Admin.NoticeWindow.selectAll()' %>
        
        <script type="text/javascript">
           
           function show_all() {
             elements = $j('.checkbox').parents("div.x-grid3-row");
             elements.addClass('visible-item');
             return elements.show();
           }
           
           $j("#project_name").live('change', function(){
             selected_value = $j(this).val();
             $j('.checkbox').attr('checked', false);
             if(selected_value.blank()) return show_all();

             show_selector = '.checkbox[project="' + selected_value + '"]';       
             show_elements = $j(show_selector).parents("div.x-grid3-row");
             show_elements.addClass('visible-item');
             show_elements.show();
             
             hide_selector = '.checkbox[project!="' + selected_value + '"]';
             hidden_elements = $j(hide_selector).parents("div.x-grid3-row");
             hidden_elements.removeClass('visible-item');
             hidden_elements.hide();
           });
        </script>
        
        <div id="notifiers-list">
	
          <table id="notify-users-table">
            <thead>
            <tr>
              <th width="20%">Отправка</th>
              <th width="40%">Имя</th>
              <th width="40%">email</th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
            <tr>
              <td>&nbsp;<input type="checkbox" name="users[<%=user.id%>]" project="<%= user.project_id%>" value="<%=user.id%>"
                  class="<%= user.has_incomplete_quizzes? ? "incomplete" : "" %> checkbox"> </td>
               <td><%= user.title%></td>
               <td><%= user.email%></td>
            </tr> 
            <% end %>
            </tbody>
           </table>
          </div>
          <br>
          <div id="save-status">
            <%= flash[:message_saved] %>
          </div>
          <%= submit_tag 'Отправить', :onClick=>"$('notice-scope').value='delivery';" %>
        </fieldset>
      </div>
    </td>
  </tr></table>
<% end %>
