:javascript
	$(document).ready(function(){
		api = $("#question-editor").data('api');
		api.savePositionsUrl = "#{save_weights_admin_quiz_questions_path(@quiz)}";
		api.saveBufferingUrl = "#{save_buffering_admin_quiz_questions_path(@quiz)}";
		api.removeGroupUrl = "#{remove_admin_quiz_questions_path(@quiz)}";
		api.refreshQuestionNumbers();
	});

.center-pane.quiz#question-editor
	.tab-pane.active#tab_answers_editor
		/ .add-panel
		/ 	.row
		/ 		.span2 Добавить элемент:
		/ 	.row
		/ 		.span7
		/ 			.btn-group
		/ 				= link_to "Разделитель", admin_quiz_questions_path(@quiz, type: "divider"), method: :post, remote: true, class: "btn"
		/ 				= link_to "Инструкция", admin_quiz_questions_path(@quiz, type: "instruction"), method: :post, remote: true, class: "btn"
		/ 	.row
		/ 		.span2 Добавить вопрос:
		/ 	.row
		/ 		.span7
		/ 			.btn-group
		/ 				- if @quiz.kind != 'belbin'
		/ 					= link_to "Выбор варианта", admin_quiz_questions_path(@quiz, type: "variant"), method: :post, remote: true, class: "btn"
		/ 					= link_to "Шкала", admin_quiz_questions_path(@quiz, type: "scale"), method: :post, remote: true, class: "btn"						
		/ 					= link_to "Открытый", admin_quiz_questions_path(@quiz, type: "open"), method: :post, remote: true, class: "btn"
		/ 					= link_to "Ранжированый", admin_quiz_questions_path(@quiz, type: "range"), method: :post, remote: true, class: "btn" 
		/ 				= link_to "Ранг=Фактор", admin_quiz_questions_path(@quiz, type: "belbin_range"), method: :post, remote: true, class: "btn" if @quiz.belbin?
						
		%ul#quiz-source.connectedSortable
			- @quiz.answerable_questions.unbuffered.each do |question|
				= render "shared/quizzes/questions/view/#{question.path}", question: question