= javascript_include_tag 'jquery.metadata', 'jquery.scrollIntoView', 'jquery.viewport'
= javascript_include_tag 'admin/quizzes'

#quiz-dialog-container

.left-pane.projects	
	= link_to "Добавить опрос", new_admin_quiz_path, class: "btn btn-success btn-large", remote: true
	.well
		%ul.nav.nav-list#quiz-list
			%li.nav-header Опросы
			- @quizzes.each do |quiz|
				%li{ :class => !@quiz.nil? && @quiz.id == quiz.id ? "active" : "" }
					= link_to admin_quiz_path(quiz) do
						%i.icon-list-alt
						= quiz.title

- unless @quiz.nil?
	= render "main_part"
	= render "right_part", active: :quiz