- active ||= ""

.right-pane.actions#quiz-buffer-wrapper
	.well
		%ul.nav.nav-list
			%li.nav-header.expanded{ data: { toggle: "add-element" } } Добавить элемент
			%li{ data: {element: 'add-element'} }
				= link_to admin_quiz_questions_path(@quiz, type: "divider"), method: :post, remote: true do
					%i.icon-minus
					Разделитель
			%li{ data: {element: 'add-element'} }
				= link_to admin_quiz_questions_path(@quiz, type: "instruction"), method: :post, remote: true do
					%i.icon-comment
					Инструкция

			%li.nav-header.expanded{ data: { toggle: "add-question" } } Добавить вопрос
			- if @quiz.kind != 'belbin'
				%li{ data: {element: 'add-question'} }
					= link_to admin_quiz_questions_path(@quiz, type: "variant"), method: :post, remote: true do
						%i.icon-list
						Выбор варианта
				%li{ data: {element: 'add-question'} }
					= link_to admin_quiz_questions_path(@quiz, type: "scale"), method: :post, remote: true do
						%i.icon-tasks
						Шкала
				%li{ data: {element: 'add-question'} }
					= link_to admin_quiz_questions_path(@quiz, type: "open"), method: :post, remote: true do
						%i.icon-question-sign
						Открытый
				%li{ data: {element: 'add-question'} }
					= link_to admin_quiz_questions_path(@quiz, type: "range"), method: :post, remote: true do
						%i.icon-random
						Ранжированый
			- else
				%li{ data: {element: 'add-question'} }
					= link_to admin_quiz_questions_path(@quiz, type: "belbin_range"), method: :post, remote: true do
						%i.icon-plus
						Ранг=Фактор

		%ul.nav.nav-list
			%li.nav-header.expanded{ data: { toggle: "quiz" } } Опрос
			%li{ data: { element: :quiz } }
				= link_to excel_export_admin_quiz_path(@quiz) do
					%i.icon-share
					Экспорт в Excel
			%li{ :class => active.to_s == "excel_reports" ? "active" : "", data: {element: 'quiz'} }
				= link_to excel_reports_admin_quiz_path(@quiz) do
					%i.icon-download-alt
					Подготовленные отчеты
			%li{ :class => active.to_s == "quiz" ? "active" : "", data: {element: 'quiz'} }
				= link_to admin_quiz_path(@quiz) do
					%i.icon-th-list
					Редактор вопросов
			%li{ :class => active.to_s == "settings" ? "active" : "", data: {element: 'quiz'} }
				= link_to settings_admin_quiz_path(@quiz) do
					%i.icon-cog
					Параметры
			%li{ :class => active.to_s == "statistics" ? "active" : "", data: {element: 'quiz'} }
				= link_to statistics_admin_quiz_path(@quiz) do
					%i.icon-signal
					Статистика по ответам
			%li{ :class => active.to_s == "factors" ? "active" : "", data: {element: 'quiz'} }
				= link_to admin_quiz_factors_path(@quiz) do
					%i.icon-screenshot
					Факторы
			%li{ :class => active.to_s == "reports" ? "active" : "", data: {element: 'quiz'} }
				= link_to admin_quiz_reports_path(@quiz) do
					%i.icon-file
					Типы отчетов
			%li{ :class => active.to_s == "profiles" ? "active" : "", data: {element: 'quiz'} }
				= link_to admin_quiz_profile_charachteristic_index_path(@quiz) do
					%i.icon-asterisk
					Характеристики профиля
			- if active.to_s == "quiz"
				%li.nav-header.expanded{ data: { toggle: "operations" } } Операции
				%li#remove-selected{ data: {element: 'operations'} }
					= link_to "#" do
						%i.icon-remove-circle
						Удалить
				%li#buffered-selected{ data: {element: 'operations'} }
					= link_to "#" do
						%i.icon-share-alt
						Переместить в буфер
				%li#source-unselect-all{ data: {element: 'operations'} }
					= link_to "#" do
						%i.icon-minus
						Снять выделение
				%li.nav-header.expanded{ data: { toggle: "buffer" } } Буфер
				%li#buffer-select-all{ data: {element: 'buffer'} }
					= link_to "#" do
						%i.icon-ok-circle
						Выделить все
				%li#buffer-unselect-all{ data: {element: 'buffer'} }
					= link_to "#" do
						%i.icon-remove-circle
						Снять все
		- if active.to_s == "quiz"
			%ul#quiz-buffer.connectedSortable.empty{ data: {element: 'buffer'} }
				%li.empty
					%i.icon-copy-paste
					Переместить вопросы в буфер обмена			
				- @quiz.answerable_questions.buffered.each do |question|
					= render "shared/quizzes/questions/view/#{question.path}", question: question