%table.table.table-striped.table-bordered.table-condensed.tablesorter
	%thead
		%tr
			%td Вопрос
			%td Значительно снизит мое желание работать
			%td Снизит мое желание работать
			%td Никак не повлияет на мое желание работать
			%td Повысит мое желание работать
			%td Значительно повысит мое желание работать
			%td Всего ответов
	%tbody