:javascript
	$(document).ready(function(){
	  var cols = [null,null,null];
	  var tableObj = $('#reports-list').dataTable({
	    "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
	    "sPaginationType": "bootstrap",
	    "aoColumns": cols,
	    "aaSorting": [[0, "desc"]],
	    "oLanguage": {
	      "sProcessing":   "Подождите...",
	      "sLengthMenu":   "Показать _MENU_ записей",
	      "sZeroRecords":  "Записи отсутствуют.",
	      "sInfo":         "Записи с _START_ до _END_ из _TOTAL_",
	      "sInfoEmpty":    "Записи с 0 до 0 из 0",
	      "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
	      "sInfoPostFix":  "",
	      "sSearch":       "Поиск:",
	      "sUrl":          "",
	      "oPaginate": {
	          "sFirst": "<<",
	          "sPrevious": "Пред.",
	          "sNext": "След.",
	          "sLast": ">>"
	      }
	    }
	  });
	});

#quiz-dialog-container

.left-pane.projects	
	= link_to "Добавить опрос", new_admin_quiz_path, class: "btn btn-success btn-large", remote: true
	.well
		%ul.nav.nav-list#quiz-list
			%li.nav-header Опросы
			- @quizzes.each do |quiz|
				%li{ :class => !@quiz.nil? && @quiz.id == quiz.id ? "active" : "" }
					= link_to excel_reports_admin_quiz_path(quiz) do
						%i.icon-list-alt
						= quiz.title

.center-pane.quiz
	.dash-table
		.title
			Подготовленные отчеты (Excel)
			%span= "[#{@quiz.title}]"

	- unless flash[:notice].nil?
		.alert.alert-success= flash[:notice]

	%table.table.table-bordered.table-condensed.tablesorter#reports-list
		%thead
			%th Дата запроса
			%th Дата создания
			%th Ссылка
		%tbody
			- @xlss.each do |xls|
				%tr{class: xls.path.nil? ? 'success' : '' }
					%td= xls.created_at
					%td
						= xls.path.nil? ? 'Не создано' : xls.updated_at
					%td
						- unless xls.path.nil?
							= link_to "#{xls.path}" do
								%code= xls.path
						- else
							В обработке



= render "right_part", active: :excel_reports