%html
  %head
    = stylesheet_link_tag "report", media: :print
    :css
      body { font-family: Verdana, Arial, sans-serif; font-size: 12px; background: white;}
      td.instruction { width: 60%;}
      <% if @values  %>
      td.answer { width: 35%; }
      <% else %>
      td.answer { width: 40%; }
      <% end %>
      td.value  { width: 5%; text-align: center;}
      .statistics-table { border: 1px; border-collapse: collapse;}
      .statistics-table td, .statistics-table th { border: 1px solid #A0A0A0; font-size: 12px; padding: 3px;}
  
  %body
    %button.btn{onClick: "window.print()"} Распечатать
    %h2= "#{@user.surname} #{@user.name}"
    %h2= @quiz.title    
    %table.statistics-table
      %thead
        %tr
          %th= "Вопрос"
          %th= "Ответ"
          - if params[:values] == 'true'
            %th= "Балл"
      %tbody
        - @quiz.answerable_questions.each  do |q|
          - answer = q.answer_for(@user)          
          %tr
            %td.instruction= "#{q.number + 1}. #{q.instruction}"
            - unless answer.blank?
              - begin                
                %td.answer= answer.view
              - rescue                
                %td= "n/a"                
              - if params[:values] == 'true'
                %td.value= answer.value
            - else
              %td= "N/A"