%html
  %head
    = stylesheet_link_tag "report", media: :print
    :css
      body { font-family: Verdana, Arial, sans-serif; font-size: 12px; background: white;}
      ul   { list-style-type: none; }
      .chartlist { 
        border-top: 1px solid #EEE; 
        display: block;
        border-collapse: collapse;
        margin: 25px;
      }

      .chartlist td.filled {
        background: #F0F0F0;
        border: 1px solid #909090;
        width: 20px;
        padding: 0;
      }

      .chartlist td.empty {
          background: #F0F0F0;
          border: 1px solid #909090;
          width: 20px;
      }
      
      .chartlist td img {
        display: block;
        margin: 5px 0;
      }


      .chartlist .label { font-size: 10px; text-align: center;}


      .chartlist td.mark-left    { border-left:   2px solid black; }
      .chartlist td.mark-right   { border-right: 2px solid black; }

      .chartlist td.orange-right { border-right: 1px solid #eb711f;}
      .chartlist td.orange-left  { border-left: 1px solid #eb711f;}


      .chartlist td.factor-title {
          width: 250px;
          font-size: 12px;
      }

      .chartlist .sten { font-size: 11px; padding-right: 5px;}


  %body
    %button{onClick: "window.print()"} Распечатать
    %h2= "#{@user.surname} #{@user.name}"
    %h2= @quiz.title
    = render 'shared/quiz_full_report'