= javascript_include_tag 'redactor', 'redactor.ru'
= stylesheet_link_tag 'redactor'

#quiz-dialog-container

.left-pane.projects	
	= link_to "Добавить опрос", new_admin_quiz_path, class: "btn btn-success btn-large", remote: true
	.well
		%ul.nav.nav-list#quiz-list
			%li.nav-header Опросы
			- Quiz.all.each do |quiz|
				%li{ :class => !@quiz.nil? && @quiz.id == quiz.id ? "active" : "" }
					= link_to admin_quiz_path(quiz) do
						%i.icon-list-alt
						= quiz.title

= render "shared/quizzes/settings_page"
= render "right_part", active: :settings