<% if @quiz.test? %>
	$("#users-dialog-container").html("<%= j render "shared/projects/statistics_dialog" %>");
<% else %>
	Service.showNoty('Расчет статистики выполняется только для тестов!', 'error');
<% end %>