#quiz-dialog-container

:javascript
  $(document).ready(function(){
    $("#start-date").datepicker({
      language: 'ru'
    });
  });

.left-pane.projects 
  = link_to "Добавить опрос", new_admin_quiz_path, class: "btn btn-success btn-large", remote: true
  .well
    %ul.nav.nav-list#quiz-list
      %li.nav-header Опросы
      - Quiz.all.each do |quiz|
        %li{ :class => !@quiz.nil? && @quiz.id == quiz.id ? "active" : "" }
          = link_to admin_quiz_path(quiz) do
            %i.icon-list-alt
            = quiz.title

.center-pane.quiz-stat
  .well
    .row
      .span8
        %h3
          = "Период расчета статистики (#{@quiz.user_quizzes.completed.order('updated_at').first.updated_at.strftime("%d.%m.%Y")} - #{@quiz.user_quizzes.completed.order('updated_at').last.updated_at.strftime("%d.%m.%Y")})" unless @quiz.user_quizzes.blank?
    .row.mt5
      = form_for :param, url: set_period_admin_quiz_path(@quiz), method: :get do |f|
        .span1
          От        
        .span3
          .input-append.date#start-date{ "data-date" => "#{@min_date.updated_at.strftime("%d.%m.%Y") unless @min_date.blank?}", "data-date-format" => "dd.mm.yyyy" }            
            = f.text_field :start_date, value: "#{@min_date.updated_at.strftime("%d.%m.%Y") unless @min_date.blank?}", size: 16, readonly: :readonly, class: :span2
            %span.add-on
              %i.icon-calendar{style: "margin-left: 8px;"}
        .span1{ :style => "margin-left: -33px;" }
          %button.btn{ :type => "submit" } Задать

  %table.table.table-striped.table-bordered.table-condensed.tablesorter
    %thead
      %tr
        %td Вопрос
        %td Значительно снизит мое желание работать
        %td Снизит мое желание работать
        %td Никак не повлияет на мое желание работать
        %td Повысит мое желание работать
        %td Значительно повысит мое желание работать
        %td Всего ответов
    %tbody
      - @questions.each_with_index do |question, index|
        - if question.has_answer?
          %tr
            %td.name= "#{index + 1}. #{question.instruction}"            
            / - grouped = Answer.where(question_id: question.id).group_by(&:value)
            - grouped = question.answers.where("updated_at >= :updated_question", {:updated_question => @min_date.updated_at}).group_by(&:value)
            - 1.upto 5 do |i|
              %td= grouped[i].nil? ? 0 : grouped[i].size
            %td= question.answers.where("updated_at >= :updated_question", {:updated_question => @min_date.updated_at}).size
   
  %table.table.table-striped.table-bordered.table-condensed.tablesorter
    %thead
      %tr
        %td Вопрос
        %td Значительно снизит мое желание работать
        %td Снизит мое желание работать
        %td Никак не повлияет на мое желание работать
        %td Повысит мое желание работать
        %td Значительно повысит мое желание работать
        %td Всего ответов
    %tbody
      - @questions.each_with_index do |question, index|
        - if question.has_answer?
          %tr
            %td.name= "#{index + 1}. #{question.instruction}"
            - grouped = question.answers.where("updated_at >= :updated_question", {:updated_question => question.updated_at}).group_by(&:value)
            - all = question.answers.where("updated_at >= :updated_question", {:updated_question => question.updated_at}).size.to_f
            - 1.upto 5 do |i|
              %td= "#{grouped[i].nil? ? 0 : (grouped[i].size*100/all).round(2)}%"
            %td= "#{(all==0) ? "0%": "100%"}"

= render "right_part", active: :statistics