<% if @quiz.valid? %>	
	$("#quiz-dialog-container").html('');
	Service.showNoty("Данные успешно сохранены!");
<% else %>
	<% @quiz.errors.messages.each do |field, message| %>
		<% message.each do |mes| %>
			Service.showNoty("<%= mes %>", 'error', 3000);
		<% end %>
	<% end %>
<% end %>