<div class="note question-editor instruction">
  <div class="editor">
    <%= form_for @question, :as=>:question, :url => { :controller => 'questions', :action => 'update', :id => @question.id}, :remote=>true do |f|%>
      <table>
        <tr>
          <td class="label">Инструкция</td>
          <td><%= f.text_area  :instruction, :id => "question-#{@question.id}-instruction" %></td>
        </tr>
      </table>
      <%= render '/questions/submit_block', :question=>@question%>
    <% end %>
  </div>
</div>