= link_to admin_properties_edit_path(item), :remote => true, :class => "btn" do
	%i.icon-edit
= link_to admin_properties_delete_path(item), :remote => true, :class => "btn btn-danger" do
	%i.icon-remove