:javascript
	$(document).ready(function(){
		$("#edit-section-dlg").modal({
			show: true
		});
	});
.modal.hide.fade#edit-section-dlg
	= form_for item, :url => admin_properties_update_path(item), :remote => true do |f|
		.modal-header
			%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
			%h3= "Редактирование элемента"	
		.modal-body		
			.row
				.span1= f.label :title, 'Название элемента'
				.span4= f.text_field :title, :class => "span4"
		.modal-footer
			%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Отмена"
			%button.btn.btn-primary= "Сохранить"