%tr{ class: "property-item-#{item.id}", :"property-data" => item.id, :"property-weight" => item.weight }
	%td= item.title
	%td.controls= render :partial => "shared/properties/action_buttons", :locals => { :item => item }