:javascript
	$(document).ready(function(){		
		var tableObj = $('##{type}').dataTable({
			"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
			"sPaginationType": "bootstrap",
			"bSort": false,
			"aoColumns":[
				{ "bSortable": false },
				{ "bSortable": false }
			],
			"oLanguage": {
				"sProcessing":   "Подождите...",
				"sLengthMenu":   "Показать _MENU_ записей",
				"sZeroRecords":  "Записи отсутствуют.",
				"sInfo":         "Записи с _START_ до _END_ из _TOTAL_",
				"sInfoEmpty":    "Записи с 0 до 0 из 0",
				"sInfoFiltered": "(отфильтровано из _MAX_)",
				"sInfoPostFix":  "",
				"sSearch":       "Поиск:",
				"sUrl":          "",
				"oPaginate": {
				    "sFirst": "<<",
				    "sPrevious": "Пред.",
				    "sNext": "След.",
				    "sLast": ">>"
				}
			}
		});
		$("##{type}").data('api', tableObj);
		$("##{type} tbody").sortable({
			update: function(e, ui){
				var startWeight = 0;
				var tbody = $(ui.item[0]).parents("tbody");
				var res = $("tr", tbody).map(function(){
					var id = $(this).attr("property-data");
					startWeight++;
					return "weights[" + id + "]=" + startWeight;
				}).get().join("&");
				console.log(res);
				$.ajax({
					url: "#{admin_properties_reorder_path}",
					type: "POST",
					data: res
				});
			}
		});
		$(".loading-btn").click(function(){
			$(this).button('loading');
		});
	});
.tab-pane{:id => tab_id, :class => is_active ? "active" : ""}
	.form-search
		= form_for Property.new, :url => admin_properties_add_path, :remote => true do |f|
			= f.hidden_field :type, value: type
			= f.text_field :title, :class => "span4"
			%button.btn.btn-primary{ :type => "submit" }= "Добавить"
		- if tab_id == "tab_city"
			= link_to "Загрузить", admin_properties_load_path(section: :city), class: "btn btn-primary loading-btn", remote: true, data: { loading_text: "Загрузка..." }
	.content		
		%table.table.table-striped.table-bordered.table-condensed{id: type, class: "property-items-table"}
			%thead
				%tr
					%th= "Значение"
					%th= "Операции"
			%tbody
				- collection.each do |item|
					= render 'shared/properties/property_item', :item => item