<div id="navigation">
  <% if action_name=="run" %>
    <% if current_page > 0 and !quiz.forward? %>
      <%= link_to raw('&laquo;Назад'), quiz_run_path(:id => quiz.id, params: @remote_params, page: current_page-1), :class=>'button previous' %>
    <% end %>
    &nbsp;
    <% if current_page >= (quiz.num_quiz_pages-1) %>
      <%= link_to 'Завершить опрос', quiz_complete_path(quiz, @remote_params), :class=>'complete button' %>
    <%else%>
      <%= link_to raw('Далее&raquo;'), quiz_run_path(quiz,  params: @remote_params, page: current_page+1), :class=>'next button' %>
    <% end %>

  <% else %>
      <%= link_to 'Завершить опрос', quiz_complete_path(quiz, @remote_params), :class=>'complete button', :id=>"complete_quiz"  %>
  <% end %>
</div>