<% content_for :header do %>
  <style type='text/css'>
    input[type=submit], input[type=button] {
      cursor: pointer;
    }
  </style>
<%end%>

<% if person_logged? && params[:remote] == 'true' %>
  <%= render 'shared/remote/navigation' %>
<% end %>

<% if person_logged? || params[:show_quiz].present? %>
  <% if project_quizzes.present? %>
    <div id="quizz-list">
      <% project_quizzes.each do |project_quiz| %>
        <div class='quiz'>
          <h3 class='quiz-title'><%= project_quiz.quiz.title%></h3>
          <p class='text'><%= raw project_quiz.quiz.announce %></p>
          <center>
            <% if UserQuiz.not_completed?(current_person, project_quiz.quiz) %>
              <%= link_to 'Начать заполнение', quiz_instruction_path(project_quiz.quiz, @remote_params), class: 'button submit start_quiz' %>
              <% if project_quiz.quiz.forward? and remote_session? %>
                <%= link_to_function 'Начать заполнение в новом окне', "window.open('#{quiz_instruction_path(project_quiz.quiz)}' ,'popup','location=0,menubar=0,status=0,toolbar=0')", :class => 'button submit start_quiz_new_window'%>
              <%end%>
            <%else%>
              <%= link_to 'Заполнить заново', quiz_clear_result_path(project_quiz.quiz, @remote_params), class: 'button submit clear_result'%>
              <%= link_to 'Предыдущие результаты', quiz_result_path(project_quiz.quiz, @remote_params), class: 'button submit result' if project_quiz.show_report%>
            <%end%>
          </center>
        </div>
      <% end %>
    </div>
  <%else%>
    <div class="no-results">На данный момент у Вас нет опросов</div>
  <%end%>
<% else %>
  <div class="no-results">
    Опросы доступны только после регистрации
  </div>
<% end %>

