<% if person_logged? && params[:remote] == 'true' %>
  <%= render 'shared/remote/navigation' %>
<% end %>

<h2 class='quiz-title'>
  <%= quiz.title%>
</h2>

<div class="instruction-text text">
  <%= raw project_quiz.quiz.instruction%>
</div>

<center>
  <strong>
    <%= link_to 'Начать тестирование', quiz_run_path(quiz, @remote_params) ,:class => 'button submit run_quiz'%>
  </strong>
</center>

<% content_for :header do %>
  <%= stylesheet_link_tag 'quiz.css' %>
<% end %>
