<% if session[:remote] %>

	<%= link_to "Список опросов", quiz_root_path(show_quiz: true, params: @remote_params), class: "button" %>

	<% if project_quiz.show_report? and !quiz.interview? %>
	  <%= link_to 'Pdf версия', quiz_download_report_path(:format=>:pdf, :quiz_id=>quiz.id, :report_id=>project_quiz.report_id, :user_id=>current_person.id), class: "button"%>
	<%end%>

	<div class='epilog'>
	  <%= raw project_quiz.epilog %>
	</div>

	<% if project_quiz.show_report? and !quiz.interview? %>
	  <%= render 'shared/quiz_full_report', :quiz=>quiz, :user=>current_person, :report=>project_quiz.report%>
	<%end%>

<% else %>

<div class='epilog'>
  <%= raw project_quiz.epilog %>
</div>

<% if project_quiz.show_report? and !quiz.interview? %>
  <%= link_to 'Pdf версия', quiz_view_report_path(:format=>:pdf, :quiz_id=>quiz.id, :report_id=>project_quiz.report_id, :user_id=>current_person.id)%>
  <%= render 'shared/quiz_full_report', :quiz=>quiz, :user=>current_person, :report=>project_quiz.report%>
<%end%>

<% end %>

