- if person_logged? && params[:remote] == 'true'
  = render 'shared/remote/navigation'

- content_for :header do
  = stylesheet_link_tag 'quiz'
  = javascript_include_tag 'quiz_frontend'
- if quiz.forward?
  - content_for :block_backward do
    "onload='noBack();' onpageshow='if (event.persisted) noBack();' onunload=''"
%h1= quiz.title if project_quiz.show_quiz_title?
#message
  = flash[:message]
%ul#page
  - @questions.each do |question|
    %li.question{:id => "question-#{question.id}"}
      .question-view
        = render "/questions/#{question.path}/front", :question => question
= render :partial => 'navigation'
- if quiz.limited_in_time?
  :javascript
    var limit = #{quiz.limited_in_time*1000};
    var link = $('a.complete, a.next').first().attr("href");
    window.setTimeout(function(){window.location = link}, limit);
  