- @active ||= 0
.navbar
	.navbar-inner
		.container
			= link_to '/admin', :class => "brand" do
				= image_tag 'logo.png', :width => "24px"
				Prof Career
			.nav-collapse
				%ul.nav								
					%li{ class: @active == 1 ? "active" : "" }
						= link_to "Кандидаты", users_admin_projects_path
					%li{ class: @active == 2 ? "active" : "" }
						= link_to "Проекты", admin_projects_path
					%li{ class: @active == 3 ? "active" : "" }
						= link_to "Персонализация", admin_properties_path					
					%li{ class: @active == 4 ? "active" : "" }
						= link_to "Опросы", admin_quizzes_path
					%li{ class: @active == 5 ? "active" : "" }
						= link_to "Настройки", admin_settings_path
					%li{ class: @active == 6 ? "active" : "" }
						= link_to "Страницы", admin_pages_path
				- unless current_admin_user.nil?
					%ul.nav.pull-right
						= link_to current_admin_user.email, '#', class: "dropdown-toggle", data: { toggle: :dropdown }, style: "padding: 10px 15px 10px;line-height: 20px;display: block;"
						%ul.dropdown-menu
							%li= link_to 'Сменить пароль', admin_reset_password_path, remote: true
							%li.divider
							%li= link_to 'Выход', destroy_admin_user_session_path, method: :delete