.footer
	.container
		.span7
			%h3 946730467-3525
			%p
				&copy; 2012 ProfCareer, All Rights Reserved. Terms & Privacy
		.span2.stay
			%h4 Stay in touch:
		.span2.icons
			= link_to "Twitter", '#', :class => "twitter"
			= link_to "Facebook", '#', :class => "facebook"
			= link_to "Blog", '#', :class => "blog"