<% unless person_logged? %>
 <h3>Авторизуйтесь</h3>
  <div class='forms'>
    <%= form_tag auth_login_path do %>
      <input type="text" name="login" class="text">
      <input type="password" name="password" class="text">
      <input name="submit" type="submit" id="submit" tabindex="5" value="Войти" class="submit">
    <% end %>
  </div>
<% else %>
  <h3><%= current_person.login %></h3>
  <%= link_to 'Выход', auth_logout_path %>
<% end %>
