<% unless current_person.restricted? %>
  <ul id="nav">
    <%= header_tab 'Главная', root_path%>
    <% if person_logged? %>
      <%= header_tab 'Профиль', auth_profile_path%>
    <% else %>
      <%= header_tab 'Регистрация', auth_register_path%>
    <%end%>
    <%= header_tab 'Опросы', quiz_root_path%>
  </ul>
<% end %>