<% content_for :header do %>
  <%= javascript_include_tag 'frontend' %>
<%end%>

<div class='forms' data-remote='<%= @remote_params[:show_quiz] == true ? 'quiz' : 'false' %>'>
  <%- if @remote_params[:remote] == true %>
    <%- if current_person.id %>
      <h3>Личные данные</h3>
    <%- else %>
      <h3>Зарегистрируйтесь</h3>
    <%- end %>
  <%- end %>
  <% unless f.object.persisted? or remote_session? %>
    <div class="input">
      <div class="label">
        <%= f.label :login %><sup>*</sup>
      </div>
      <%= f.text_field :login, :class => 'text requiredField' %>
      <%= error_message_on f.object, :login%>
      <span class="comment">от 3 до 15 символов</span>
    </div>
    <div class="input">
      <div class="label">
        <%= f.label :password %><sup>*</sup>
      </div>
      <%= f.password_field :password,  :class => 'text requiredField' %>
      <%= error_message_on f.object, :password%>
      <span class="comment">от 3 до 15 символов </span>
    </div>

    <div class="input">
      <div class="label">
        <%= f.label :password_confirmation%><sup>*</sup>
      </div>
      <%= f.password_field :password_confirmation,  :class => 'text requiredField' %>
    </div>
  <% end %>
  <% if f.object.restricted?%>
    <div class='input'>
      <div class='label'>
        <%= f.label :surname%>
      </div>
    </div>
    <div class='input'>
      <div class='label'>
        <%= f.label :name%>
      </div>
    </div>
  <%else%>
    <div class="input">
      <div class="label">
        <%= f.label :surname%><sup>*</sup>
      </div>
      <%= f.text_field :surname, :class => 'text requiredField' %>
      <%= error_message_on f.object, :surname%>
    </div>

    <div class="input">
      <div class="label">
        <%= f.label :name%><sup>*</sup>
      </div>
      <%= f.text_field :name, :class => 'text requiredField' %>
      <%= error_message_on f.object, :name%>
    </div>

    <div class="input">
      <div class="label">
        <%= f.label :patronymic %>
      </div>
      <%= f.text_field :patronymic, :class => 'text' %>
    </div>
  <%end%>

  <div class="input">
    <div class="label">
      <%= f.label :gender %><sup>*</sup>
    </div>
    <% User.gender_collection.each do |gender|%>
      <label>
        <%= f.radio_button :gender, gender.last, :class => 'radio' %>
        <span><%= gender.first%></span>
      </label>
    <%end%>
    <%= error_message_on f.object, :gender%>
  </div>

  <div class="input">
    <div class="label">
      <%= f.label :birthday%><sup>*</sup>
    </div>
    <%= f.text_field :birthday, :class => 'text date_input' %>
    <%= error_message_on f.object, :birthday%>
    <span class='comment'>Введите дату рождения в формате День.Месяц.Год (12.03.2023)</span>
  </div>

  <div class="input">
    <div class="label">
      <%= f.label :email%><sup>*</sup>
    </div>
    <%= f.text_field :email, :class => 'text requiredField' %>
    <%= error_message_on f.object, :email%>
  </div>

  <div class="input">
    <div class="label">
      <%= f.label :phone %>
    </div>
    <%= f.text_field :phone, :class => 'text' %>
  </div>

  <div class="input">
    <div class="label">
      <%= f.label :city%><sup>*</sup>
    </div>
    <input class='text' type='text' value='<%=f.object.city_title%>' data-url="<%=ajax_cities_path%>" id="city_title" />
    <%= f.hidden_field :city_id %>
    <%= error_message_on f.object, :city%>
  </div>

  <div class="input">
    <div class="label">
      <%= f.label :education_level%><sup>*</sup>
    </div>
    <%= f.select :education_level_id, EducationLevel.values_of(:title, :id), {:include_blank => true}, :class => 'long-input'%>
    <%= error_message_on f.object, :education_level%>
  </div>
  <div class="input">
    <div class="label">
      <%= f.label :education_type %>
    </div>
    <%= f.select :education_type_id, EducationType.values_of(:title,:id), {:include_blank => true}, :class => 'long-input'%>
  </div>
  
  <!-- Сфера деятельности -->
  <div class="input">
    <div class="label">
      <%= f.label :job_area %>
    </div>
    <%= f.select :job_area_id, JobArea.values_of(:title, :id), {:include_blank => true}, :class => 'long-input'%>
  </div>

  <!-- Уровень позиции -->
  <div class="input">
    <div class="label">
      <%= f.label :job_position %>
    </div>
    <%= f.select :job_position_id, JobPosition.values_of(:title,:id), {:include_blank => true}, :class => 'long-input'%>
  </div>

  <!-- Стаж работы -->
  <div class="input">
    <div class="label">
      <%= f.label :job_expirience%><sup>*</sup>
    </div>
    <%= f.select :job_expirience_id, JobExpirience.values_of(:title, :id), {:include_blank => true}, :class => 'long-input'%>
    <%= error_message_on f.object, :job_expirience%>
  </div>

  <div class='input'>
    <div class="buttons">
      <input type="hidden" name="remote_auth_type" value="new_user">
      <input class="submit button" type="submit" value="Готово" />
    </div>
    <span class="comment">Звездочкой(<sup>*</sup>) отмечены поля, обязательные для заполнения</span>

    <%- if @remote_params[:remote] == true && !current_person.id %>
      <div class="centered-block">
          Уже есть аккаунт? <a href="#" class="change-form" data-form="new_session">Авторизироваться</a>
      </div>
    <%-end%>
  </div>
</div>