- stens = []
%table.chartlist
  %tr
    %td.factor-title= "Фактор"
    - 1.upto(10).each do |i|
      %td.label{colspan: 2}= i
  - @quiz.factors.each do |factor|
    %tr{id: "factor_#{factor.id}"}
      - sten = factor.sten(@user).to_i
      - stens << sten
      %td= factor.title
      %td{style: "width:21px;"}= sten
      - stan_row(sten).each do |cl|
        %td.row{class: cl}
          - if cl.match(/filled/)
            = image_tag 'report_row.png'
      %td.row.blank
%ul{style: "list-style: none;"}
  - if charachteristic = @quiz.get_profile_charachteristic(stens)
    %li
      %br
      %h4= "Характеристика профиля"
      = charachteristic
  - report = @quiz.reports.first
  - @quiz.factors.each do |factor|
    %li
      - i = report.find_interpretation(factor.id, factor.sten(@user).to_i)
      - unless i.blank?
        %br
        %h2= factor.title
        = i.content