- unless person_logged?
	= form_tag remote_auth_login_path, id: 'new_session', class: params[:remote_auth_type] == 'new_user' ? 'hidden' : '' do
		.forms{ data: { remote: "quiz" } }
			%h3 Авторизируйтесь
			- unless flash[:alert].nil?
				#flash_error= flash[:alert]
			.input
				.label Логин
				= text_field_tag :login
			.input
				.label Пароль
				= text_field_tag :password, nil, type: :password
			= submit_tag 'Войти', class: 'submit button'

		.centered-block
			Нет аккаунта?
			= link_to 'Зарегистрироваться', remote_auth_register_path, style: 'text-align: center;', class: 'change-form', data: { form: 'new_user' }