<div class="editor">
  <fieldset class="x-fieldset x-form-label-left">
    <legend class="x-fieldset-header">Ответов</legend>
    <% form_remote_tag(:url => { :controller => 'admin/report', :action => 'update', :id => @report.id }) do %>
      <%= extjs_form_item("Название") do
        text_field('report', 'title', :class => 'text long  x-form-field x-form-text')
      end %>

      <br>
      <div id="save-status">
        <%= flash[:message_saved] %>
      </div>
      <div class="object-control">
        <%= extjs_button( 'Сохранить', :method => :submit ) %>
      </div>
      <div class="object-control">
        <%= link_to 'Удалить', {:action => 'destroy', :id => @report.id},
        { :class => 'destroy', :confirm => 'Удалить контекст?' } %>
      </div>
    <% end %>
  </fieldset>
</div>
