<div class="editor">
<% @quiz.factor_groups.each do |group| %>
  <h2><%= group.title %></h2>
  <ul>
    <% group.children.each do |f| %>
      <li>
        <h3><%= f.title %></h3>
        <%= link_to 'Добавить интерпретацию', { :controller => 'interpretation', :action => 'new', :report_id => @report.id, :factor_id => f.id }, :remote => true
        %>
        <div id="interpretations-<%=f.id%>">
          <%= render :partial => 'admin/interpretation/factor_interpretations', :locals => { :factor => f, :report => @report}%>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
</div>
