<h3 style="color: red; text-align: center; ">
  <strong>Добро пожаловать на сайт prof-career.ru !!!</strong>
</h3>
<p style="text-align: center;">
  На этом сайте создатели планируют размещать психологические опросники, тесты способностей, с помощью которых любой человек сможет протестировать себя сам, узнать о своих предпочтениях, интересах, способностях.
</p>
<p style="text-align: center; ">
  Перед тем, как приступить к выполнению тестов необходимо заполнить регистрационную форму.</p>
<p style="text-align: center; ">
  На данный момент для заполнения доступен мотивациооный опросник, который мы и предлагаем Вам заполнить, перейдя на страницу "Опросы".
</p>
<p style="text-align: center; ">
  <strong>Удачи! </strong>
</p>
<p style="text-align: center;">
  <strong>Спасибо за использование нашего ресурса!</strong>
</p>