<div class="editor">
  <%= form_for project, :url=>{:controller=>"admin/projects", :action=>"update", :id=>project.id}, :remote=>true, :before => 'getEditorsData();' do |f|  %>
    <fieldset class="x-fieldset x-form-label-left">
      <legend class="x-fieldset-header">Параметры проекта</legend>
      <div class="form-content x-fieldset-body">
        <%= extjs_form_item("Заголовок")    { f.text_field :title,
            :class => 'text long x-form-field x-form-text' } %>
        <%= extjs_form_item("Анонимная регистрация") { f.check_box  :allow_anonim } %>
        <%= extjs_form_item("CSS проекта") { f.text_area :style , :class=>'x-form-field small-plain-editor'}%>
        <fieldset class='x-fieldset x-form-label-left'>
          <legend>Опросы</legend>
          <div id='project_quizzes'>
            <%= f.fields_for :project_quizzes do |field| %>
              <%= render 'project_quiz_fields', :f=>field%>
            <%end%>
          </div>
          <p><%= link_to_add_fields "Добавить опрос", f, :project_quizzes %></p>
        </fieldset>
        <%= extjs_form_item("Проект по-умолчанию") { f.check_box  :default } %>
        <div id="save-status">
          <%= flash[:message_saved] %>
        </div>
        <div class="object-control">
          <%= extjs_button( 'Сохранить', :method => :submit, :submit_id=>'submit_form' ) %>
        </div>
        <div class="object-control">
          <%= link_to 'Удалить', {:action => 'destroy', :id => project.id},
          { :class => 'destroy', :confirm => 'Удалить проект?' } %>
        </div>
      </div>
    </fieldset>
  <%end%>

  <fieldset class="x-fieldset x-form-label-left">
    <legend>Статистика по проекту</legend>
    <table class='statistic'>
      <tr>
        <td>Опросы</td>
        <td>Назначено</td>
        <td>Завершено</td>
        <td>Кол-во пользователей/кандидатов</td>
      </tr>
      <% project.statistic.each do |quiz|%>
        <tr>
          <td><%= quiz[:title]%></td>
          <td><%= quiz[:all]%></td>
          <td><%= quiz[:completed]%></td>
          <td><%= quiz[:people]%></td>
        </tr>
      <%end%>
    </table>
  </fieldset>

  <fieldset class="x-fieldset x-form-label-left">
      <%= extjs_form_item("Код для вставки") {
        "<textarea class='x-form-field small-plain-editor'>#{h("<iframe src='#{remote_url(:project_id=>project.id)}' width='800' height='1200'></iframe>")}
        </textarea>"
       } %>
     <%= extjs_form_item("Ссылка для регистрации") {
        "<textarea class='x-form-field small-plain-editor'>#{remote_auth_register_url(:project_id=>project.id)}</textarea>"
      } %>
  </fieldset>
</div>
