:javascript

  // UK Date Sorting
  jQuery.fn.dataTableExt.oSort['uk_date-asc'] = function(a, b) {
    var parsea = $('<div/>').append(a);
    var parseb = $('<div/>').append(b);
    
    var a = parsea.find('.quiz-date').text().trim();
    var b = parseb.find('.quiz-date').text().trim();
    
    var ukDatea = a.split('.');
    var ukDateb = b.split('.');

    var x = (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
    var y = (ukDateb[2] + ukDateb[1] + ukDateb[0]) * 1;

    return ((x < y) ? -1 : ((x > y) ? 1 : 0));
  };

  jQuery.fn.dataTableExt.oSort['uk_date-desc'] = function(a, b) {
    var parsea = $('<div/>').append(a);
    var parseb = $('<div/>').append(b);
    
    var a = parsea.find('.quiz-date').text().trim();
    var b = parseb.find('.quiz-date').text().trim();
    
    var ukDatea = a.split('.');
    var ukDateb = b.split('.');

    var x = (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
    var y = (ukDateb[2] + ukDateb[1] + ukDateb[0]) * 1;
    
    return ((x < y) ? 1 : ((x > y) ? -1 : 0));
  };


  $(document).ready(function(){
    var cols = [{ "bSortable": false },{ "bSortable": false },null,null,null,null];
    var count = #{@project.project_quizzes.count};
    for(i=0;i<count;i++){ cols.push({"sType": "uk_date"}); }
    var tableObj = $('#client-list').dataTable({
      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
      "sPaginationType": "bootstrap",
      "aoColumns": cols,
      "aaSorting": [[2, "asc"]],
      "oLanguage": {
        "sProcessing":   "Подождите...",
        "sLengthMenu":   "Показать _MENU_ записей",
        "sZeroRecords":  "Записи отсутствуют.",
        "sInfo":         "Записи с _START_ до _END_ из _TOTAL_",
        "sInfoEmpty":    "Записи с 0 до 0 из 0",
        "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
        "sInfoPostFix":  "",
        "sSearch":       "Поиск:",
        "sUrl":          "",
        "oPaginate": {
            "sFirst": "<<",
            "sPrevious": "Пред.",
            "sNext": "След.",
            "sLast": ">>"
        }
      }
    });

    tableObj.fnFilter("#{params[:user]}");
    $("#client-list").data('api', tableObj);
    $("#choose_all").click(function(){
      if($("#choose_all").is(":checked"))
        $("#client-list tr td").find(":checkbox").attr('checked', 'checked');
      else
        $("#client-list tr td").find(":checkbox").removeAttr('checked');
      Service.refreshMoveLink("#{move_users_admin_project_path(@project)}");
      Service.refreshSendLink("#{send_choosed_admin_project_path(@project)}");
      Service.refreshExportLink("#{excel_export_admin_project_path(@project, format: :xml)}");
    });
    $(".add-client").live('click', function(){
      $(this).button('loading');
    });   
    $(".edit-client").live('click', function(){      
    })
    $("input[name='choosed[]']").live('change', function(){
      Service.refreshMoveLink("#{move_users_admin_project_path(@project)}");
      Service.refreshSendLink("#{send_choosed_admin_project_path(@project)}");
      Service.refreshExportLink("#{excel_export_admin_project_path(@project, format: :xml)}")
    });
  });

.center-pane
  .tabbable
    %ul.nav.nav-tabs
      %li{class: params[:tab] != 'tab_clients' ? 'active' : ''}
        %a{ :href => "#tab_stat", "data-toggle" => "tab" }= "Статистика"
      %li{class: params[:tab] == 'tab_clients' ? 'active' : ''}
        %a{ :href => "#tab_clients", "data-toggle" => "tab" }= "Список кандидатов"
    .tab-content
      .tab-pane#tab_stat{class: params[:tab] != 'tab_clients' ? 'active' : ''}
        %table.table.table-striped.table-bordered.table-condensed
          %thead
            %tr
              %th Опросы
              %th Назначено
              %th Завершено
              %th Кол-во пользователей/кандидатов             
          %tbody
            - @project.statistic.each do |quiz|
              %tr
                %td= quiz[:title]
                %td= quiz[:all]
                %td= quiz[:completed]
                %td= quiz[:people]
      .tab-pane#tab_clients{class: params[:tab] == 'tab_clients' ? 'active' : ''}
        .dash-table
          .title            
          .buttons
            = link_to "Добавить кандидата", new_admin_project_user_path(@project, section: @section), class: "btn btn-primary add-client", remote: true, :"data-loading-text" => "Загрузка..."            
          %table.table.table-striped.table-bordered.table-condensed.tablesorter#client-list
            %thead
              %tr          
                %th.center= check_box_tag :choose_all 
                %th
                %th Фамилия
                %th Имя
                %th Отчество

                %th Email
                - @project.project_quizzes.each do |pq|
                  %th= pq.quiz.title
            %tbody
              - @users.each do |user|
                = render "user_item", user: user
          .t-footer
            