:javascript
	$(document).ready(function(){
		var tableObj = $('#notice-list').dataTable({
			"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
			"sPaginationType": "bootstrap",
			"oLanguage": {
				"sProcessing":   "Подождите...",
				"sLengthMenu":   "Показать _MENU_ записей",
				"sZeroRecords":  "Записи отсутствуют.",
				"sInfo":         "Записи с _START_ до _END_ из _TOTAL_",
				"sInfoEmpty":    "Записи с 0 до 0 из 0",
				"sInfoFiltered": "(из _MAX_)",
				"sInfoPostFix":  "",
				"sSearch":       "Поиск:",
				"sUrl":          "",
				"oPaginate": {
					"sFirst": "<<",
					"sPrevious": "<",
					"sNext": ">",
					"sLast": ">>"
				}
			}
		});
	});


.center-pane
	.dash-table
		.title
			= "Отправленные уведомления"   
			%span= "[#{@project.title}]"

	%table.table.table-striped.table-bordered.table-condensed.tablesorter#notice-list
		%thead
			%tr
				%th Дата
				%th Адресат ФИО
				%th Адресат E-mail
				%th Отправитель E-mail
				%th Шаблон

		%tbody
			- @notices.each do |item|
				%tr
					%td= item.created_at.strftime("%Y-%m-%d %H:%M")	
					%td= item.user.title
					%td= item.user.email
					%td= AppConfig.setting[:mail_robot]

					%td
						= link_to message_text_admin_project_notice_path(@project, item.notice, sended_notice_id: item.id), remote: true,  :"data-original-title" => "Просмотр", rel: :tooltip, id: "preview-link" do
							= item.notice.title	