= javascript_include_tag "jquery.zclip"
= javascript_include_tag 'redactor', 'redactor.ru'
= stylesheet_link_tag 'redactor'

#add-project-dialog-container
#notices-dialog-container
#users-dialog-container

.left-pane.projects  
  = link_to "Добавить проект", new_admin_project_path, class: "btn btn-success btn-large", remote: true
  .well
    %ul.nav.nav-list#projects-list
      %li.nav-header 
        = "Проекты"        
      - @projects.each do |project|
        %li{ :class => !@project.nil? && @project.id == project.id ? "active" : "" }
          = link_to admin_project_path(project) do
            %i.icon-list-alt
            = project.title
- unless @project.nil?
  = render "main_part"
  = render "right_part"