.well 
  :javascript
    $(document).ready(function(){
      RadioButtons.refresh();

      $(".select-quiz").change(function(){
        getReports(this);
      });


    function getReports(element){
        var quiz_id = $(element).attr("value");
        var selected_id = $(element).attr("data-value");
        
        var el = $(element).parent().next().find('select');

        $.get('#{params[:id]}/reports?quiz_id='+quiz_id+'&value='+selected_id, function(data){
          $(el).empty();
          $(el).append(data);
        });
    };
    });

  .row
    .span3= f.select :quiz_id, Quiz.all.map {|q| [q.title, q.id]}, { :include_blank => false }, :class => "span3 select-quiz", :data => {:type => f.object.quiz_id, :value => f.object.report_id}
    .span3
      = f.select :report_id, {}, { :include_blank => false }, class: "select-report", data: f.object.report_id, id: "r#{f.object.quiz_id}"
  .row.mt5
    .span3= f.label :show_quiz_title, "Показывать название опросника?"
    .span2
      .btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "project[show_quiz_title]" }
        %button.btn{ :type => "button", :value => 1 }= "Да"
        %button.btn{ :type => "button", :value => 0 }= "Нет"
      = f.hidden_field :show_quiz_title
  .row.mt5
    .span3= f.label :show_report, "Отчет сразу?"
    .span2
      .btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "project[show_report]" }
        %button.btn{ :type => "button", :value => 1 }= "Да"
        %button.btn{ :type => "button", :value => 0 }= "Нет"
      = f.hidden_field :show_report
  .row.mt5
    .span3= f.label :escape_instruction, "Пропустить инструкцию?"
    .span2
      .btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "project[escape_instruction]" }
        %button.btn{ :type => "button", :value => 1 }= "Да"
        %button.btn{ :type => "button", :value => 0 }= "Нет"
      = f.hidden_field :escape_instruction
  .row.mt5
    .span2      
      = link_to_remove_fields "Удалить опрос", f, ".well", class: "btn btn-danger"