.right-pane.options
  .well
    %ul.nav.nav-list
      %li.nav-header Действия
      %li
        = link_to new_admin_project_user_path(@project), class: "add-client", remote: true, :"data-loading-text" => "Загрузка..." do        
          %i.icon-plus-sign
          Добавить кандидата
      - if @project.quizzes.count > 0
        %li
          = link_to excel_export_admin_project_path(@project, format: :xml), target: :balnk do
            %i.icon-th
            Экспорт всех в Excel
      %li
        = link_to excel_export_admin_project_path(@project, format: :xml), class: "export-choosen", target: :blank do
          %i.icon-check
          Экспорт выбранных в Excel
      %li.nav-header Проект
      %li
        = link_to settings_admin_project_path(@project), remote: true do
          %i.icon-wrench
          Параметры проекта
      %li#project-polls
        = link_to quizes_admin_project_path(@project), remote: true do
          %i.icon-list
          Опросы
      %li
        = link_to codes_admin_project_path(@project), remote: true do
          %i.icon-file
          Код для вставки
      %li.nav-header Легенда
      %li.legend    
        %button.btn{ disabled: :disabled }
          %i.icon-plus-sign
        Назначено
      %li.legend
        .btn.btn-warning
          %i.icon-time
        В процессе
      %li.legend
        .btn.btn-success
          %i.icon-ok-circle
        Выполнено
      %li.nav-header Опции      
      %li.move-clients
        = link_to move_users_admin_project_path(@project), class: "move-user-group", remote: true do
          %i.icon-move
          Переместить кандидатов
      %li.nav-header Уведомления
      %li.send-notification
        = link_to send_all_admin_project_path(@project), remote: true do
          %i.icon-envelope
          Отправить всем
      %li.send-notification
        = link_to send_choosed_admin_project_path(@project), remote: true, class: "send-to-choosed" do
          %i.icon-check
          Отправить выбранным
      %li.send-notification
        = link_to send_uncompleted_admin_project_path(@project), remote: true do
          %i.icon-envelope
          Отправить незавершимшим
      %li
        = link_to admin_project_notices_path(@project) do        
          %i.icon-cog
          Управление шаблонами
      %li.sended-notify
        = link_to notice_history_admin_project_path(@project) do
          %i.icon-cog
          Отправленные уведомления