%tr{ :"user-data" => user.id }  
  %td.center= check_box_tag "choosed[]", user.id
  %td.center
    .btn-group{:style => "display: inline-block; margin-bottom: 0px;"}
      = link_to '#', :class => "btn dropdown-toggle", "data-toggle" => "dropdown" do
        %i.icon-user
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to profile_admin_user_path(user), target: :blank do
            %i.icon-file
            = "Анкета"
        %li                     
          = link_to admin_project_user_path(user.project, user, section: @section), remote: true, confirm: "Вы уверены?", method: :delete do
            %i.icon-remove
            = "Удалить"
        %li                   
          = link_to edit_admin_project_user_path(user.project, user, section: @section), remote: true, class: "edit-client" do
            %i.icon-edit
            = "Редактировать..."
        %li                   
          = link_to move_to_project_admin_project_user_path(user.project, user, section: @section), remote: true do
            %i.icon-move
            = "Переместить в проект..."
  %td= "#{user.surname}"
  %td= "#{user.name}"
  %td= "#{user.patronymic}"                            
  %td= user.email
  - user.project.project_quizzes.each do |pq|
    %td= render "shared/projects/quiz_control_group", user: user, quiz: pq.quiz