<% unless @project.id == @new_proj.id %>
	<% @users.each do |u| %>
		Service.deleteUser(<%= u.id %>);
	<% end %>
	Service.showNoty('Пользователи успешо перемещены!');
<% end %>
$("#move-to-project").modal('hide');
$("#add-project-dialog-container").html("");