<% if @project.valid? %>
	window.location.href = "<%= admin_project_url(@project) %>";
<% else %>
	noty({
		layout: 'topRight',
		text: "Поле обязательно для заполнения!",
		type: "error",
		closeWith: ['hover', 'click'],
		timeout: 1500
	});
<% end %>