<% if @ids.nil? %>
	Service.showNoty('Выберите одного или несколько кандидатов!', 'error');
<% else %>
	$("#add-project-dialog-container").html("<%= j(render "shared/projects/move_to_project_dialog") %>");
<% end %>