#notices-dialog-container

.left-pane.projects  
  .well
    %ul.nav.nav-list#projects-list
      %li.nav-header 
        = "Проекты"        
      - @projects.each do |project|
        %li{ :class => !@project.nil? && @project.id == project.id ? "active" : "" }
          = link_to admin_project_notices_path(project) do
            %i.icon-list-alt
            = project.title
- unless @project.nil?
  = render "main_part_notice_history"
  = render "/admin/notices/right_part"