<% if @users.count > 0 %>
	$("#add-project-dialog-container").html("<%= j(render "shared/projects/send_notice_dialog") %>");
<% else %>
	Service.showNoty('Нет выбранных пользователей!', 'warning');
<% end %>