<% if @project.valid? %>
	$("#projects-list li.active a").html("<i class='icon-list-alt'></i>  <%= @project.title %>");
	$("#project-settings-dlg").modal('hide');
	noty({
	  layout: 'topRight',
	  text: "Изменения сохранены!",
	  type: "success",
	  closeWith: ['hover', 'click'],
	  timeout: 1500
	});
	$("#add-project-dialog-container").html("");
<% else %>
	noty({
	  layout: 'topRight',
	  text: '<%= j(render "errors") %>',
	  type: "error",
	  closeWith: ['hover', 'click'],
	  timeout: 1500
	});
<% end %>