<div class="range question-editor">
  <div class="editor">
  <%= form_for @question, :as=>:question, :url => { :controller => 'questions', :action => 'update', :id => @question.id}, :remote=>true do |f| %>
    <table>
      <tr>
        <td class="label">Текст вопроса</td>
        <td><%= f.text_area  :instruction, :id => "question-#{@question.id}-instruction" %></td>
      </tr>
      <tr>
        <td class="label">Варианты</td>
        <td>
          <%= f.text_area :variants, :class => 'long-text', :value=>@question.real_variants %>
        </td>
      </tr>
      <tr>
      <td class="label">Правильные ответы</td>
        <td>
          <div class='collection'>
            <% @question.right_sequences.each_with_index do |right_sequence, index|%>
              <!-- Left for complete deleting sequence -->
              <input type='hidden' name='question[right_sequences][q][sequence]' value='' />
              <%= render "/questions/range/question_sequence", :right_sequence=>right_sequence, :number=>index%>
            <%end%>
          </div>
          <br/>
          <%= link_to_function 'Добавить последовательность', "add_collection_item('#{escape_javascript(render '/questions/range/question_sequence', :number=>"change_me", :right_sequence=>{})}', this)", :class=>"add_sequence"%>
        </td>
      </tr>
      <%= render '/questions/edit_form', :f=>f, :question=>@question%>
    </table>
    <%= render '/questions/submit_block', :question=>@question%>
  <% end %>
  </div>
</div>
