<div class="range">
  <form class="observer" action="#" data-url="<%=quiz_answer_path(quiz, question)%>">
    <table class="variant-view">
      <tr>
        <td class="instruction">
          <%= show_numeration(quiz, question) %>
          <%= question.instruction %>
          <%= required_answer_for(question, project_quiz)%>
        </td>
      </tr>
      <tr>
        <td>
          <ul class='sortable-list'>
            <% question.variants.each_with_index do |variant, index|%>
              <li class='sortable-variant' data-value="<%=index%>"><%= variant %></li>
            <%end%>
          </ul>
        </td>
      </tr>
    </table>
  </form>
</div>
