<div class="collection_item">
  <label class= 'label'>Последовательность</label>
  <textarea name="question[right_sequences][<%= number%>][sequence]" ><%= right_sequence[:real_sequence]%></textarea>
  <br/>
  <label class= 'label'>Бал</label>
  <br/>
  <input type="text" name="question[right_sequences][<%=number%>][value]" value="<%= right_sequence[:value]%>" />
  <%= link_to_function 'Удалить', "remove_collection_item(this)", :class=>"remove_sequence"%>
</div>
