<div class="range">
  <table class="range-view">
    <tr>
      <td class="instruction">
        <%= show_numeration(quiz, question)  %>
        <%= question.instruction %>
      </td>
    </tr>
    <tr>
      <td>
        <ul>
          <% question.variants.each do |variant|%>
            <li><%= variant%></li>
          <%end%>  
        </ul>
      </td>
    </tr>
  </table>
</div>
