<table class="statistics-table">
  <tr>
    <% if not show_value %>
      <th width="50%">Вопрос</th>
      <th width="45%">Ответ</th>
      <th>Балл</th>
      <% if @quiz.belbin? %>
      <th>Фактор</th>
      <% end %>
    <%else%>
      <th width="50%">Вопрос</th>
      <th width='50%'>Ответ</th>
    <% end %>
  </tr>
  <% answers.each_with_index  do |answer, index| %>
  <% answer_view = (answer.view + "\n").split(/ - \d+\n/) %>
  <% scores = answer.view.scan(/\d+/) %>
  <% instr ='' %>
  <% 8.times do |i|%>
    <tr>
    <% if not instr.eql?(answer.question.instruction) %>
      <td id="instruct"  class="instruction"><%= index + 1%>. <%= answer.question.instruction%></td>
      <% instr = answer.question.instruction %>
      <% elsif i == 7 %>
       <td id="instruct_nil_end"  class="instruction"></td>
      <% else %>
      <td id="instruct_nil"  class="instruction"></td>
      <% end %>
      <td class="answer">
         <%= answer_view[i] %>
     </td>
      <td class="value">
         <%= scores[i] %>
      </td>
      <% if @quiz.belbin? %>
        <td class="value"><%= answer.question.factor_by_text answer_view[i]  %></td>
      <% end %>
    </tr>
  <%end%>  
  <%end%>
  <% unanswered_questions.each_with_index do |unanswered_question, index|%>
    <tr>
      <td class="instruction"><%= "#{answers.size + index+1}. #{unanswered_question.instruction}"%></td>
      <td class="answers">Не был отвечен</td>
      <% if show_value %>
          <td class="value">-</td>
      <% end %>
    </tr>
  <%end%>
</table>
