<div class="editor">
  <fieldset class="x-fieldset x-form-label-left">

    <legend><%= @quiz.title%> / <%= @user.title %> </legend>
    <ul>
      <li><%= link_to 'Версия для печати - только ответы', admin_statistics_answers_path(:user_id => @user.id, :quiz_id => @quiz.id), :target => 'blank'%> |
        <%= link_to 'PDF версия - только ответы',
         admin_statistics_answers_path(:user_id => @user.id, :quiz_id => @quiz.id, :format => "pdf"), :target => 'blank'%>
        </li>
      <li>
        <%= link_to 'Версия для печати - ответы и баллы', admin_statistics_answers_path(:user_id => @user.id, :quiz_id => @quiz.id, :values => 1), :target => 'blank'%> |
        <%= link_to 'PDF версия - ответы и баллы', admin_statistics_answers_path(:user_id => @user.id, :quiz_id => @quiz.id, :format => "pdf", :values => 1), :target => 'blank'%>
      </li>
    </ul>

    <%= render 'statistic_table', :answers=>@answers, :quiz => @quiz,  :unanswered_questions=>@unanswered_questions, :show_value=>params[:value]%>

    <%= link_to 'Удалить результат', admin_statistics_clear_statistic_path(:user_id=>@user.id, :quiz_id=>@quiz.id), :class=>'destroy', :confirm=>'Вы уверены?'%>

  </fieldset>
</div>
