<div class="editor">
  <fieldset class="x-fieldset x-form-label-left">
    <legend><%= @quiz.title%> / <%= @user.title %> </legend>
    <% if !@quiz.interview? %>
      <% @quiz.factor_groups.each do |group| %>
      <h2><%= group.title%></h2>
      <table class="statistics-table">
        <tr>
          <th>Фактор</th>
          <th>Значение</th>
          <th>Z-балл</th>
          <th>Стен</th>
        </tr>
        <% group.children.each do |factor| %>
        <tr>
          <td><%= factor.title %></td>
          <td><%= factor.value(user) %></td>
          <td><%= '%.02f' % factor.zvalue(user) %></td>
          <td> -<%= factor.sten(user).to_i%></td>
        </tr>
        <% end %>
      </table>
      <% end %>
    </div>
    <% else %>
      <div class="no-results">Расчет статистики выполняется только для тестов</div>
    <% end %>
</fieldset>
</div>
