<div class="editor">
  <fieldset class="x-fieldset x-form-label-left">

    <legend><%= @quiz.title%> / <%= @user.title %> </legend>
    <% if !@quiz.interview? %>
      <table id='reports'>
        <% @quiz.reports.each do |report|%>

          <tr>
            <td><%= report.title%></td>
            <td><%= link_to 'Версия для печати',
              admin_statistics_view_report_path(:user_id => @user.id, :quiz_id => @quiz.id, :report_id=>report.id) %></td>
            <td><%= link_to 'PDF версия',
            admin_statistics_view_report_path(:user_id => @user.id, :quiz_id => @quiz.id, :format=>'pdf', :report_id=>report.id) %></td></tr>
        <%end%>
      </table>
      <% if @quiz.reports.any? %>
        <%= render 'shared/quiz_full_report', :quiz=>@quiz, :user=>@user, :report=>@quiz.reports.first%>

      <%end%>
    <% else %>
       <div class="no-results">Вывод отчета возможен только для тестов</div>
    <% end %>
  </fieldset>
</div>
