<html>
  <head>
    <style>
      body { font-family: Verdana, Arial, sans-serif; font-size: 12px; background: white;}
      td.instruction { width: 60%;}
      <% if @values  %>
      td.answer { width: 35%; }
      <% else %>
      td.answer { width: 40%; }
      <% end %>
      td.value  { width: 5%; text-align: center;}
      .statistics-table { border: 1px; border-collapse: collapse;}
      .statistics-table td, .statistics-table th { border: 1px solid #A0A0A0; font-size: 12px; padding: 3px;}
    </style>
  <head>
  <body>
    <h2><%= @user.title %></h2>
    <h2><%= @quiz.title%></h2>

    <%= render 'statistic_table', :answers=>@answers, :unanswered_questions=>@unanswered_questions, :show_value=>params[:values]%>
  </body>
</html>