<% content_for :header do %>


<%= javascript_include_tag  "fckeditor/fckeditor.js"%>
<%= javascript_include_tag  "/extjs/custom/dynamic_grid_panel.js" %>
<%= javascript_include_tag  "admin/controls/users_grid.js" %>
<%= javascript_include_tag  "admin/controls/general_tree.js" %>
<%= javascript_include_tag  "admin/windows/notice_window.js" %>
<%= javascript_include_tag  "admin/pages/statistics_page.js" %>


<%= stylesheet_link_tag     "admin-statistics"%>
<title>Статистика</title>
<%end%>

<div id="answers-area"></div>
<div id="statistics-area"   class="x-hide-display"></div>
<div id="report-area"   class="x-hide-display"></div>

<% content_for :javascript do %>
<script type="text/javascript">
var viewPort;
var noticeWindow;

Ext.onReady(function() {
  viewPort = new Admin.StatisticsPage();
  viewPort.render();
  return viewPort;
});

</script>

<iframe id="upload-frame" name="upload-frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
<% end %>