<div class="open question-editor">
  <div class="editor">
  <%= form_for @question, :as=>:question, :url => { :controller => 'questions', :action => 'update', :id => @question.id}, :remote=>true do |f| %>
    <table>
      <tr>
        <td class="label">Текст вопроса</td>
        <td><%= f.text_area  :instruction, :id => "instruction-question-#{@question.id}" %></td>
      </tr>
      <tr>
        <td class="label">Размер</td>
        <td>
          <%= f.text_field :size%><br/>
          <i>Используйте служебные слова('большой', 'маленький'), или задайте размер в формате 'ширина*высота'</i>
        </td>
      </tr>
      <%= render '/questions/edit_form', :f=>f, :question=>@question%>
    </table>
    <%= render '/questions/submit_block', :question=>@question%>
  <% end %>
  </div>
</div>
