<div class="open">
  <form class="observer" action="#" data-url="<%= quiz_answer_path(quiz, question)%>">
    <p class='instruction'>
      <%= show_numeration(quiz, question) %>
      <%= question.instruction%>
      <%= required_answer_for(question, project_quiz)%>
    </p>
    <textarea name="open-answer" style="<%="width:#{question.width}px; height:#{question.height}px" %>" ></textarea>
  </form>
</div>
