<div class="open_question">
  <form id="open_question_<%=question.id%>">
    <p class='instruction'>
      <%= show_numeration(quiz, question)  %>
      <%= question.instruction%>
    </p>
    <textarea style=<%="'width:#{question.width}px;height:#{question.height}px'"%>></textarea>
  </form>
</div>
