.well
	.row
		.span1= "Утверждение"
		.span2= f.text_area :instruction
	.row
		.span1= "Фактор"
		.span2= f.select :factor_ids, @quiz.factors.collect { |f| [f.title, f.id] }
	.row
		.span1
			= link_to_remove_fields "Удалить", f, ".well", class: "btn btn-danger"