- file = @question.path

:javascript
	$(document).ready(function(){
		$(".cancel-quiz-item").live('click', function(){
			var api = $("#question-editor").data('api');
			api.showQuestionView(#{@question.id});
		});
		$(".save-quiz-item").live('click', function(){			
			$(".edit-instruction").submit();
			return false;
		});
		Service.refreshBootstrapRadio();
	});

= form_for @question, url: admin_quiz_question_path(@quiz, @question), remote: true, html: { class: "edit-instruction" } do |f|
	= render "shared/quizzes/questions/edit/#{file}", f: f
	.row
		.span1 &nbsp;
		.span3
			%button.btn.btn-primary.save-quiz-item{:type => "submit"}= "Сохранить"
			%button.btn.btn-danger.cancel-quiz-item{:type => "button"}= "Отмена"
