:javascript
	$(document).ready(function(){
		$("#move-to-position").modal({
			show: true
		});
		$("#apply-move-btn").click(function(){
			var api = $("#question-editor").data('api');
			api.moveQuestion(#{@question.id}, $("#new_position").val());
			$("#move-to-position").modal('hide');
			$("#quiz-dialog-container").html('');
			return false;
		});
	});
.modal.hide.fade#move-to-position
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "Переместить в позицию"	
	.modal-body			
		.row
			.span2= label_tag :position, "Выберите позицию:"
			.span4= select_tag :position, options_for_select(@count.times.collect { |i| [i, i] }), :include_blank => false, class: "input-xlarge span4", id: "new_position"
	.modal-footer
		%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Отмена"
		%button.btn.btn-primary#apply-move-btn{ :type => "button" }= "Переместить"