- edit = !edit.nil? ? edit : true
- move = !move.nil? ? move : true
- remove = !remove.nil? ? remove : true
:javascript
	$('.check-quiz-item').button()
	$(".q-control button, .q-control a").tooltip()
.q-control
	.btn-group
		= link_to move_admin_quiz_question_path(@quiz, question), :"data-original-title" => "Переместить в позицию", rel: :tooltip, remote: true, class: :btn do					
			%i.icon-random
		%button.btn.check-quiz-item{ :type => "button", "data-toggle" => "button", "data-original-title" => "Выделить", :rel => "tooltip" }
			%i.icon-check
		- if edit
			= link_to edit_admin_quiz_question_path(@quiz, question), :"data-original-title" => "Редактировать", rel: :tooltip, remote: true, class: :btn do			
				%i.icon-pencil
		- if move
			= link_to buffering_admin_quiz_question_path(@quiz, question), :"data-original-title" => "Переместить в буфер", rel: :tooltip, remote: true, class: :btn do
				%i.icon-share-alt
		- if remove
			= link_to admin_quiz_question_path(@quiz, question), :"data-original-title" => "Удалить", rel: :tooltip, class: :btn, remote: true, confirm: "Вы уверены, что хотите удалить этот элемент?", method: :delete do	
				%i.icon-trash