.well
	.row
		.span1= "Ответ"
		.span2= text_area_tag "questions_range[right_sequences][#{number}][sequence]", scope[:real_sequence], rows: 5
	.row
		.span1= "Балл"
		.span2= text_field_tag "questions_range[right_sequences][#{number}][value]", scope[:value], class: :span1
	.row
		.span1
			= link_to_function "Удалить", "Service.removeSequence(this)", class: "btn btn-danger"