= javascript_include_tag 'admin/quizzes'

- if flash[:notice]
	:javascript
		$(document).ready(function(){ Service.showNoty('#{flash[:notice]}'); });

#factor-dialog-container
#quiz-dialog-container

.left-pane.projects
	= link_to "Добавить опрос", new_admin_quiz_path, class: "btn btn-success btn-large", remote: true
	.well
		%ul.nav.nav-list#quiz-list
			%li.nav-header Опросы
			- @quizzes.each do |quiz|
				%li{ :class => !@quiz.nil? && @quiz.id == quiz.id ? "active" : "" }
					= link_to admin_quiz_factors_path(quiz) do
						%i.icon-list-alt
						= quiz.title	
	= link_to "Добавить фактор", new_admin_quiz_factor_path, class: "btn btn-success btn-large", remote: true
	.well
		%ul.nav.nav-list#factor-list
			%li.nav-header Факторы
			- @factors.each do |factor|
				%li{ :class => !@factor.nil? && @factor.id == factor.id ? "active" : "" }
					= link_to admin_quiz_factor_path(@quiz, factor) do
						%i.icon-list-alt
						= factor.title

- unless @factor.nil?
	= render "main_part"
= render "admin/quizzes/right_part", active: :factors