:javascript
	$(document).ready(function(){
		$('#correlations .loading').click(function(){
			$('#correlations').text('Ждите, идет рассчет корреляции вопросов по факторам...')
		});
	});

.center-pane.quiz-factor
	.dash-table
		.title
			= @factor.title 
			%span= "[#{@quiz.title}]"
	.tabbable
		%ul.nav.nav-tabs
			%li.active
				%a{ :href => "#tab_settings", "data-toggle" => "tab" }= "Параметры"
			%li
				%a{ :href => "#tab_statistics", "data-toggle" => "tab" }= "Статистика"				
		.tab-content
			.tab-pane.active#tab_settings
				= form_for @factor, url: admin_quiz_factor_path(@quiz, @factor), remote: true do |f|
					.well
						.row{ :style => "margin: 5px 0;" }
							.span1{ :style => "line-height: 28px;" }
								Название
							.span4= f.text_field :title, :class => "span4", :style => "margin-bottom: 0px;"
					.dash-table
						.title.small
							Вопросы на этот фактор
					.well
						%ul#question_list
							- @quiz.factor_view_questions.each do |q|
								%li
									= check_box_tag "questions[]", q.id, QuestionFactor.where(factor_id: @factor.id, question_id: q.id).count > 0
									= q.instruction							
					.form-actions
						%button.btn.btn-primary{ :type => "submit" } Сохранить фактор						
						= link_to "Удалить фактор", admin_quiz_factor_path(@quiz, @factor), confirm: "Вы уверены?", method: :delete, class: "btn btn-danger"
			.tab-pane#tab_statistics
				.well
					.row
						.span3 Среднее:
						.span2
							%pre= "%.02f" % @factor.mean							
					.row
						.span3 Стандартное отклонение:
						.span2
							%pre= "%.02f" % @factor.variance
					.row
						.span3 Коэффициент надежности:
						.span2
							%pre= "%.02f" % @factor.alpha
				%table.table.table-striped.table-bordered.table-condensed.tablesorter
					%thead
						%tr
							%th Стен
							%th Значение
					%tbody
						- (1..10).to_a.each do |s|
							%tr
								%td= s
								%td= "%.02f" % @factor.value_by_sten(s)
				.dash-table
					.title.small
						Корреляция вопросов
				%table.table.table-striped.table-bordered.table-condensed.tablesorter			
					%tbody				
						- @factor.question_factors.each do |q_f|
							- unless q_f.question.class.partional?
								%tr
									%td= q_f.question.number + 1
									%td= q_f.question.instruction
									%td= q_f.correlation(@factor) ? ("%.02f" % q_f.correlation(@factor)) : '-'
				#correlations= link_to "Вычислить корреляцию вопросов по факторам", {controller: "admin/factor", action: "correlation", id: @factor.id}, remote: true, class: 'loading'