<div class="editor">
  <fieldset class="x-fieldset x-form-label-left">
    <legend class="x-fieldset-header">Параметры опроса</legend>
    <%= form_for quiz, :url => { :controller => 'admin/quiz', :action => 'update', :id => quiz.id }, :before => 'getEditorsData();', :remote=>true do |f| %>

      <%= extjs_form_item("Заголовок") do
        f.text_field :title, :class => 'text long  x-form-field x-form-text'
      end %>

      <%= extjs_form_item("Пересчитывать статистику") do
        tag(:br) + f.check_box (:calculating) + tag(:br)
      end %>

      <%= extjs_form_item("Только вперед") do
        f.check_box (:forward) + tag(:br) + tag(:br)
      end %>

      <%= extjs_form_item("Тип опроса") { f.select (:kind, Quiz.kinds_for_select) + tag(:br) + tag(:br)} %>

      <%= extjs_form_item("Разбиение вопросов по страницам") do
        f.radio_button (:custom_pagination, true) + " вручную"
      end %>

      <%= extjs_form_item("") do
        f.radio_button (:custom_pagination, false) + " " +
        f.text_field (:page_size, :class => 'text small x-form-field x-form-text') + " вопросов на странице"
      end %>

      <%= extjs_form_item("Время ответа") {f.text_field :limited_in_time, :class => 'text small x-form-field x-form-text'}%>

      <% unless quiz.interview? %>
        <%= extjs_form_item("Характеристики профилей") do%>
          <fieldset id='profile_charachteristics' class='x-fieldset x-form-label-left'>
            <%= f.fields_for :profile_charachteristics do |builder|%>
                <%= render 'profile_charachteristic_fields', :f=>builder%>
            <%end%>
          </fieldset>
          <%= link_to_add_fields('Новый профиль', f, :profile_charachteristics)%>
        <%end%>
        <br/>
      <%end%>

      <div id="save-status">
        <%= flash[:message_saved] %>
      </div>
      <div class="object-control">
        <%= extjs_button 'Сохранить', :method => :submit %>
      </div>
      <div class="object-control">
        <%= link_to 'Удалить', {:controller => 'quiz', :action => 'destroy', :id => quiz.id},
        {:confirm => 'Удалить опрос', :class => 'destroy' }%>
      </div>

    <% end %>
  </fieldset>

  <fieldset class="x-fieldset x-form-label-left">
    <legend class="x-fieldset-header">Импорт из Excel (.xls)</legend>
    <% form_tag(
      { :controller => 'admin/quiz', :action => 'import', :id => quiz.id },
      {:multipart => true, :target => 'upload-frame', :before => '$("import-status").innerHTML = "Импортирую..."'}
    ) do %>

      <%= extjs_form_item("Файл") do
        "<input type='text' name='excel_data_file'
          id='excel-data-file' class='upload long text'/>"
      end %>
      <%= extjs_button 'Импортировать', :method => :submit %>
      <div id="import-status">
      </div>
    <% end %>
  </fieldset>
</div>
