<div class='fields'>
  <p>
    <b>От:</b>
    <%= f.select :min_value, ProfileCharachteristic.gup %>
    <b>До:</b>
    <%= f.select :max_value, ProfileCharachteristic.gup %>
    <b>Факторов от:</b>
    <%= f.text_field :value, :class => 'text small x-form-field x-form-text' %>
    <%= f.check_box :_destroy, :style=>'display:none'%>
    <%= link_to_function 'Удалить', 'remove_fields(this)'%>
  </p>
  <p>
    <b>Интерпретация:</b><br/>
    <%= f.text_area :interpretation, :class=>"x-form-field small-plain-editor" %>
  </p>
</div>