<%= render 'statistic_table' %>
<% questions.each_with_index do |question, index|%>
  <% if question.has_answer?%>
    <tr>
     <td class='name'><%= index + 1 %>. <%= question.instruction%></td>
      <% grouped = question.answers.where("updated_at >= :updated_question OR :updated_question < :today",                                   {:updated_question => question.updated_at, :today => Date.today}).group_by(&:value)%>
       <% 1.upto 5 do |i|%>
        <td><%= grouped[i].nil? ? 0 : grouped[i].size%></td>
      <%end%>
      <td><%= question.answers.where("updated_at >= :updated_question OR :updated_question < :today",                                   {:updated_question => question.updated_at, :today => Date.today}).size%></td>
    </tr>
  <%end%>
<%end%> 
</table>
 
<%= render 'statistic_table' %>
<% questions.each_with_index do |question, index|%>
  <% if question.has_answer?%>
    <tr>
      <td class='name'><%= index + 1 %>. <%= question.instruction%></td>
      <% grouped = question.answers.where("updated_at >= :updated_question OR :updated_question < :today",                                   {:updated_question => question.updated_at, :today => Date.today}).group_by(&:value)%>
      <% all = question.answers.where("updated_at >= :updated_question OR :updated_question < :today",                                   {:updated_question => question.updated_at, :today => Date.today}).size.to_f %>
      <% 1.upto 5 do |i|%>
        <td><%= grouped[i].nil? ? 0 : (grouped[i].size*100/all).round(2) %>%</td>
      <%end%>
      <td><%= (all==0) ? "0%": "100%" %></td>
    </tr>
  <%end%>
<%end%>
</table>