<% content_for :header do %>

  <%= javascript_include_tag  "admin/controls/general_tree", "admin/controls/quiz_tree", "admin/pages/quiz_constructor_page", 'admin/nested_collection', 'fckeditor/fckeditor', 'admin/questions', "jquery/jquery_ui", "admin/windows/edit_belbin_item_dialog" %>

  <%= stylesheet_link_tag 'admin-questions.css', "admin-statistics", 'admin', 'ui-lightness/jquery-ui-1.8.19.custom'%>

  <title>Опросники</title>
<%end%>

<div id="questions-area"  style="position:relative;"></div>

<div id="settings-area"  class="x-hide-display"></div>

<div id="statistics-area" class="x-hide-display"></div>

<% content_for :javascript do %>
<script type="text/javascript">
var viewPort;

Ext.onReady(function() {
  viewPort = new Admin.QuizConstructorPage({dataName : 'quiz' });
  viewPort.render();
  return viewPort;
});
</script>

<iframe id="upload-frame" name="upload-frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
<% end %>
