.center-pane.quiz
	.dash-table
		.title
			Профили 
			%span= "[#{@quiz.title}]"

	= form_for @quiz, url: admin_quiz_path(@quiz), remote: true, :class => "form-horizontal" do |f|
		.row			
			.span8#profile-container
				= f.fields_for :profile_charachteristics do |builder|
					= render "profile_charachteristic_fields", f: builder
		.row	
			.span3 &nbsp;
			.span4
				= link_to_add_fields "Новый профиль", f, :profile_charachteristics, "#profile-container", "last", {class: "btn"}
		.form-actions
			%button.btn.btn-primary{ :type => "submit" } Сохранить