.well
	.row
		.span5
			= "От:"
			= f.select :min_value, 9.times.collect {|n|[n, n]}, {:include_blank => false}, :class => "span1"
			= "До:"
			= f.select :max_value, 9.times.collect {|n|[n, n]}, {:include_blank => false}, :class => "span1"
			= "Факторов от:"
			= f.text_field :value, :class => "span1"
	.row
		.span3= f.label :interpretation, "Интерпретация:"
	.row
		.span8
			= f.text_area :interpretation, :class => "span8", :rows => 5, style: "width: 594px;"
	.row
		.span3			
			= link_to_remove_fields "Удалить профиль", f, ".well", class: "btn btn-danger"