.well
	.row
		.span2{ style: "width: 100px;" }= "Утверждение"
		.span4= f.text_area :instruction, rows: 5, class: "span4"
	.row
		.span2{ style: "width: 100px;" }= "Фактор"
		.span2= f.select :factor_ids, @quiz.factors.collect { |f| [f.title, f.id] }
	.row
		.span1
			= link_to_remove_fields "Удалить", f, ".well", class: "btn btn-danger"