<% if @count <= 1 %>
	Service.showNoty('Недостаточно вопросов для перемещения!', 'warning');
<% else %>
	$("#quiz-dialog-container").html("<%= j render 'shared/quizzes/questions/move_dialog' %>");
<% end %>