<% file = @question.type.split('::').last.underscore %>
<% if @question.valid? %>
  var api = $("#question-editor").data('api');
	api.showQuestionView(<%= @question.id %>);
	api.updateQuestion(<%= @question.id %>, "<%= j render "shared/quizzes/questions/view/#{file}", question: @question %>");
	Service.showNoty("Элемент успешно сохранен!");
<% else %>
	<% @question.errors.messages.each do |field, message| %>
		<% message.each do |mes| %>
			Service.showNoty("<%= mes %>", 'error', 3000);
		<% end %>
	<% end %>
<% end %>