.row
	.span2= "Текст вопроса"
	.span5= f.text_area :instruction, class: "span5", rows: "2", style: "width: 445px;"
.row
	.span2= "Варианты"
	.span6#belbin-items-list
		= f.fields_for :belbin_items do |builder|
			= render "admin/questions/belbin_item_fields", f: builder
.row
	.span2 &nbsp	
	.span3= link_to_add_fields "Новый вариант", f, :belbin_items, "#belbin-items-list", "last", {class: "btn"}
.row
	.span2= "Обязательный?"
	.span2
		.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "questions_belbin_range[required]" }
			%button.btn{ :type => "button", value: 1 }= "Да"
			%button.btn{ :type => "button", value: 0 }= "Нет"
		= f.hidden_field :required
.row
	.span2= "Анкетный?"
	.span2
		.btn-group#radio{ data: { toggle: "buttons-radio", toggle_name: "questions_belbin_range[profile]" } }
			%button.btn{ :type => "button", value: 1 }= "Да"
			%button.btn{ :type => "button", value: 0 }= "Нет"
		= f.hidden_field :profile
.row
	.span2= "Ручной номер"
	.span3= f.text_field :numeration, :class => "span3"