.row
	.span2= "Текст вопроса"
	.span3= f.text_area :instruction, :class => "input-xlarge span3", :rows => "6"

.row
	.span2= "Инверсный?"
	.span2
		.btn-group#radio{ :"data-toggle" => "buttons-radio", :"data-toggle-name" => "questions_open[inverse]" }
			%button.btn{ :type => "button", value: :true }= "Да"
			%button.btn{ :type => "button", value: :false }= "Нет"
		= f.hidden_field :inverse
.row
	.span2= "Обязательный?"
	.span2
		.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "questions_open[required]" }
			%button.btn{ :type => "button", value: 1 }= "Да"
			%button.btn{ :type => "button", value: 0 }= "Нет"
		= f.hidden_field :required
.row
	.span2= "Анкетный?"
	.span2
		.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "questions_open[profile]" }
			%button.btn{ :type => "button", value: 1 }= "Да"
			%button.btn{ :type => "button", value: 0 }= "Нет"
		= f.hidden_field :profile
.row
	.span2= "Ручной номер"
	.span3= f.text_field :numeration, :class => "span3"
.row
	.span2= "Размер"
	.span3= f.text_field :size, :class => "span3"