-# coding: utf-8
:javascript
	$(document).ready(function(){
		$('.delete-field').live('click', function() {
			$(this).parent().fadeOut(300, function(){
				$(this).remove();
			});
			return false;
		});


		$('.add-field').click(function(){
			$(this).parent().find('.field-list').append("#{j(render 'shared/quizzes/questions/edit/variant_field', v: nil)}");
			return false;
		});
	});

.row
	.span2= "Текст вопроса"
	.span3= f.text_area :instruction, :class => "input-xlarge span3", :rows => "6"
.row
	.span2= "Варианты"
	.span5
		.field-list
			- f.object.real_variants.split("\n").each do |obj|
				= render 'shared/quizzes/questions/edit/variant_field', v: obj
		%button.btn.add-field{style: "margin-bottom: 10px;"}
			Добавить вариант
.row
	.span2= "Правильные ответы"
	.span5#sequences-list
		- @question.right_sequences.each_with_index do |scope, index|
			= render "shared/quizzes/questions/sequence_fields", scope: scope, number: index
.row
	.span2 &nbsp
	.span3= link_to_function "Добавить ответ", "AjaxNestedForm.addFields(this, 'sequence', '#{escape_javascript(render('shared/quizzes/questions/sequence_fields', number: "new_sequence", scope: {}))}', '#sequences-list', 'last')"
.row
	.span2= "Обязательный?"
	.span2
		.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "questions_range[required]" }
			%button.btn{ :type => "button", value: 1 }= "Да"
			%button.btn{ :type => "button", value: 0 }= "Нет"
		= f.hidden_field :required
.row
	.span2= "Анкетный?"
	.span2
		.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "questions_range[profile]" }
			%button.btn{ :type => "button", value: 1 }= "Да"
			%button.btn{ :type => "button", value: 0 }= "Нет"
		= f.hidden_field :profile
.row
	.span2= "Ручной номер"
	.span3= f.text_field :numeration, :class => "span3"