.row
	.span2= "Тип шкалы"
	.span2
		.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "questions_scale[parity]" }
			%button.btn{ :type => "button", value: 1 }= "Нечетная"
			%button.btn{ :type => "button", value: 2 }= "Четная"
		= f.hidden_field :parity
.row
	.span2= "Размерность шкалы"
	.span3
		.input-append
			= f.text_field :length, :class => "span1"
			%span.add-on баллов
.row
	.span2= "Текст слева"
	.span3= f.text_field :left_instruction, :class => "span3"
.row
	.span2= "Текст справа"
	.span3= f.text_field :right_instruction, :class => "span3"
.row
	.span2= "Обязательный?"
	.span2
		.btn-group#radio{ "data-toggle" => "buttons-radio",  :"data-toggle-name" => "questions_scale[required]" }
			%button.btn{ :type => "button", value: 1 }= "Да"
			%button.btn{ :type => "button", value: 0 }= "Нет"
		= f.hidden_field :required
.row
	.span2= "Анкетный?"
	.span2
		.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "questions_scale[profile]" }
			%button.btn{ :type => "button", value: 1 }= "Да"
			%button.btn{ :type => "button", value: 0 }= "Нет"
		= f.hidden_field :profile
.row
	.span2= "Ручной номер"
	.span3= f.text_field :numeration, :class => "span3"