- @value = v.force_encoding('utf-8').strip if !v.blank?

.answer-field
  = text_field_tag "variant[]", "#{@value}", placeholder: "Вариант ответа...", class: "input-xlarge span4"
  %button.btn.btn-danger.delete-field{style: "margin-bottom: 10px;"}
    %i.icon-remove-circle.icon-white