-# coding: utf-8
:javascript
	$(document).ready(function(){
		$('.delete-field').live('click', function() {
			$(this).parent().fadeOut(300, function(){
				$(this).remove();
			});
			return false;
		});


		$('.add-field').click(function(){
			$(this).parent().find('.field-list').append("#{j(render 'shared/quizzes/questions/edit/variant_field', v: nil)}");
			return false;
		});
	});

.row
	.span2= "Текст вопроса"
	.span5= f.text_area :instruction, :class => "input-xlarge span5", :rows => "6"
.row
	.span2= "Варианты"
	.span5
		.field-list
			- f.object.variants.split("%0").each do |obj|
				= render 'shared/quizzes/questions/edit/variant_field', v: obj
		%button.btn.add-field{style: "margin-bottom: 10px;"}
			Добавить вариант
.row
	.span2= "Инверсный?"
	.span2
		.btn-group#radio{ :"data-toggle" => "buttons-radio", :"data-toggle-name" => "questions_variant[inverse_new]" }
			%button.btn{ :type => "button", value: :true }= "Да"
			%button.btn{ :type => "button", value: :false }= "Нет"
		= f.hidden_field :inverse_new
.row	
	.span2= "Отображение"
	.span3
		.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "questions_variant[view_type_new]" }
			%button.btn{ :type => "button", value: '2' }= "Переключатели"
			%button.btn{ :type => "button", value: '1' }= "Выпадающий список"
		= f.hidden_field :view_type_new
.row
	.span2= "Обязательный?"
	.span2
		.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "questions_variant[required]" }
			%button.btn{ :type => "button", value: 1 }= "Да"
			%button.btn{ :type => "button", value: 0 }= "Нет"
		= f.hidden_field :required
.row
	.span2= "Анкетный?"
	.span2
		.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "questions_variant[profile]" }
			%button.btn{ :type => "button", value: 1 }= "Да"
			%button.btn{ :type => "button", value: 0 }= "Нет"
		= f.hidden_field :profile
.row
	.span2= "Ручной номер"
	.span3= f.text_field :numeration, :class => "span3"