<div class="editor">  
  <fieldset class="x-fieldset">
  
  <% form_tag({:action => 'update', :id => @setting.id},{ :multipart => true }) do %>
  <div>
  <div class="comment">
      <%= raw @setting.comment %>
  </div>  
  
  <% if @setting.special == 'string'%>
  <%= text_field   'setting', "value", :class => 'text long x-form-field x-form-text' %>

  <% elsif @setting.special == 'checkbox' %>
  <%= check_box    'setting', "value" %>
  
  <% elsif @setting.special == 'wysiwyg' %>
  <%= text_area    'setting', "value", :class => 'plain-editor wysiwyg x-form-field x-form-text' %>
  

  <%elsif @setting.special == 'file' %>
    <label><a href="<%= @setting.data.url %>" target="_blank"><%= @setting.data.url %></a></label><br><br>
    <input type="text"  name="setting[data]" id="setting[data]" 
      class="upload text small x-form-field x-form-text">
  <%end%>
  </div>
  <br>
  <div id="save-status">
    <%= flash[:message_saved] %>
  </div>
  <%= extjs_button( 'Сохранить', :method => :submit ) %>
  <%end%>
  </fieldset>
</div>
