= javascript_include_tag 'redactor', 'redactor.ru'
= stylesheet_link_tag 'redactor'

:javascript
  $(document).ready(function(){
    $('textarea').redactor({ 
      autoresize: false,
      buttons: ['html', '|', 'formatting', '|', 'bold', 'italic', 'deleted', '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent', '|', 'table', 'link', '|', 'fontcolor', 'backcolor', '|', 'alignleft', 'aligncenter', 'alignright', 'justify', '|', 'horizontalrule'],
      lang: 'ru'
    });
  });
- active_id = @settings.first.id
.full-pane
  .tabbable.tabs-left
    %ul.nav.nav-tabs
      - @settings.each do |s|
        %li{ class: active_id == s.id ? "active" : "" }
          %a{ :href => "#setting_#{s.id}", "data-toggle" => "tab" }= s.title
    .tab-content
      - @settings.each do |s|
        .tab-pane{ id: "setting_#{s.id}", class: active_id == s.id ? "active" : "", style: "padding-left: 280px;" }
          = form_for [:admin, s], method: :put, remote: true do |f|
            .row
              - if s.special == "string"
                .span4= f.text_field :value
              - else
                .span8{ style: "margin-bottom: 20px;" }= f.text_area :value
            .row
              .span4= f.submit "Сохранить", class: "btn btn-primary"