- factor = f.object
.dash-table
	.title.small.alert.alert-info
		= factor.title		
		= link_to_add_fields "Добавить интерпретацию", f, :interpretations, "#factor-container-#{factor.id}", "last"
%div{ id: "factor-container-#{factor.id}" }
	= f.fields_for :interpretations, Interpretation.by_report_and_factor(@report, factor) do |builder|
		= render "admin/interpretation/interpretation_fields", f: builder