.center-pane.quiz
	.dash-table
		.title
			= @report.title
			%span= "[#{@quiz.title}]"
	= form_for @report, url: admin_quiz_report_path(@quiz, @report), remote: true do |f|
		.well
			.row{ :style => "margin: 5px 0;" }
				.span1{ :style => "line-height: 28px;" }
					Название
				.span4= f.text_field :title, :class => "span4", :style => "margin-bottom: 0px;"
		.dash-table
			.title.middle
				Интерпретации ответов
		= f.fields_for :factors do |factor_fields|			
			= render "factor_interpretation", f: factor_fields
		.form-actions
			%button.btn.btn-primary{ :type => "submit" } Сохранить отчет
			= link_to "Удалить отчет", admin_quiz_report_path(@quiz, @report), confirm: "Вы уверены?", method: :delete, class: "btn btn-danger"