= javascript_include_tag 'admin/quizzes'

- if flash[:notice]
	:javascript
		$(document).ready(function(){ Service.showNoty('#{flash[:notice]}'); });

#report-dialog-container

.left-pane.projects
	= link_to "Добавить опрос", new_admin_quiz_path, class: "btn btn-success btn-large", remote: true
	.well
		%ul.nav.nav-list#quiz-list
			%li.nav-header Опросы
			- @quizzes.each do |quiz|
				%li{ :class => !@quiz.nil? && @quiz.id == quiz.id ? "active" : "" }
					= link_to admin_quiz_factors_path(quiz) do
						%i.icon-list-alt
						= quiz.title	
	= link_to "Добавить отчет", new_admin_quiz_report_path, class: "btn btn-success btn-large", remote: true
	.well
		%ul.nav.nav-list#factor-list
			%li.nav-header Отчеты
			- @reports.each do |report|
				%li{ :class => !@report.nil? && @report.id == report.id ? "active" : "" }
					= link_to admin_quiz_report_path(@quiz, report) do
						%i.icon-list-alt
						= report.title

- unless @report.nil?
	= render "main_part"
= render "admin/quizzes/right_part", active: :reports