:javascript
	$(document).ready(function(){
		$("#add-client-dlg").modal({
			show: true
		});		
	});
.modal.hide.fade#add-client-dlg{style: "top: 0; margin-top: 0; width: 1000px; margin-left: -500px;"}
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "Новый кандидат"
	= form_for @user, :url => admin_project_users_path(@project, section: @section), :class => "form-horizontal", :remote => true do |f|
		.modal-body{style: "max-height: 600px;"}
			= render :partial => "shared/users/user_fields", :locals => { :f => f }
		.modal-footer
			%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Отмена"
			%button.btn.btn-primary#apply-add-btn{ :type => "submit" }= "Сохранить"
