:javascript
	$(document).ready(function(){
		$("#import-dlg").modal({
			show: true
		});		
	});
.modal.hide.fade#import-dlg
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "Импорт"
	= form_tag import_admin_project_users_path, multipart: true, remote: true do
		.modal-body{style: "max-height: 600px;"}
			= file_field_tag :file
		.modal-footer
			%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Отмена"
			%button.btn.btn-primary#apply-add-btn{ :type => "submit" }= "Импорт"

