:javascript
	$(document).ready(function(){
		Service.refreshBootstrapRadio();
	});

#left-dlg{style: "float: left;"}
	%fieldset
		%legend= "Личные данные:"
		.row
			.span2
				%label.user_login{ for: 'user_login'} 
					Логин
					%span.error *
			.span3= f.text_field :login, :class => "input-xlarge span3", value: @user.login.blank? ? Faker::Internet.domain_word : @user.login
		.row
			.span2
				%label.user_password{ for: 'user_password'} 
					Пароль
					%span.error *
			.span3= f.text_field :password, :class => "input-xlarge span3", value: @user.password.blank? ? SecureRandom.hex(4) : @user.password
		.row
			.span2
				%label.user_surname{ for: 'user_surname'} 
					Фамилия
					%span.error *
			.span3= f.text_field :surname, :class => "input-xlarge span3"
		.row
			.span2
				%label.user_name{ for: 'user_name'} 
					Имя
					%span.error *
			.span3= f.text_field :name, :class => "input-xlarge span3"			
		.row
			.span2= f.label :patronymic, "Отчество"
			.span3= f.text_field :patronymic, :class => "input-xlarge span3"
		.row
			.span2
				%label.user_birthday{ for: 'user_birthday'} Дата рождения
			.span4= f.date_select :birthday, 	{ :include_blank => false, :order => [:day, :month, :year], :start_year => 1945 }, { :class => "span1", style: "width: 80px;" }
		.row
			.span2
				%label.user_gender{ for: 'user_gender'} 
					Пол
					%span.error *
			.span3
				.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "user[gender]" }
					%button.btn{ :type => "button", :value => "male" }= "М"
					%button.btn{ :type => "button", :value => "female" }= "Ж"
				= f.hidden_field :gender
		.row.mt5
			.span2= f.label :role, "Роль"
			.span3= f.select :role, { "Пользователь" => 0, "Администратор" => 1 }, { :include_blank => false }
		.row
			.span2= f.label :restricted, "Корпоративный?"
			.span3
				.btn-group#radio{ "data-toggle" => "buttons-radio", :"data-toggle-name" => "user[restricted]" }
					%button.btn{ :type => "button", :value => "1" }= "Да"
					%button.btn{ :type => "button", :value => "0" }= "Нет"
				= f.hidden_field :restricted
	%fieldset
		%legend= "Проект:"
		.row
			.span2= f.label :project, "Проект"
			.span3= f.collection_select :project_id, Project.all, :id, :title
#right-dlg
	%fieldset
		%legend= "Контакты:"
		.row
			.span2
				%label.user_email{ for: 'user_email'} 
					Email
					%span.error *
			.span3= f.text_field :email, :class => "input-xlarge span3"
		.row
			.span2= f.label :phone, "Телефон"
			.span3= f.text_field :phone, :class => "input-xlarge span3"
		.row
			.span2
				%label.user_city{ for: 'user_city'} Город
			.span3= f.collection_select :city_id, Property.cities.order(:title), :id, :title, { :include_blank => false }, :class => "input-xlarge span3"
	%fieldset
		%legend= "Карьера:"
		.row
			.span2
				%label.user_education_level_id{ for: 'user_education_level_id'} Образование
			.span3= f.collection_select :education_level_id, Property.education_levels, :id, :title, { :include_blank => false}
		.row
			.span2= f.label :education_type_id, "Тип образования"
			.span3= f.collection_select :education_type_id, Property.education_types, :id, :title, { :include_blank => false}
		.row
			.span2= f.label :job_area_id, "Сфера деятельности"
			.span3= f.collection_select :job_area_id, Property.job_areas, :id, :title, { :include_blank => false}
		.row
			.span2
				%label.user_job_expirience_id{ for: 'user_job_expirience_id'} Стаж работы
			.span3= f.collection_select :job_expirience_id, Property.job_expiriences, :id, :title, { :include_blank => false}
		.row
			.span2= f.label :job_position_id, "Позиция"
			.span3= f.collection_select :job_position_id, Property.job_positions, :id, :title, { :include_blank => false}