<div class="belbin_range question-editor">
  <div class="editor">
  <%= form_for @question, :as=>:question, :url => { :controller => 'questions', :action => 'update', :id => @question.id}, :remote=>true do |f| %>
    <table>
      <tr>
        <td class="label">Текст вопроса</td>
        <td><%= f.text_area  :instruction %></td>
      </tr>
      <tr>
        <td class="label"></br></br>Варианты</td>
        <td>
        <div id="left_label">Утверждение</div>
        <div id="right_label">Фактор</div>
          <div id='belbin_items'>
            <%= f.fields_for :belbin_items do |builder|%>
              <%= render "belbin_item_fields", :f=>builder, :factors=>@question.quiz.factors.values_of(:title, :id)%>
            <%end%>
          </div>
          <br/>
          <%= link_to_add_fields 'Новый вариант', f, :belbin_items, :factors=>@question.quiz.factors.values_of(:title, :id)%>
        </td>
      </tr>
      <tr>
        <td class="label">Обязательный?</td>
        <td><%= f.check_box :required %>
      </tr>
      <tr>
        <!-- <td class="label">Анкетный?</td> -->
        <td><%= f.hidden_field :profile %></td>
      </tr>
      <tr>
        <td class="label">Ручной номер</td>
        <td><%= f.text_field :numeration %>
      </tr>
    </table>
    <%= render '/questions/submit_block', :question=>@question%>
  <% end %>
  </div>
</div>