<div class="belbin-range">
  <form class="observer" action="#" data-url="<%=quiz_answer_path(quiz, question)%>">
    <table class="variant-view">
      <tr>
        <td class="instruction">
          <%= show_numeration(quiz, question) %>
          <%= question.instruction %>
          <%= required_answer_for(question, project_quiz)%>
        </td>
      </tr>
      <tr>
        <td>
          <ul class='sortable-list decimal'>
            <% question.belbin_items.each do |belbin_item|%>
              <li class='sortable-variant' data-value="<%=belbin_item.id%>"><%= belbin_item.instruction %></li>
            <%end%>
          </ul>
        </td>
      </tr>
    </table>
  </form>
</div>
