<div class="range belbin_range">
  <table class="range-view">
    <tr>
      <td class="instruction">
        <%= show_numeration(quiz, question)  %>
        <%= question.instruction %>
      </td>
    </tr>
    <tr>
      <td>
        <ul>
          <% question.belbin_items.each do |belbin_item|%>
            <li><%= belbin_item.instruction %></li>
          <%end%>
        </ul>
      </td>
    </tr>
  </table>
</div>
