
.statistics-table {
	margin: 15px 15px 5px 0px;
	border-collapse: collapse;
	font-family: Arial, sans-serif;
	width: 80%;
}



.statistics-table td,.statistics-table th  {
  padding: 4px;
  text-align: left;
  font-size: 12px;
  border: 1px solid #A0A0A0;
}

.statistics-table  tr.summary td {
  border-top: 1px solid black;
}

.statistics-table td {
  background: #FAFAFA;
}
.statistics-table a {
  text-decoration: none;
  color: #303030;
  cursor: default;
}

.chartlist {
  border-top: 1px solid #EEE;
  display: block;
  border-collapse: collapse;
  margin-top: 10px;
}


.chartlist td.filled {
  background: #F0F0F0;
  border: 1px solid #909090;
  width: 21px!important;
  padding: 0px;
}

.charlist td .filled img {
  margin: 5px 0;
  padding:0px;
  overflow:hidden;
  display: block;
  width: 21px;
  height: 10px;
  background: #303030;
}

 .chartlist td.empty {
  background: #F0F0F0;
  border: 1px solid #909090;
  width: 21px!important;
}

.chartlist td.blank {
  background: #F0F0F0;
  padding: 0px;
  width: 20px;
  border: 1px solid #F0F0F0;
}



.chartlist td.label { font-size: 10px; text-align: center; border: 0px;}


.chartlist td.mark-left    { border-left:  2px solid black; }
.chartlist td.mark-right   { border-right: 2px solid black; }

.chartlist td.orange-right { border-right: 1px solid #eb711f;}
.chartlist td.orange-left  { border-left: 1px solid #eb711f;}


.chartlist td.factor-title {
  width: 250px;
  font-size: 12px;
}

.chartlist .sten { font-size: 11px; width: 20px;}


.statistics-table .value { width: 100%; height: 100%; text-align: center;}

.statistics-table .table_answer { border-collapse: collapse; border-spacing: 0; 
                          width: 328px; height: 328px; margin: 0px 0px;
                          padding: 0px 0px;}
.statistics-table .table_score { border-collapse: collapse; border-spacing: 0; 
                          width: 36px; height: 327px; margin: 0px 0px;
                          padding: 0px 0px;}
#instruct_nil{border-color: transparent gray;
}

#instruct_nil_end{border-color: transparent gray gray gray;
}
#instruct{border-color: gray gray transparent gray ;
}

