#questions-area { font-family: Arial, sans-serif, black; font-size: 11px;
  margin: 10px 0 0 50px;
}
#questions-area a { color: #303030;}
#questions-list { display: block ;}

.questions-toolbar { margin: 5px 0 5px 0;}

.question  {
  width: 850px;
  vertical-align: top;
  font-size: 13px;
  background: white;
  position: relative;
  min-height: 35px;
}


.question .handle  {
  position: absolute;
  padding: 6 0 0 5px;
  background: url('/images/questions/nubbin.gif') no-repeat;
  display: block;
  padding-left: 10px;
  left: -35px; top: 5px; width: 55px; height: 25px;
}

.question .question-view {
  padding: 5px;
  margin-left: 30px;
}

.question .question-index {
	font-weight: bold;
}

.question-editor .editor {
  background: #E5E5E5;
  border: 1px solid #606060;
  padding-bottom: 5px;
}

.question-editor .editor td {
  padding: 5px 0px;
  font-size: 11px;
}

.question-editor .editor .label {
  font-size: 11px;
  color: #303030;
  font-weight: bold;
  text-align: right;
  vertical-align: top;
  padding: 6px 5px 3px 0px;
  width: 80px;
}

.question-editor .editor .long-text {
  font-size: 11px;
  padding: 1px;
  width: 380px;
  border: 1px solid #606060;
}

ul.questions-list     { margin: 0; padding: 0;}
ul.questions-list  li { margin: 5px 0; padding: 0;}

.question-editor .editor .small-text {
  font-size: 11px;
  width: 40px;
  padding: 1px;
  border: 1px solid #606060;
}

.question-editor .editor textarea {
  width: 680px;
  height: 150px;
  font-size: 11px;
  padding: 1px;
  border: 1px solid #606060;
}

.question-editor .editor .submit {
  margin-left: 85px;
}

.question-editor .editor a {
  color: red;
  font-size: 11px;
}

.widget .question-editor ul     { list-style-type: circle; margin-left: 15px; display: block; }
.widget .question-editor em     { font-style: italic; display: block; }
.widget .question-editor strong { font-weight: bold; }

/* Разделитель */
.divider {
  height: 35px;
  background: url( '/images/questions/separator-bg.gif' ) repeat-x 0px 11px;
}

.divider h3 {
  display: block;
  position: absolute;
  top: 7px; left: 40px;
  background: white;
  padding: 0px 5px;
  font-size: 14px;
}

/* Шкала */

.scale-view { width : 600px; }
.scale-view  .left-instruction,.scale-view  .right-instruction { width: 80px; font-size : 12px;}
.scale-view  .variants  { width: 100%; height: 45px;}
.scale-view  .variants td {text-align: center; vertical-align: baseline; font-size: 12px;}

.scale-view  .variants div { font-size: 12px; margin-top: 2px; width: 100%; text-align: center;}


/* Выбор варианта */
.variant-view .instruction { font-size: 12px; width: 400px;}
.variant-view li { font-size: 12px; margin: 2px; vertical-align: baseline; display: block }
.variant-view ul { margin-left: 1em; }

.open_question .instruction
{
  width: 400px;
  font-size: 12px;
  margin: 5px;
}


/* */
#questions-list {
	list-style-type:none;padding-left: 20px;
}

#questions-list li { margin: 3px;}

.sequences .sequence
{
  margin: 2px;
  border: 1px solid #999;
  padding: 5px;
}
#questions-area .sequences a
{
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}
#questions-area a.remove_sequence
{
  color: red;
}

#questions-area a.add_sequence
{
  color:#444;
}
#questions-area .sequences a:hover
{
  text-decoration: underline;
}

div.variant input[type="radio"] {
	margin-right: 3px;
}

#question_edit{
  width: 800px; height: 620;
}

.fields input[type="text"]{
  height: 30px;
  width: 490px;
}

#left_label{
  float: left;
  height: 20px;
  width: 500px;
  margin: 5px 0px;
  padding: 0px 0px;
  text-align: center;
  font-size: 12pt;
}
#right_label{
  float: right;
  height: 20px;
  width: 180px;
  margin: 5px 0px;
  padding: 0px 8px;
  text-align: left;
  font-size: 12pt;
}

img.belbin_edit_image {
  cursor: pointer;
}

#belbin-item-edit-dialog {
  text-decoration: none;
}

#belbin-item-instruction {
  width: 100%;
  height: 230px;
}

