a.toggles {
    position:fixed;
    left:0;
    bottom:0;
    display:block;
    background-color:black;
    color:white;
    padding:10px 20px;
}

/* Common editor styles */

.editor { font-family: "Lucida Grande", Arial, sans-serif; font-size: 12px; }

.editor fieldset      { margin: 10px; }
.editor .form-content { margin-bottom: 10px; }


.editor input.large { width: 550px;  }
.editor input.long, .editor select.long { width: 300px;  }
.editor input.small { width: 100px; }
.editor input.radio { vertical-align: baseline;}

.tiny-plain-editor  { height: 100px; width: 550px; border: 0px; }
.small-plain-editor { height: 200px; width: 550px; border: 0px; }
.plain-editor       { height: 250px; width: 585px; border: 0px;}

.editor .destroy                        { font-weight: bold; color: #A00000; }
.editor .object-control                 { float: left; margin-right: 10px;}
.editor .object-control .destroy        { margin-top: 3px; display: block;}

.editor .x-form-item                    { margin-bottom: 10px;}

/* Item photos gallery */

.gallery-photos li          { float: left; margin: 5px; width: 130px; height: 150px; border: 1px solid #606060;}
.gallery-photos li.editable { float: left; margin: 5px; width: 130px; height: 190px; border: 1px solid #606060;}

.gallery-photos li a { font-family: Arial; font-size: 11px; color: #A00000; text-decoration: none ;}
.gallery-photos li table { border: 0px; border-collapse: collapse; height: 100%; width: 100%; font-size: 11px;}
.gallery-photos li .control { vertical-align: middle; text-align: center; height: 10px; padding: 2px;}

.gallery-photos li .inplace-editor { font-size: 10px; margin: 5px; width: 115 px; text-align: center; height: 30px; }
.gallery-photos li .editor_field { font-size: 11px; padding: 1px; width: 110px; text-align: left; margin: 1px; border: 1px solid ridge; }
.gallery-photos li .editor_ok_button { font-size: 11px; padding: 1px; margin: 0 5px; }

.editor h1 { font-size: 23px;}

p.sort_panel
{
  font-size: 14px;
  margin: 10px 0 0 12px;
}
#reports
{
  font-size:12px;
  margin-bottom:20px;
}
#reports td
{
  padding:4px;
}

div.x-form-element iframe
{
  height:400px;
}

table.statistic
{
  font-size:12px;
  border-spacing:0;
  border:1px solid #000;
  margin:10px;
}
table.statistic td.name
{
  width:25%;
  text-align:left;
  text-indent: 5px;
}
table.statistic tr.header-row
{
  background:#fff;
}
table.statistic td
{
  text-align:center;
  padding:5px;
  border-bottom:1px solid #000;
  border-right:1px solid #000;
}

textarea
{
  height:350px;
}

div.fields input[type="checkbox"].hidden
{
  display:none;
}

td.box_rotate {
	width: 100px;
}

form textarea.editor_field
{
  height:200px;
	width: 570px;
}

.no-results {
	font-size: 20px;
	color: #777;
	text-align: center;
	margin: 40px;
	text-shadow: 0px -1px 0px #CCC;
}

#project_quizzes p
{
  margin:10px 0;
}
#project_quizzes p label, #project_quizzes p select
{
  margin-right:20px;
}