.entry p { font-size: 12px;}
#main a { text-decoration: none;}
#main .entry {
	border-radius: 5px;
}

#main a:hover {text-decoration: underline;}

/* Окошко авторизации */
input.button, input.submit, a.button {
  border: 1px solid #CCC;
  padding: 2px;
  text-decoration:none;
}

#auth input.text {
  width: 190px;
  padding: 2px;
  margin-bottom:10px;
  border: 1px solid #CCC;
}

.long-input { width: 200px;}


span.field-with-error label { color: red; }

#logo h1 { color : #F0F0F0; font-size: 18px;}

#quizz-list h3 { margin-bottom: 3px;}


#navigation { text-align: center;}
#message { font-weight: bold; color: #A03030; margin-bottom: 10px; font-size: 13px;}


/* Ответ о прохождении теста */

/* Профиль */
.chartlist {
  border-top: 1px solid #EEE;
  display: block;
  border-collapse: collapse;
  margin-top: 10px;
}


.chartlist td.filled {
  background: #F0F0F0;
  border: 1px solid #909090;
  width: 20px;
  padding: 0px;
}

.charlist td .filled img {
  margin: 5px 0;
  padding:0px;
  overflow:hidden;
  display: block;
  width: 20px;
  height: 10px;
  background: #303030;
}

.chartlist td.empty {
  background: #F0F0F0;
  border: 1px solid #909090;
  width: 20px;
}

.chartlist td.blank {
  background: #F0F0F0;
  padding: 0px;
  width: 20px;
  border: 1px solid #F0F0F0;
}

#registration h2
{
  margin-left:210px;
}

.chartlist td.label { font-size: 10px; text-align: center; border: 0px;}


.chartlist td.mark-left    { border-left:  2px solid black; }
.chartlist td.mark-right   { border-right: 2px solid black; }

.chartlist td.orange-right { border-right: 1px solid #eb711f;}
.chartlist td.orange-left  { border-left: 1px solid #eb711f;}


.chartlist td.factor-title {
  width: 250px;
  font-size: 12px;
}

.chartlist .sten { font-size: 11px; width: 20px;}

.no-results {
	font-size: 20px;
	color: #777;
	text-align: center;
	margin: 40px;
	text-shadow: 0px -1px 0px #CCC;
}

.formError {
	display: inline;
	margin-left: 5px;
	color: red;
}

div.forms
{
  padding:0;
}

.forms div.input
{
  margin:6px 0;
}

.forms .input div.label
{
  display: inline-block;
  width: 200px;
  text-align: right;
  margin-right: 10px;
}
.forms input[type=text], .forms input[type=password]
{
  height:18px;
}
.forms .buttons
{
  margin-left:215px;
  margin-top:12px;
}
.forms sup
{
  color:red;
}
.forms span.comment
{
  display: block;
  margin-left: 220px;
  color:#888;
  font-style:italic;
}
.error-field { font-size: 12px; color: red; display:block; margin-left:220px; }

div.instruction-text{min-height:150px;}

ul.decimal { list-style: decimal; }