* {
  margin: 0;
  padding: 0;
}
body{
	position: relative;
	.navbar-inner{
		background: #233a6c; /* Old browsers */
		background: -moz-linear-gradient(top,  #233a6c 0%, #162b58 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#233a6c), color-stop(100%,#162b58)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #233a6c 0%,#162b58 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #233a6c 0%,#162b58 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #233a6c 0%,#162b58 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #233a6c 0%,#162b58 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233a6c', endColorstr='#162b58',GradientType=0 ); /* IE6-9 */
		a{
			color: white !important;
			text-shadow: none !important;
		}
		ul.dropdown-menu{
			a{
				color: #333 !important;
			}
		}
		.nav{
			li.active{
				a{
					background-color: #059 !important;
				}
			}
		}
		.container{
			a{
				&.brand{
					padding: 8px 20px 8px;
				}
			}
		}
	}
}
html, body {height: 100%; min-height: 100%}

* html #content {
  height: 100%;
}

$login_width: 500px;

#login{
	width: $login_width;
	margin: 0 auto;
	margin-top: 50px;
	#header{
		width: 100%;
		height: 64px;
		margin: 0 auto;
		margin-bottom: 10px;
		padding-left: 68px;
		#logo{
			padding-right: 15px;
			float: left;
		}
		#welcome{
			height: 100%;			
			padding-top: 10px;
			span{
				font-size: 20px;
				&.under{
					text-decoration: underline;
				}
			}
		}
	}
	#form{
		background-color: white;
		border: 1px solid #CCC;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
		margin-bottom: 5px;
		#form-header{			
			height: 56px;
			line-height: 56px;
			background-color: #F6F6F6;
			background-image: -moz-linear-gradient(top, #FAFAFA, #F2F2F2);
			background-image: -ms-linear-gradient(top, #FAFAFA, #F2F2F2);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAFA), to(#F2F2F2));
			background-image: -webkit-linear-gradient(top, #FAFAFA, #F2F2F2);
			background-image: -o-linear-gradient(top, #FAFAFA, #F2F2F2);
			background-image: linear-gradient(top, #FAFAFA,#F2F2F2);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAFAFA', endColorstr='#FFF2F2F2', GradientType=0);
			border-top: 1px solid white;
			border-bottom: 1px solid #CCC;
			-moz-border-radius-topleft: 4px;
			-webkit-border-top-left-radius: 4px;
			-ms-border-top-left-radius: 4px;
			-o-border-top-left-radius: 4px;
			border-top-left-radius: 4px;
			-moz-border-radius-topright: 4px;
			-webkit-border-top-right-radius: 4px;
			-ms-border-top-right-radius: 4px;
			-o-border-top-right-radius: 4px;
			border-top-right-radius: 4px;
			height: 46px;
			line-height: 46px;
			padding: 0 15px 0;
			h3{
				color: #555;
				float: left;
				line-height: 46px;
				text-shadow: 1px 1px 0 white;
				margin: 0 !important;
			}
			ul{
				margin: 0;
				padding: 0;
				border: 0;
				float: right;
				line-height: 46px;
				font-size: 11px;
				text-shadow: 1px 1px 0 white;
				li{
					line-height: 18px;
					font-weight: bold;
					list-style-image: none;
					list-style-type: none;
					margin-left: 0;
					display: -moz-inline-box;
					-moz-box-orient: vertical;
					display: inline-block;
					vertical-align: middle;
					white-space: nowrap;
					padding-left: 4px;
					padding-right: 4px;
					a{
						text-decoration: none;
						color: #666;
						outline: none;
						&:hover{
							color: #008EE8;
						}
					}
				}
			}
		}
		#form-body{
			/*margin-left: 30px;*/
			margin-top: 20px;
			form{
				margin: 0 !important;
			}
			label{
				&.control-label{
					font-size: 15px;
				}
			}
			.control-group{
				margin-left: 20px;
			}
			.form-actions{
				margin-bottom: 0px !important;
			}
		}
	}
	#footer{
		text-align: center;
		font-size: 11px;
		line-height: 14px;
	}
}

div{		
	&.dash-table{
		margin: 20px 30px;
		.title{
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 5px;
			span{
				color: #999;
			}
			&.middle{
				font-size: 14px;
			}
			&.small{
				font-size: 12px;
				a{
					margin-left: 10px;
					font-size: 10px;
				}
			}
		}
		.buttons{
			margin: 10px 0;
		}
		.filter{
			margin: 5px 0;
			display: none;
			float: left;
			form{
				margin: 0 !important;
			}
			.row{
				&.center{
					text-align: center;
				}
			}
		}
		.t-footer{
			text-align: center;
		}
		.table{
			th{				
				&.sortable{
					cursor: pointer;
					background-position-y: center;
					background-repeat: no-repeat;
					background-position-x: right;
				}
				&.up_sort{
					background-image: image_url('up_sort2.png');					
				}
				&.down_sort{
					background-image: image_url('down_sort2.png');
				}
			}
			td{
				/*.btn-apply{
					padding-right: 23px;
				}
				.btn-warning{
					padding-right: 17px;
				}		*/		
			}
		}
	}	
	&.left-pane{
		float: left;
		width: 80%;
		&.categories{
			width: 20%;
		}
		&.projects{
			width: 20%;
			text-align: center;			
			.form-actions{
				margin-right: 30px;
				margin-left: 30px;	
			}
		}
		.well{			
			margin-top: 20px;
			margin-left: 30px;
			margin-right: 30px;
			text-align: left;
		}
	}
	&.center-pane{
		float: left;
		width: 60%;
		padding-bottom: 54px;
		/*margin-top: 48px;*/
		&.projects{
			margin-top: 57px;
			.tabbable{
				min-height: 400px;
			}		
		}
		&.quiz-factor{
			.span2{
				line-height: 36px;
			}
			#question_list{
				list-style-type: none;
				input{
					margin: 0;
				}
			}
		}
		&.quiz-stat{
			.table{
				th, td{
					font-size: 10px;
				}
			}
		}
		&.quiz{
			width: 60%;
			.add-panel{
				position: absolute;
				z-index: 10;
				background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.73) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.73))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.73) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.73) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.73) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.73) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#baffffff',GradientType=0 ); /* IE6-9 */


			}
			#quiz-source{
				/*padding-top: 120px;*/
				list-style-type: none;
				margin-left: 0px;
				li{
					width: 700px;
					margin-top: 5px;
					&.selected{
						.question-item{
							border-radius: 5px;							
							border: 1px solid #BD362F !important;
						}
					}
					.question-item{
						position: relative;
						padding: 5px;
						border: 1px solid white;
						min-height: 28px;
						.q-edit{
							display: none;
						}
						.q-body{
							padding-left: 10px;
							ul{
								list-style-type: none;
							}
						}
						.q-control{
							position: absolute;
							top: 5px;
							right: 5px;
							display: none;
						}
						&:hover, &.active{							
							border-radius: 5px;							
							border: 1px solid #fc6;
							background-color: #ffc;
							.q-control{
								display: block;
							}
						}
						&.new{
							border-radius: 5px;							
							border: 1px solid #5BB65B;
							background-color: #ffc;
						}
						&:hover.active{
							.q-control{
								display: none;
							}	
						}
					}
				}				
			}
		}
		.btn-group{
			margin-bottom: 9px;
		}
		.row{
			&.mt5{
				margin-top: 5px;
			}
		}
	}
	&.right-pane{			
		width: 20%;
		float: right;
		.well{
			margin-right: 30px;
			margin-left: 30px;
			margin-top: 20px;
		}
		&.options{
			width: 20%;
		}
/*		&.actions{
			margin-top: 37px;
		}*/
		.statistics-item{
			margin-bottom: 20px;
			.title{
				text-align: center;
				font-size: 16px;
				font-weight: bold;
				text-decoration: underline;
			}
			.body{
				padding: 8px;
			}
		}	
		&#quiz-buffer-wrapper{
			ul{
				li{
					&.nav-header{
						cursor: pointer;
						margin-top: 9px !important;

						&.expanded{
							color: #666 !important;
						}
						&.rolled{
							color: #999 !important;
						}
					}
				}
			}
			ul#quiz-buffer{
				padding: 5px;
				list-style-type: none;
				margin-left: 0px;
				border-radius: 5px;
				border: 1px dashed;
				margin: 10px;
				&.empty{					
					/*min-height: 50px;*/
					/*padding-top: 35px;*/
					text-align: center;
					background-image: image_url('show-grid.png');
				}
				li{
					margin: 15px 0;
					cursor: pointer;
					&.selected{
						.question-item{
							background-color: #08C;
							color: white;
							text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
							/*border-radius: 5px;							
							border: 1px solid #BD362F !important;*/
						}
					}
					.question-item{
						.numeration{
							display: none;
						}
						.q-title{
							display: block;
						}
						.q-control{
							display: none;							
						}
						.q-body{
							display: none;
						}
						.q-edit{
							display: none;
						}
					}
				}				
			}		
		}
	}
	&.footer{
		z-index: 1000;
		clear: both;
		background: #1B1B1B;
		/*position: fixed;*/
		bottom: 0;
		display: none;
		width: 100%;
		background: #233a6c; /* Old browsers */
		background: -moz-linear-gradient(top,  #233a6c 0%, #162b58 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#233a6c), color-stop(100%,#162b58)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #233a6c 0%,#162b58 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #233a6c 0%,#162b58 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #233a6c 0%,#162b58 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #233a6c 0%,#162b58 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233a6c', endColorstr='#162b58',GradientType=0 ); /* IE6-9 */

		.container{
			width: 940px;
			margin: 0 auto;
			div{
				display: inline;
				float: left;
			}
			h3{
				color: white;
				font-size: 18px !important;
				line-height: 27px !important;
				margin: 0 !important;
			}
			p{
				color: gray;
			}
			.span2{
				margin-top: 15px;
				float: left;
				&.stay{
					margin-top: 9px;
					width: 140px;
				}
				&.icons{
					margin: 0;
					margin-top: 10px;
				}
				h4{
					color: white;
					font-size: 16px;
					font-weight: bold;
				}
				.twitter{
					background: image-url("footer-icons-sprite.png") 0 0 no-repeat;
					float: left;
					width: 35px;
					height: 35px;
					overflow: hidden;
					text-indent: -900px;
					margin: 0 5px 0 0;
				}
				.facebook{
					background: image-url("footer-icons-sprite.png") 0 0 no-repeat;
					float: left;
					width: 35px;
					height: 35px;
					overflow: hidden;
					text-indent: -900px;
					margin: 0 5px 0 0;
					background-position: -35px 0;
				}
				.blog{
					background: image-url("footer-icons-sprite.png") 0 0 no-repeat;
					float: left;
					width: 35px;
					height: 35px;
					overflow: hidden;
					text-indent: -900px;
					margin: 0 5px 0 0;	
					background-position: -70px 0;
				}
			}
		}
	}
}

#add-client-dlg, #notification-dlg, #project-polls-dlg,#project-settings-dlg{		
	.modal-body{
		/*max-height: 525px !important;*/
		min-height: 350px;
		.row{
			&.mt5{
				margin-top: 9px;
			}
		}
	}
}

#answers-dlg{
	width: 1200px !important;
	left: 50%;
	margin: -350px 0 0 -600px !important;
	.modal-body{
		/*max-height: 600px !important;*/
	}
}

#report-dlg{
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		font-family: "Lucida Grande", Arial, sans-serif;
		font-size: 12px;
		h2{
			font-size: 100%;
		}
	}
}

.table{
	tr{
		td{
			vertical-align: middle;
			&.vam{
				text-align: center;				
			}
		}
	}
}

.full-pane{
	margin: 30px;
	.content{
		text-align: center;
		margin-top: 20px;
		width: 60%;
		table{
			td{
				&.controls{
					width: 100px;
					text-align: center;
				}
			}
		}		
	}
}

.btn-group{
	li{
		cursor: pointer;
		&.nav-header{
			margin-top: 9px;
			display: block;
			padding: 3px 15px;
			font-size: 11px;
			font-weight: bold;
			line-height: 18px;
			color: #999;
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
			text-transform: uppercase;
		}
	}
}

li.nav-header{
	span{
		color: #08C;
		margin-left: 10px;
		text-transform: none;
		cursor: pointer;
		a{
			color: #08C;
			margin-left: 10px;
			text-transform: none;
			cursor: pointer;
			text-decoration: none;
		}
		&:hover{
			text-decoration: underline;
		}
	}
}

.draggable-highlight{
	height: 20px;
	border: 1px black dashed;
	background-color: #ffc;
}

.question-item{
	.numeration{
		font-weight: bold;
	}
	.q-view{
		&.scale{
			.q-body{
				padding-left: 0 !important;
			}
			.q-title{
				display: none;
			}
			.scale-table{
				.left{
					width: 50px;
				}
				.var{
					width: 30px;
				}
				.right{
					width: 50px;
					padding-left: 15px;
				}
			}
		}
		.divider{
			height: 27px;
			background: image_url('separator-bg.gif') repeat-x 0px 11px;
		}
	}	
}

ul{
	.legend{
		color: black;
		margin-bottom: 2px;
	}
}

span.add-on{
	margin-left: -5px !important;
}

.well{
	padding: 5px !important;
	&.form{
		.row{
			margin: 5px 0;
		}
		.label{
			line-height: 28px;
		}
	}
}

.icon-copy-paste{
	background-image: image_url('icon_copy_paste.png') !important;
	width: 12px !important;
	height: 14px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: inline-block;	
	background-position: 0 0 !important;
}

table{
	.center{
		text-align: center !important;
	}
}

.btn-group{
	ul{
		text-align: left !important;
	}
}

#project-polls-dlg, #project-statistics-dlg{
	width: 645px !important;
}

.pagination{
	margin-bottom: 80px !important;
	a{
		span{
			border: 0px !important;
			padding: 0px !important;
		}
	}
}
.tab-content{
	overflow: visible !important;
}

table#client-list{
	tr{
		td:nth-child(1), td:nth-child(2){
			text-align: center !important;
		}
	}
}

#notice-history-dlg, #crud-notify-dlg{
	width: 760px !important;
	margin: -250px 0 0 -380px !important;
}

#crud-notify-dlg{
	.modal-body{
		max-height: 500px !important;
	}
	margin: -320px 0 0 -380px !important;
}

body{
	ul.noty_cont{
		width: 500px;
		li{
			width: 500px;
		}
	}
}

#users-dialog-container form{
	margin:0!important;
}


#notices-dialog-container, #crud-notify-dlg, #quiz-dialog-container, #factor-dialog-container, #add-project-dialog-container, .edit_user, #report-dialog-container{
	form{
  		margin: 0!important;
  	}
}

#users-dialog-container{
	fieldset{
		margin: 5px!important;
	}
}

.right-pane, .left-pane{
	.well{
		padding: 0!important;
	}
}

.variants{
	td{
		text-align: center;
	}
}

#question-editor{
	.question-item{
		&.active{
			z-index: 99999;
		}
	}
}

#notices-dialog-container{
	.input{
		&.text{
			&.optional{
				label{
					&.text{
						&.optional{
							display: none;
						}
					}
				}
			}
		}
	}
}

a.toggles {
    position:fixed;
    left:0;
    bottom:0;
    display:block;
    background-color:black;
    color:white;
    padding:10px 20px;
}

.full-width{
	width: 78% !important;
	margin-left: 2%;
}

.error{ color: red; border-color: red !important; }