.instruction-text { font-size: 12px; }
.instruction-text * { font-size: 12px; }
/* Шкала */
.scale-view { width : 600px; }
.scale-view  .left-instruction,.scale-view  .right-instruction { width: 80px; font-size : 12px;}
.scale-view  .variants  { width: 100%; height: 45px;}
.scale-view  .variants td {text-align: center; vertical-align: center;}

.scale-view  .variants div { font-size: 12px; margin-top: 2px; width: 100%; text-align: center;}

/* Выбор одного из вариантов */
.variant-view .instruction { font-size: 12px; width: 400px;}
.variant-view ul { margin-top: 1em; margin-left: 2em; font-size: 12px;}
.variant-view ul li.variant { margin: 10px; padding:0; line-height: 100%;}
.variant-view ul li.variant input.radio { vertical-align: middle;}
.variant-view ul li.variant span { vertical-align: middle; cursor: pointer;}


.open-question .instruction
{
  width: 400px;
  font-size: 12px;
  margin: 5px;
}


/* Профиль */
.chartlist {
  border-top: 1px solid #EEE;
  display: block;
  border-collapse: collapse;
}


.chartlist td.filled {
  background: #F0F0F0;
  border: 1px solid #909090;
  width: 20px;
  padding: 0px;
}

.charlist td .filled img {
  margin: 5px 0;
  padding:0px;
  overflow:hidden;
  display: block;
  width: 20px;
  height: 10px;
  background: #303030;
}

.chartlist td.empty {
  background: #F0F0F0;
  border: 1px solid #909090;
  width: 20px;
}

.chartlist td.blank {
  background: #F0F0F0;
  padding: 0px;
  width: 20px;
  border: 1px solid #F0F0F0;
}



.chartlist td.label { font-size: 10px; text-align: center; border: 0px;}


.chartlist td.mark-left    { border-left:  2px solid black; }
.chartlist td.mark-right   { border-right: 2px solid black; }

.chartlist td.orange-right { border-right: 1px solid #eb711f;}
.chartlist td.orange-left  { border-left: 1px solid #eb711f;}


.chartlist td.factor-title {
  width: 250px;
  font-size: 12px;
}

.chartlist .sten { font-size: 11px; width: 20px;}

sup.marked
{
  color:green;
  font-size:16px;
}

ul.sortable-list
{
  width:500px;
}

ul.sortable-list li.sortable-variant
{
  padding:9px;
  padding-left:30px;
  font-size:13px;
  margin: 2px;
  background: #e2e2e2 url('/images/down_up.png') no-repeat center left;
  border:1px solid #666;
  border-radius: 3px;
  cursor: move;
}
