body {
  font-family: Arial, Helevetica, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  text-align: left;
  color:#666666;
}

ul { list-style-type: none;}

input.button, a.button{
  padding: 3px 8px;
  cursor:pointer;
}

.button:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  font-size: 18px;
  padding-bottom: 15px;
}

a {
  color: #CE2127;
}

p {
  text-align: justify;
  padding: 10px 0 0 0;
}

.variant-view ul {margin: 0; padding: 0}

.formError {
  display: block;
  margin: 2px 0 10px 130px;
  font-size: 0.8em;
  font-style: italic;
}

#registration h3 {
  text-align: center;
  margin: 0 !important;
}

#registration input.submit {
  margin: 8px 0 0 110px;
}
/*
.forms[data-remote='quiz'] {
  width: 50%;
  float: left;
}

.forms[data-remote='quiz'] .input div.label {
  width: 79px;
}

.forms[data-remote='quiz'] span.comment {
  margin-left: 95px;
}

.forms[data-remote='quiz'] .error-field {
  margin-left: 95px;
}

.forms[data-remote='quiz'] .buttons {
  margin-left: initial;
}

.forms[data-remote='quiz'] .buttons .submit.button {
  margin: 0 auto !important;
  display: block;
}

.forms[data-remote='quiz'] h3 {
  margin: 0 !important;
  text-align: center;
}*/

.forms h2 {
  text-align: center;
}

.forms .submit.button {
  display: block;
  margin: 0 auto !important;
}

.forms .buttons {
  margin: 0 !important;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 5px 8px;
  margin: 10px 0;
}

.centered-block {
  text-align: center;
  display: block;
  margin: 10px 0;
  clear: both;
}

.hidden {
  display: none;
}

.menu {
  border: 1px solid #CCC;
  padding: 10px;
  text-align: right;
}

.link {
  padding: 0 10px;
}

.clear-fx {
  clear: both;
}