<div class="editor">
  <%= form_for user, :url => { :action => 'update', :id => user.id }, :remote=>true do |f|  %>
  <fieldset class="x-fieldset x-form-label-left">
    <legend class="x-fieldset-header">Анкета пользователя</legend>
    <div class="form-content x-fieldset-body">
      <%= extjs_form_item("Логин")  { f.text_field :login,      :class => 'text long x-form-field x-form-text' } %>
      <%= extjs_form_item("Пароль") { f.text_field :password,   :class => 'text long x-form-field x-form-text' } %>
      <%= extjs_form_item("Имя") { f.text_field :name,       :class => 'text long x-form-field x-form-text' } %>
      <%= extjs_form_item("Фамилия") { f.text_field :surname,    :class => 'text long x-form-field x-form-text' } %>
      <%= extjs_form_item("Отчество") { f.text_field :patronymic, :class => 'text long x-form-field x-form-text' } %>
      <%= extjs_form_item("Пол")      {f.select :gender, User.gender_collection}
      %>
      <%= extjs_form_item("Дата рождения")      {
        f.date_select :birthday, :start_year => 1940, :end_year => Time.now.year - 14,:include_blank => true, :order=>[:day, :month, :year]
      }
      %>

      <%= extjs_form_item("email")    { f.text_field :email, :class => 'text long x-form-field x-form-text' } %>
      <%= extjs_form_item("Контактный телефон") { f.text_field :phone, :class => 'text long x-form-field x-form-text' } %>

      <%= extjs_form_item("Проект") {
         f.select(:project_id, Project.values_of(:title, :id) ,
            { :include_blank => true}, {:class => 'long'})
      }%>

      <%= extjs_form_item("Корпоративный") {
           f.check_box(:restricted, :class => "radio" )
      } %>

      <%= extjs_form_item("Город") {
        f.select(:city_id, City.values_of(:title,:id),
          { :include_blank => true}, {:class => 'long'})
      }%>
      <%= extjs_form_item("Образование") {
        f.select(:education_level_id, EducationLevel.values_of(:title, :id), { :include_blank => true},
          {:class => 'long'})
      } %>
      <%= extjs_form_item("Тип образования") {
        f.select(:education_type_id, EducationType.values_of(:title, :id), { :include_blank => true},
          {:class => 'long'})
      } %>
      <%= extjs_form_item("Сфера деятельности") {
        f.select(:job_area_id, JobArea.values_of(:title, :id), { :include_blank => true},
          {:class => 'long'})
      } %>
      <%= extjs_form_item("Стаж работы") {
          f.select(:job_expirience_id, JobExpirience.values_of(:title, :id), { :include_blank => true},
            {:class => 'long'})
      } %>

      <%= extjs_form_item("Позиция") {
           f.select(:job_position_id, JobPosition.values_of(:title, :id), { :include_blank => true},
             {:class => 'long'})
       } %>


    <br>
    <div id="save-status">
      <%= flash[:message_saved] %>
    </div>
    <div class="object-control">
      <%= extjs_button( 'Сохранить', :method => :submit ) %>
    </div>
    <div class="object-control">
      <%= link_to 'Удалить', {:action => 'destroy', :id => user.id},
      { :class => 'destroy', :confirm => 'Удалить пользователя?' } %>
    </div>
  </div>
  <%end%>
</div>
