:javascript
	$(document).ready(function(){
		$(".add-client").live('click', function(){
			$(this).button('loading');
		});		
		$(".edit-client").live('click', function(){			
		})
	});
.center-pane
	.dash-table
		.title
			Список кандидатов
		.buttons			
			= link_to "Добавить кандидата", new_admin_project_user_path(@project), class: "btn btn-primary add-client", remote: true, :"data-loading-text" => "Загрузка..."
		%table.table.table-striped.table-bordered.table-condensed#client-list
			%thead
				%tr
					%th{style: "display: none;"} ID					
					%th
					%th Фамилия
					%th Имя					
					%th Возраст
					%th Логин
					%th Email
					%th Проект
			%tbody
				- @users.each do |user|
					= render "admin/users/user_item", user: user
		.t-footer