.right-pane.options
	.well
		%ul.nav.nav-list			
			%li.nav-header Кандидаты
			- unless @all_users == true
				%li
					= link_to admin_project_users_path(format: "csv") do
						%i.icon-circle-arrow-up
						Экспорт
				%li
					= link_to import_dialog_admin_project_users_path, remote: true do
						%i.icon-circle-arrow-down
						Импорт
			- else
				%li
					/ = link_to admin_project_users_path(format: "csv") do
					%i.icon-circle-arrow-up
					Экспорт
				%li
					/ = link_to import_dialog_admin_project_users_path, remote: true do
					%i.icon-circle-arrow-down
					Импорт