%tr{ :"user-data" => user.id }
	%td{style: "display: none;"}= user.id
	%td
		.btn-group
			= link_to '#', :class => "btn dropdown-toggle", "data-toggle" => "dropdown" do
				%i.icon-user
				%span.caret
			%ul.dropdown-menu
				%li
					= link_to profile_admin_user_path(user), target: :blank do
						%i.icon-file
						= "Анкета"
				%li 										
					= link_to admin_project_user_path(user.project, user), remote: true, confirm: "Вы уверены?", method: :delete do
						%i.icon-remove
						= "Удалить"
				%li										
					= link_to edit_admin_project_user_path(user.project, user), remote: true, class: "edit-client" do
						%i.icon-edit
						= "Редактировать..."
				%li										
					= link_to move_to_project_admin_project_user_path(user.project, user), remote: true do
						%i.icon-move
						= "Переместить в проект..."						
	%td= user.surname
	%td= user.name				
	%td= DateTime.now.year - user.birthday.year unless user.birthday.nil?
	%td= user.login
	%td= user.email
	%td= link_to user.project.title, admin_project_path(user.project.id, user: "#{user.surname} #{user.name} #{user.patronymic}", tab: "tab_clients")