:javascript
  $(document).ready(function(){   
    var tableObj = $('#client-list').dataTable({
      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
      "sPaginationType": "bootstrap",
      "aoColumns":[
        null,
        { "bSortable": false },
        null,
        null,
        null,
        null,
        null,
        null
      ],
      "aaSorting": [[2, "asc"]],
      "oLanguage": {
        "sProcessing":   "Подождите...",
        "sLengthMenu":   "Показать _MENU_ записей",
        "sZeroRecords":  "Записи отсутствуют.",
        "sInfo":         "Записи с _START_ до _END_ из _TOTAL_",
        "sInfoEmpty":    "Записи с 0 до 0 из 0",
        "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
        "sInfoPostFix":  "",
        "sSearch":       "Поиск:",
        "sUrl":          "",
        "oPaginate": {
            "sFirst": "<<",
            "sPrevious": "Пред.",
            "sNext": "След.",
            "sLast": ">>"
        }
      }
    });
    $("#client-list").data('api', tableObj);
  });

-if !flash.notice.blank? 
  :javascript
    Service.showNoty("#{flash.notice}");

#users-dialog-container

.left-pane.projects  
  .well
    %ul.nav.nav-list#projects-list
      %li.nav-header 
        = "Проекты"
        %span= link_to "Все кандидаты", all_users_admin_projects_path
      - @projects.each do |project|
        %li{ :class => !@project.nil? && @project.id == project.id && @all_users.nil? ? "active" : "" }
          = link_to admin_project_users_path(project) do
            %i.icon-list-alt
            = project.title
- unless @users.nil?
  = render "admin/users/main_part"
  = render "admin/users/right_part"