%html
  %head
    = stylesheet_link_tag "report", media: :print
    %title= "Анкета #{@user.to_s}"
  %body
    %button.btn{onClick: "window.print()"} Распечатать
    %h1= "Анкета #{@user.to_s}"
    %form
      %fieldset
        %legend= "Личные данные:"
        %table
          %tr
            %td= "Логин"
            %td= @user.login
          %tr
            %td= "Пароль"
            %td= @user.password
          %tr
            %td= "Фамилия"
            %td= @user.surname
          %tr
            %td= "Имя"
            %td= @user.name
          %tr
            %td= "Отчество"
            %td= @user.patronymic.blank? ? "Не указано" : @user.patronymic
          %tr
            %td= "Дата рождения"
            %td= @user.birthday.nil? ? "Не указано" : @user.birthday.strftime("%d.%m.%Y")
          %tr
            %td= "Пол"
            %td= @user.gender == "male" ? "М" : "Ж"          
      %fieldset
        %legend= "Контакты:"
        %table
          %tr
            %td= "Email"
            %td= @user.email
          %tr
            %td= "Телефон"
            %td= @user.phone.blank? ? "Не указано" : @user.phone
          %tr
            %td= "Город"
            %td= @user.city.nil? ? "Не указано" : @user.city.title
      %fieldset
        %legend= "Карьера:"
        %table
          %tr
            %td= "Образование"
            %td= @user.education_level.nil? ? "Не указано" : @user.education_level.title
          %tr
            %td= "Тип образования"
            %td= @user.education_type.nil? ? "Не указано" : @user.education_type.title
          %tr
            %td= "Сфера деятельности"
            %td= @user.job_area.nil? ? "Не указано" : @user.job_area.title
          %tr
            %td= "Стаж работы"
            %td= @user.job_expirience.nil? ? "Не указано" : @user.job_expirience.title
          %tr
            %td= "Позиция"
            %td= @user.job_position.nil? ? "Не указано" : @user.job_position.title
      %fieldset
        %legend= "Проект:"
        %table
          %tr
            %td= "Проект"
            %td= @user.project.title
          %tr
            %td= "Корпоративный?"
            %td= @user.restricted? ? "Да" : "Нет"