<% if @user.valid? %>
	<% if !@all_users.nil? || @project == @user.project %>
		Service.updateUser("<%= j(render "admin/#{@section}/user_item", user: @user) %>", <%= @user.id %>);
	<% else %>
		Service.deleteUser(<%= @user.id %>);
	<% end %>
	$("#add-client-dlg").modal('hide');
	$("#move-to-project").modal('hide');
	$("#users-dialog-container").html('');
	Service.showNoty("Пользователь успешно добавлен!");
<% else %>
	$('input.error').removeClass('error');
	$('label.error').removeClass('error');
	
	<% @user.errors.full_messages.each do |message| %>
		Service.showNoty("<%= message %>", 'error', 3000);
	<% end %>

	<% @user.errors.messages.each do |field, message| %>
		$('#user_<%= field %>').addClass('error');
		$('.user_<%= field %>').addClass('error');
	<% end %>
<% end %>