- @quiz.factors.reject{ |f| f.id == @factor.id || f.parent_id == 0 }.each do |f|
	= "Корреляция вопросов с фактором: \"#{f.title}\""
	%table.table.table-striped.table-bordered.table-condensed.tablesorter			
		%tbody		
			- @factor.question_factors.each do |q_f|
				%tr
					%td= q_f.question.number + 1
					%td= q_f.question.instruction
					%td= q_f.correlation(f) ? ("%.02f" % q_f.correlation(f)) : '-'