<% @quiz.factors.reject{ |f| f.id == @factor.id || f.parent_id == 0 }.each do |f|  %>
<div>Корреляция вопросов с фактором : &laquo;<%= f.title %>&raquo;</div>

  <table class='statistics-table'>
  <% @factor.questions.each do |q| %>
  <tr>
    <td><%= q.number + 1 %></td>
    <td><%= q.instruction%></td>
    <% correlation = QuestionFactor.correlation(q,f)  %>
    <td><%= correlation.present? ? ("%.02f" % correlation) : "-" %></td>
  </tr>
  <% end %>
  </table> 
<% end %>