<div class="editor">
  <fieldset class="x-fieldset x-form-label-left">
    <legend class="x-fieldset-header">Фактор опроса</legend>
    <% form_remote_tag(:url => { :controller => 'admin/factor', :action => 'update', :id => @factor.id }) do %>
      <%= extjs_form_item("Название") do
        text_field('factor', 'title', :class => 'text long  x-form-field x-form-text')
      end %>

      <br>
      <div id="save-status">
        <%= flash[:message_saved] %>
      </div>
      <div class="object-control">
        <%= extjs_button( 'Сохранить', :method => :submit ) %>
      </div>
      <div class="object-control">
        <%= link_to 'Удалить', {:action => 'destroy', :id => @factor.id},
        { :class => 'destroy', :confirm => 'Удалить фактор?' } %>
      </div>
    <% end %>
  </fieldset>
  <fieldset class="x-fieldset x-form-label-left">
    <legend class="x-fieldset-header">Статистика</legend>

    <div>Среднее: <%= "%.02f" % @factor.mean %></div>
    <div>Стандартное отклонение: <%= "%.02f" % @factor.variance %></div>
    <div>Коэффициент надежности: <%= "%.02f" % @factor.alpha %></div>

    <table class="statistics-table">
      <tr>
        <th>Стен</th>
        <th>Значение</th>
      </tr>
      <% (1..10).to_a.each do |s| %>
      <tr>
        <td><%= s %></td>
        <td><%= "%.02f" % @factor.value_by_sten(s) %></td>
      </tr>
      <% end %>
    </table>
  
    <div>Корреляция вопросов</div>
    <table class='statistics-table'>
    <% @factor.question_factors.each do |q_f| %>
    <% unless q_f.question.class.partional?%>
      <tr>
        <td><%= q_f.question.number + 1 %></td>
        <td><%= q_f.question.instruction%></td>
        <td><%= q_f.correlation ? ("%.02f" % q_f.correlation) : '-' %></td>
      </tr>
    <%end%>
    <% end %>
    </table>

    <div id="correlations"><%= link_to "Вычислить корреляцию вопросов по факторам", {:controller => "admin/factor", :action => "correlation", :id => @factor.id}, :remote => true %></div>

  </fieldset>
</div>
