<div class="editor" style="margin:5px 0 5px -50px ;">
  <fieldset class="x-fieldset x-form-label-left">
    <legend><%= @factor.admin_tab_title %> (<%=  @factor.title%>)</legend>
    <% form_remote_tag(:url => {:controller => 'factor', :action => 'questions', :id => @factor.id }) do %>
    <ol id="questions-list">
      <%- @quiz.factor_view_questions.each do |q| %>
        <li><input type="checkbox" value="<%=q.id%>" name="questions[]"
          <%= @questions.map { |v| v.id }.include?(q.id) ? ' checked="checked" ' : '' %> 
        > <%= q.instruction%></li>
      <%- end %>
    </ol>
    <div class="object-control">
      <%= extjs_button( 'Сохранить', :method => :submit ) %>
    </div> 
    <% end %> 
     
  </fieldset>
</div>