:javascript
  $(document).ready(function(){
    $("#add-project-dlg").modal({
      show: true
    });
  });
.modal.hide.fade#add-project-dlg
  .modal-header
    %button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
    %h3= "Смена пароля"
  = form_for :admin_user, url: admin_reset_password_save_path, remote: true do |f|
    .modal-body   
      .row
        .span2= f.label :title, "Старый пароль"
        .span4= f.password_field :old_password, :class => "input-xlarge span4"
      .row
        .span2= f.label :title, "Новый пароль"
        .span4= f.password_field :new_password, :class => "input-xlarge span4"
      .row
        .span2= f.label :title, "Повтор пароля"
        .span4= f.password_field :new_password_confirmation, :class => "input-xlarge span4"
    .modal-footer
      %a.btn{ :href => "#", "data-dismiss" => "modal" }= "Отмена"     
      %button.btn.btn-primary{ :type => "submit" }= "Сохранить"