<p><%= @user.title%> желает пройти опрос <%= @quiz.title %> заново. Для этого необходимо в разделе статистика удалить его данные или воспользоваться ниже приведенной ссылкой. Для сохранения предыдущих ответов перейдите по следующим ссылкам:<br/>
<%= link_to "Ответы с балами версия для печати", admin_statistics_answers_url(:quiz_id=>@quiz.id, :user_id=>@user.id, :value=>true) %>
<br/>
<%= link_to "Ответы с балами pdf версия", admin_statistics_answers_url(:quiz_id=>@quiz.id, :user_id=>@user.id, :value=>true, :format=>:pdf) %>
<br/>
<%= link_to "Удалить результат", admin_statistics_clear_statistic_url(:quiz_id=>@quiz.id, :user_id=>@user.id) %>
</p>
