<p><%= @user.title%> завершил(-ла) заполнение теста <%= @quiz.title%></p>
<p>Проект: <%= @user.project.title%></p>
<p>Дата, время: <%= DateTime.now.to_s(:db)%></p>
<p>Для просмотра результатов перейдите по ссылке
<% if !@quiz.interview? %>
  <%= link_to "отчет", admin_statistics_view_report_url(:quiz_id=>@quiz.id, :user_id=>@user.id, :values=>true, :report_id=>@report_id) %>
    |
<% end%>
  <%= link_to "ответы", admin_statistics_answers_url(:quiz_id=>@quiz.id, :user_id=>@user.id, :values=>true, :report_id=>@report_id) %>
</p>
