<ul id="properties-list">
<% @properties.each do |property| %>
<li id='<%= "property_#{property.id}"%>'>
  <%= editable_content( 
  :content => { :text => property.title, 
    :options => { 
      :id => "property_#{property.id}"
    }
  },
  :url     => { :action => 'update',  :id => property.id },
  :ajax    => { :okText => '"Ok"', :cancelText => '"Отмена"', :savingText => '"Сохраняю..."'}
  )%>
</li>
<% end %> 
<br/>
<%= will_paginate @properties %>

<script type='javascript'>
  $$('.pagination a').each(function (link) { link.writeAttribute('data-remote', 'true');});
</script>

<br/>
<li>
  <% form_remote_tag(:url => { :action => 'add', :id => params[:id]   }) do %>
    <input type="text" name="title" class=" x-form-field x-form-text"> 
    <%= submit_tag 'Добавить' %>
  <% end %>
</li>  
</ul>
<%= sortable_element 'properties-list',
      :url => { :action => 'reorder', :role => @quiz },
      :handle => 'cursor', :overlap => :vertical, :constraint => :vertical , :scroll => true %>