<% if @property.valid? %>	
  var tr = $("<%= j(render 'shared/properties/property_item', item: @property) %>");
  var api = $("#<%= @property.type %>").data("api");
  var index = api.fnAddData([tr.find("td").get(0).innerText, tr.find("td").get(1).outerHTML]);
  tr = api.fnGetNodes(index);
  $(tr).addClass("property-item-<%= @property.id %>");
  $(tr).attr("property-data", <%= @property.id %>);
  var controlTd = $(tr).find("td").get(1);
  $(controlTd).addClass("controls");
  $("#property_title").val('');
  noty({
    layout: 'topRight',
    text: "Элемент сохранен!",
    type: "success",
    closeWith: ['hover', 'click'],
    timeout: 1500
  });
<% else %>
	noty({
    layout: 'topRight',
    text: "Поле обязательно для заполнения!",
    type: "error",
    closeWith: ['hover', 'click'],
    timeout: 1500
  })
<% end %>