var tr = $(".property-item-<%= @del_id %>").first();
var api = $("#<%= @del_type %>").data("api");
var index = api.fnGetPosition(tr.get(0));
api.fnDeleteRow(index);
noty({
  layout: 'topRight',
  text: "Элемент удален!",
  type: "success",
  closeWith: ['hover', 'click'],
  timeout: 1500
})