#edit-property-dlg-container
.full-pane
	.tabbable.tabs-left
		%ul.nav.nav-tabs
			%li{ class: has_any_section_page?(params) ? (params.has_key?(:educationlevel_page) ? "active" : '')  : "active" }
				%a{ :href => "#tab_education", "data-toggle" => "tab" }= "Образование"
			%li{ class: params.has_key?(:educationtype_page) ? "active" : '' }
				%a{ :href => "#tab_education_type", "data-toggle" => "tab" }= "Тип образования"
			%li{ class: params.has_key?(:jobarea_page) ? "active" : '' }
				%a{ :href => "#tab_job_area", "data-toggle" => "tab" }= "Сфера деятельности"
			%li{ class: params.has_key?(:jobexpirience_page) ? "active" : '' }
				%a{ :href => "#tab_job_expirience", "data-toggle" => "tab" }= "Стаж работы"
			%li{ class: params.has_key?(:jobposition_page) ? "active" : '' }
				%a{ :href => "#tab_job_position", "data-toggle" => "tab" }= "Уровень позиции"
			%li{ class: params.has_key?(:city_page) ? "active" : '' }
				%a{ :href => "#tab_city", "data-toggle" => "tab" }= "Город"
		.tab-content{ style: "overflow: auto !important;" }
			= render 'shared/properties/property_section_tab', tab_id: "tab_education", type: "EducationLevel", collection: @education, is_active: has_any_section_page?(params) ? (params.has_key?(:educationlevel_page) ? true : false)  : true
			= render 'shared/properties/property_section_tab', tab_id: "tab_education_type", type: "EducationType", collection: @education_types, is_active: params.has_key?(:educationtype_page) ? true : false
			= render 'shared/properties/property_section_tab', tab_id: "tab_job_area", type: "JobArea", collection: @job_areas, is_active: params.has_key?(:jobarea_page) ? true : false
			= render 'shared/properties/property_section_tab', tab_id: "tab_job_expirience", type: "JobExpirience", collection: @job_expiriences, is_active: params.has_key?(:jobexpirience_page) ? true : false
			= render 'shared/properties/property_section_tab', tab_id: "tab_job_position", type: "JobPosition", collection: @job_positions, is_active: params.has_key?(:jobposition_page) ? true : false
			= render 'shared/properties/property_section_tab', tab_id: "tab_city", type: "City", collection: @cities, is_active: params.has_key?(:city_page) ? true : false			