$("#tab_<%= @section %>").html("<%= j(render 'shared/properties/property_section_tab', tab_id: "tab_#{@section}", type: "#{@section.capitalize}", collection: @collection, is_active: true) %>");
noty({
  layout: 'topRight',
  text: "Загрузка завершена!",
  type: "success",
  closeWith: ['hover', 'click'],
  timeout: 15000
});
$(".loading-btn").button('reset');
var tableObj = $('##{type}').dataTable({
  "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
  "sPaginationType": "bootstrap",
  "aoColumns":[
    { "bSortable": false },
    { "bSortable": false }
  ],
  "oLanguage": {
    "sProcessing":   "Подождите...",
    "sLengthMenu":   "Показать _MENU_ записей",
    "sZeroRecords":  "Записи отсутствуют.",
    "sInfo":         "Записи с _START_ до _END_ из _TOTAL_ записей",
    "sInfoEmpty":    "Записи с 0 до 0 из 0 записей",
    "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
    "sInfoPostFix":  "",
    "sSearch":       "Поиск:",
    "sUrl":          "",
    "oPaginate": {
        "sFirst": "<<",
        "sPrevious": "Пред.",
        "sNext": "След.",
        "sLast": ">>"
    }
  }
});
$("##{type}").data('api', tableObj);
$("##{type} tbody").sortable({
  update: function(e, ui){
    var startWeight = 0;
    var tbody = $(ui.item[0]).parents("tbody");
    var res = $("tr", tbody).map(function(){
      var id = $(this).attr("property-data");
      startWeight++;
      return "weights[" + id + "]=" + startWeight;
    }).get().join("&");
    console.log(res);
    $.ajax({
      url: "#{admin_properties_reorder_path}",
      type: "POST",
      data: res
    });
  }
});
