<% if @property.valid? %>
	$(".property-item-<%= @property.id %> td:first-child").text("<%= @property.title %>");
	$("#edit-section-dlg").modal('hide');
	noty({
    layout: 'topRight',
    text: "Элемент сохранен!",
    type: "success",
    closeWith: ['hover', 'click'],
    timeout: 1500
  });
  $("#edit-property-dlg-container").html("");
<% else %>
	noty({
    layout: 'topRight',
    text: "Поле обязательно для заполнения!",
    type: "error",
    closeWith: ['hover', 'click'],
    timeout: 1500
  });
<% end %>