:javascript
	$(document).ready(function(){
		$("#add-report").modal({show:true});
	});
.modal.hide.fade#add-report
	.modal-header
		%button.close{ :type => "button", "data-dismiss" => "modal" }= "×"
		%h3= "Новый отчет"
	= form_for @report, url: admin_quiz_reports_path(@quiz) do |f|
		.modal-body		
			.row
				.span2= f.label :title, "Название"
				.span4= f.text_field :title, :class => "input-xlarge span4"
		.modal-footer
			%a.btn{ :href => "#", "data-dismiss" => "modal" }= "Отмена"
			%button.btn.btn-primary#add-report-btn{ :type => "submit" }= "Сохранить"