.center-pane
  .dash-table
    .title
      = "Управление шаблонами"   
      %span= "[#{@project.title}]"
    .buttons      
      = link_to "Добавить шаблон", new_admin_project_notice_path(@project), class: "btn btn-primary", remote: true
    %table.table.table-striped.table-bordered.table-condensed.tablesorter#notice-list
      %thead
        %tr                              
          %th Название          
          %th Создан
          %th
      %tbody
        - @notices.each do |item|
          = render "notice_row", notice: item              
    .t-footer