%tr{ id: "notice-item-#{notice.id}", :"notice-data" => notice.id }
  %td= notice.title
  %td= notice.created_at
  %td.center
    = link_to prev_admin_project_notice_path(@project, notice), remote: true, class: 'btn' do
      %i.icon-envelope
    .btn-group{:style => "display: inline-block; margin-bottom: 0px;"}
      = link_to '#', :class => "btn dropdown-toggle", "data-toggle" => "dropdown" do
        %i.icon-cog
        %span.caret
      %ul.dropdown-menu
        %li                     
          = link_to copy_admin_project_notice_path(@project, notice), remote: true do
            %i.icon-share
            = "Копировать..."
        %li                   
          = link_to edit_admin_project_notice_path(@project, notice), remote: true do
            %i.icon-edit
            = "Редактировать..."                  
        %li                   
          = link_to admin_project_notice_path(@project, notice), method: :delete, confirm: "Вы уверены?", remote: true do
            %i.icon-remove
            = "Удалить..."