$("#crud-notify-dlg").modal('hide');
<% if @is_project_section %>
  $("#add-project-dialog-container").css('visibility', '');
  Service.addOption("#send_template", <%= @notice.id %>, '<%= @notice.title %>')
<% else %>
  Service.addNotice("<%= j(render "admin/notices/notice_row", notice: @notice) %>", <%= @notice.id %>);
<% end %>
Service.showNoty("Шаблон успешно добавлен!");
$("#notices-dialog-container").html("");