= javascript_include_tag 'redactor', 'redactor.ru'
= stylesheet_link_tag 'redactor'

:javascript
  $(document).ready(function(){   
    var tableObj = $('#notice-list').dataTable({
      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
      "sPaginationType": "bootstrap",
      "aoColumns":[
        null,
        null,
        { "bSortable": false }
      ],
      "oLanguage": {
        "sProcessing":   "Подождите...",
        "sLengthMenu":   "Показать _MENU_ записей",
        "sZeroRecords":  "Записи отсутствуют.",
        "sInfo":         "Записи с _START_ до _END_ из _TOTAL_ записей",
        "sInfoEmpty":    "Записи с 0 до 0 из 0 записей",
        "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
        "sInfoPostFix":  "",
        "sSearch":       "Поиск:",
        "sUrl":          "",
        "oPaginate": {
            "sFirst": "Первая",
            "sPrevious": "Предыдущая",
            "sNext": "Следующая",
            "sLast": "Последняя"
        }
      }
    });
    $("#notice-list").data('api', tableObj);
  });

#notices-dialog-container

.left-pane.projects  
  .well
    %ul.nav.nav-list#projects-list
      %li.nav-header 
        = "Проекты"        
      - @projects.each do |project|
        %li{ :class => !@project.nil? && @project.id == project.id ? "active" : "" }
          = link_to admin_project_notices_path(project) do
            %i.icon-list-alt
            = project.title
- unless @project.nil?
  = render "main_part"
  = render "right_part"