/*<% if @content.nil? %>
  Service.showNoty("Ошибка! Пустое сообщение", 'error', 1500);
<% else %>
  $.noty.close(window.previewAlert);
  window.previewAlert = Service.showNoty("<%= raw j(@content.gsub(/(\r\n|\n|\r)/,'')) %>", 'alert', 150000);
<% end %>*/

$("#notices-dialog-container").html("<%= j(render "shared/notices/message_text") %>");