<% if @is_project_section %>
  $("#add-project-dialog-container").css('visibility', 'hidden');
  try{
    $.noty.close(window.previewAlert);
  }catch(e){}
<% end %>
$("#notices-dialog-container").html("<%= j(render "shared/notices/add_dialog") %>");