<% if @content.nil? %>
  Service.showNoty("Выберите шаблон для просмотра!", 'error', 1500);
<% else %>
  $.noty.close(window.previewAlert);
  window.previewAlert = Service.showNoty("<strong>Просмотр шаблона: <%= @template.title %></strong><br/><b>Тема: </b><%= @template.theme %><br /><%= j(raw @content.gsub(/(\r\n|\n|\r)/,'')) %>", 'alert', 150000);
<% end %>