Service.updateNotice("<%= j(render "admin/notices/notice_row", notice: @notice) %>", <%= @notice.id %>);
$("#crud-notify-dlg").modal('hide');
Service.showNoty("Шаблон успешно обновлен!");
$("#notices-dialog-container").html("");