!!!
%html
  %head
    %title ProfCareer | Администрирование
    = stylesheet_link_tag  "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body    
    = render "shared/admin_header"
    = yield
    #admin-container
    = render "shared/admin_footer"

    - if params[:controller] != 'admin/pages' && params[:controller] != 'admin/settings' && params[:controller] != 'admin/properties'
      = link_to "#", class: "toggles" do
        %i.icon-chevron-left.icon-white