<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "prototype", "effects", "dragdrop", 'rails' %>

  <%= javascript_include_tag "/extjs/adapter/prototype/ext-prototype-adapter.js"%>
  <%= javascript_include_tag "/extjs/ext-all.js" %>
  <%= javascript_include_tag "/extjs/ux/ux-all.js"%>
  
  <%= stylesheet_link_tag    "/extjs/resources/css/ext-all.css" %>
  <%= stylesheet_link_tag    "/extjs/resources/css/xtheme-gray.css"%>
  <%= stylesheet_link_tag    "/extjs/ux/css/ux-all.css"%>

  <%= javascript_include_tag  "application" %>
  <%= javascript_include_tag  'admin/admin.js'%>
  <%= javascript_include_tag  'admin/controls/nav_bar.js'%>
  
  <%= javascript_include_tag  "jquery" %>
  
  <script type="text/javascript" charset="utf-8">
    jQuery.noConflict();
    var $j = jQuery;
  </script>
    
  <%= stylesheet_link_tag 'admin.css'%>
  
  <%= csrf_meta_tag %>
  
  <%= yield :header %>
</head>  
<body>
  
  <div id="sidebar"><%= yield :sidebar %></div>
  <div id="content"><%= yield %></div>
  
  <script type="text/javascript">
    var controllerInfo = <%= raw @controller_info.to_json %>;
  </script>

  <%= yield :javascript %>
</body>
</html>