<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<title>Опросы.</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<meta name="robots" content="index, nofollow" /> 

<%= stylesheet_link_tag 'frontend'%>

<!--[if IE 6]>
<script src="http://demo.woothemes.com/mortar/wp-content/themes/mortar/includes/js/pngfix.js"></script>
<script type="text/javascript">
  DD_belatedPNG.fix('img');
</script>
<![endif]--> 
<!--[if lte IE 7]>
<link rel="stylesheet" type="text/css" href="http://demo.woothemes.com/mortar/wp-content/themes/mortar/ie.css" />
<script type="text/javascript" src="http://demo.woothemes.com/mortar/wp-content/themes/mortar/includes/js/menu.js"></script>
<![endif]-->

<%= csrf_meta_tag %>

<%= yield :header %>
</head>

<body  class="page page-template page-template-template-fullwidth-php custom">

<div id="tile">

  <div class="container_16">
    <div id="header" class="grid_16">
      <div class="grid_7 alpha">
        <div id="logo">
          <h1>
            <a href="<%= root_url %>">
              <%= image_tag "logo.png", :title => "prof-career.ru", :align => "center" %>PROF-CAREER.RU(DEMO)
            </a>
           </h1>
        </div>
      </div>
      <div class="grid_9 omega">
        <div id="twitter">
          На этом сайте создатели планируют размещать психологические опросники, тесты способностей, с помощью которых любой человек сможет протестировать себя сам, узнать о своих предпочтениях, интересах, способностях.
          <div class="fix"></div>
        </div> 
      </div>

    <div class="grid_16 nav_wrapper">
      <%= render :partial => 'shared/navigation'%>
    </div><!-- / #nav_wrapper -->

    <div id="content" class="grid_16">
      <div id="main" class="grid_12 alpha">
        <div class="entry">
          <div class='notices'>
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <% end %>
          </div>
          <%= yield %>
        </div><!-- / #entry -->
      </div><!-- / #main -->
      <div id="sidebar" class="grid_4 omega"> 
        <!-- Add you sidebar manual code here to show above the widgets --> 
        <div id="auth" class="block widget">
          <%= render :partial => 'shared/auth'%>
        </div> 
      </div><!-- / #sidebar -->
    </div><!-- / #container_16 -->

    <div class="container_16">

      <div class="credits">
        <div class="grid_16 nav_wrapper">
          <div class="grid_8 alpha">
            <p style="text-align:left;">Copyright &copy; 2010-<%= Time.now.year %> prof-career.ru</p>
          </div><!-- / #grid_8 -->

          <div class="grid_8 omega">

            <p style="text-align:right;">Designed by  <a href="http://www.alterego-russia.ru" target="_blank">
              <%= image_tag "alter_logo.png", :title => "AlterEgo Studio" %>
              </a></p>

          </div><!-- / #grid_8 -->
        </div><!-- / #grid_16 -->
      </div><!-- / #credits -->
    </div><!-- / #container_16 -->
  </div><!-- / #tile -->
</body>
</html>