<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<title>Опросы</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="index, nofollow" />

<%= stylesheet_link_tag 'remote_frontend'%>


<!--[if IE 6]>
<script src="http://demo.woothemes.com/mortar/wp-content/themes/mortar/includes/js/pngfix.js"></script>
<script type="text/javascript">
  DD_belatedPNG.fix('img');
</script>
<![endif]-->
<!--[if lte IE 7]>
<link rel="stylesheet" type="text/css" href="http://demo.woothemes.com/mortar/wp-content/themes/mortar/ie.css" />
<script type="text/javascript" src="http://demo.woothemes.com/mortar/wp-content/themes/mortar/includes/js/menu.js"></script>
<![endif]-->

<%= csrf_meta_tag %>

<%= yield :header %>

<% if project.style.present? %>
  <style type="text/css">
    <%= raw project.style%>
  </style>
<%end%>

<SCRIPT type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
</SCRIPT>

</head>
<body <%= yield :block_backward %> class="page page-template page-template-template-fullwidth-php custom" >

<div id="tile">
  <div class="container_16">
    <div id="content" class="grid_16">

      <div id="main" class="grid_12 alpha">
        <div class="entry">
          <% unless flash[:notice].blank? %>
            <div style="padding:5px; border:1px solid green;color:green;">
              <%= flash[:notice] %>
            </div>
          <% end %>
          
          <%= yield %>
        </div><!-- / #entry -->
      </div><!-- / #main -->
    </div><!-- / #container_16 -->
  </div><!-- / #tile -->
</body>
</html>
